{% extends 'layout.html.twig' %}

{% block content %}
    <h4 class="">Liste des dernières adhésions / ré-adhésions</h4>
    <h5>par date de saisie</h5>

    {% if is_granted("ROLE_FINANCE_MANAGER") %}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">tune</i>Filtres (
                    {% if to is not null %}
                    du {{ from | date_fr_full }} au {{ to | date_fr_full }}
                    {% else %}
                    à partir du {{ from | date_fr_full }}
                    {% endif %})</div>
                <div class="collapsible-body">
                    <form name="form" method="get" action="">
                        <div class="row">
                            <div class="input-field col m3">
                                <input name="from" value="{{ from | date('Y-m-d') }}" class="datepicker" type="text">
                                <label for="from" class="active">A partir de</label>
                            </div>
                            <div class="input-field col m3">
                                <input name="to" value="{% if to is not null %}{{ to | date('Y-m-d') }}{% endif %}" class="datepicker" type="text">
                                <label for="to" class="active">Jusqu'à</label>
                            </div>
                        </div>
                        <button type="submit" id="form_filter" class="btn" value="filtrer">Filtrer</button>
                    </form>
                </div>
            </li>
        </ul>

        <h5>Total sur toute la période : {{ grand_total['grand_total'] }}€</h5>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="row">
                    {% for i in 1..6 %}
                        <div class="col s2 center">
                            <small>Total {{ i | payment_mode }}</small>{% if grand_total['sum_'~i] is defined and grand_total['sum_'~i] > 0 %}<br><b>{{ grand_total['sum_'~i] }}</b>€{% endif %}
                        </div>
                    {% endfor %}
                </div>
            </li>
        </ul>

        {% set date = null %}
        {% set datekey = null %}

        {% for registration in registrations %}
            {% if date and (date != registration.date | date('d F Y')) and totaux[datekey] is defined %}
                <li>
                    <div class="row">
                        {% for i in 1..6 %}
                        <div class="col s2 center">
                            <small>Total {{ i | payment_mode }}</small>{% if totaux[datekey]['sum_'~i] is defined and totaux[datekey]['sum_'~i] > 0 %}<br><b>{{ totaux[datekey]['sum_'~i] }}</b>€{% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </li>
            {% endif %}
            {% if not date or date != (registration.date | date('d F Y')) %}

                {% if date %}
                    </ul>
                {% endif %}
                {% set date = (registration.date | date('d F Y')) %}
                {% set datekey = (registration.date | date('Y-m-d')) %}
                <h5>{{ registration.date | date_fr_long }}</h5>
                <ul class="collapsible" data-collapsible="accordion">
            {% endif %}
            <li class="">
                <div class="collapsible-header {% if registration.membership is defined and registration.membership and (registration.membership.registrations | length) > 1 %}teal{% elseif registration.type == constant('TYPE_ANONYMOUS', registration) %}orange{% else %}indigo{% endif %} lighten-4">
                    {% if registration.amount is not null %}
                        {% if registration.mode == constant('TYPE_CREDIT_CARD', R) or  registration.mode == constant('TYPE_HELLOASSO', R)  %}
                            <i class="material-icons tiny">credit_card</i>
                        {% else %}
                            <i class="material-icons tiny">attach_money</i>
                        {% endif %}

                        {{ registration.amount }}
                        {{ registration.mode | payment_mode }}
                    {% else %}
                        <i class="material-icons tiny">people</i>
                        Bénéficiaire rattaché
                    {% endif %}
                    {% if registration.registrar %}
                        par&nbsp;
                        {% if registration.registrar.beneficiary %}
                            <a href="{{ path("member_show",{"member_number":registration.registrar.beneficiary.membership.memberNumber}) }}">{{ registration.registrar.username }}</a>
                        {% else %}
                            {{ registration.registrar.username }}
                        {% endif %}
                        &nbsp;&agrave;&nbsp;
                        {{ registration.date | date('H:i') }}
                    {% endif %}
                    {% if registration.membership %}
                        pour #<a
                            href="{{ path("member_show",{"member_number":registration.membership.memberNumber}) }}">{{ registration.membership.memberNumber }}</a>&nbsp;
                        {{ registration.beneficiary }}
                        {% if(registration.membership.registrations | length) > 1 %}
                            (Ré-adhésion) effective le {{ registration.startDate | date('d F Y') }}
                        {% endif %}
                    {% else %}
                        pour {{ registration.beneficiary }}
                    {% endif %}
                </div>

                {% if is_granted("ROLE_FINANCE_MANAGER") and (registration.type == constant('TYPE_MEMBER', registration)) %}
                    <div class="collapsible-body">
                        <a href="{{ path("registration_edit",{"id":registration.id |split('_')[1] }) }}" class="btn waves-effect waves-light">Editer</a>
                        {% if(registration.membership.registrations | length) > 1 %}
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                {{ form_start(delete_forms[registration.id]) }}
                                {{ form_widget(delete_forms[registration.id]) }}
                                <div>
                                    <button type="submit" class="btn waves-effect waves-light red">Supprimer</button>
                                </div>
                                {{ form_end(delete_forms[registration.id]) }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% elseif is_granted("ROLE_FINANCE_MANAGER") and  (registration.type == constant('TYPE_ANONYMOUS', registration)) %}
                    <div class="collapsible-body">
                        <div>
                            {% if registration | recall_date %}
                                Dernière relance faite le {{ registration | recall_date | date_fr_with_time }}
                            {% else %}
                                Jamais relancé
                            {% endif %}&nbsp;
                            <a href="{{ path('user_quick_new_recall',{'id' : registration.id[2:]}) }}" class="btn waves-effect waves-light green darken-2"><i class="material-icons left">redo</i> Relancer</a>
                        </div>
                    </div>
                {% endif %}
            </li>

        {% endfor %}
            {% if totaux[datekey] is defined %}
                <li>
                    <div class="row">
                        {% for i in 1..6 %}
                            <div class="col s2 center">
                                <small>Total {{ i | payment_mode }}</small>{% if totaux[datekey]['sum_'~i] is defined and totaux[datekey]['sum_'~i] > 0 %}<br><b>{{ totaux[datekey]['sum_'~i] }}</b>€{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endif %}
        </ul>
        <br>
        <ul class="pagination">
            {% if to is not null %}
                <li class="{% if(page==1) %}disabled{% else %}waves-effect{% endif %}">
                    <a href="{% if(page==1) %}#!{% else %}{{ path("registrations",{'page':page-1,'from':(from | date('Y-m-d')),'to':(to | date('Y-m-d'))}) }}{% endif %}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                {% for i in range(1,nb_of_pages) %}
                    <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a
                                href="{{ path("registrations",{'page':i,'from':(from | date('Y-m-d')),'to':(to | date('Y-m-d'))}) }}">{{ i }}</a></li>
                {% endfor %}
                <li class="{% if(page==nb_of_pages) %}disabled{% else %}waves-effect{% endif %}">
                    <a href="{% if(page==nb_of_pages) %}#!{% else %}{{ path("registrations",{'page':page+1,'from':(from | date('Y-m-d')),'to':(to | date('Y-m-d'))}) }}{% endif %}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% else %}
                <li class="{% if(page==1) %}disabled{% else %}waves-effect{% endif %}">
                    <a href="{% if(page==1) %}#!{% else %}{{ path("registrations",{'page':page-1,'from':(from | date('Y-m-d'))}) }}{% endif %}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                {% for i in range(1,nb_of_pages) %}
                    <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a
                                href="{{ path("registrations",{'page':i,'from':(from | date('Y-m-d'))}) }}">{{ i }}</a></li>
                {% endfor %}
                <li class="{% if(page==nb_of_pages) %}disabled{% else %}waves-effect{% endif %}">
                    <a href="{% if(page==nb_of_pages) %}#!{% else %}{{ path("registrations",{'page':page+1,'from':(from | date('Y-m-d'))}) }}{% endif %}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
