{% extends 'layout.html.twig' %}

{% block beforecontainer %}
{% endblock %}
{% block aftercontainer %}
{% endblock %}

{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h2 class="header center orange-text">Première connexion</h2>
            {{ form_start(form) }}
            {{ form_errors(form) }}
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_widget(form.member_number) }}
                        {{ form_label(form.member_number) }}
                    </div>
                    <p class=" col s12 light"> Pas encore de numéro d'adhérent ? numéro perdu ?<a href="{{ path('find_member_number') }}"> Trouver mon numéro </a></p>
                </div>
                <div class="row center">
                    {{ form_widget(form.find, {'attr': {'class': 'btn waves-effect waves-light'}}) }}
                </div>
            {{ form_end(form) }}
            <div class="row center">
                <p class=" col s12 light">Déjà un compte ? <a href="{{ path('fos_user_security_login') }}">identifiez-vous</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
