{% if  app.user.beneficiary %}
    {% set beneficiary = app.user.beneficiary %}
    {% set member = beneficiary.membership %}
    {% set beneficiariesWhoCanBook = shift_service.beneficiariesWhoCanBook(member) %}
    {% if not member.frozen %}
        <canvas id="gauge"
                data-type="radial-gauge"
                data-width="300"
                data-height="300"
                data-units="{{ member.timeCount / 60 }}h"
                data-min-value="-9"
                data-start-angle="90"
                data-ticks-angle="180"
                data-value-box="false"
                data-value="{{ member.timeCount / 60 }}"
                data-max-value="{{ ((member.beneficiaries | length) * due_duration_by_cycle) / 60 }}"
                data-major-ticks="-9h,-6h,-3h,0,3h{% if (member.beneficiaries | length) > 1 %},6h{% endif %}"
                data-minor-ticks="2"
                data-stroke-ticks="true"
                data-highlights='[
        {"from": -9, "to": -6, "color": "rgba(200, 50, 50, .95)"},
        {"from": -6, "to": -3, "color": "rgba(200, 50, 50, .75)"},
        {"from": -3, "to": 0, "color": "yellow"},
        {"from": 0, "to": 3, "color": "#8bc34a55"}{% if (member.beneficiaries | length) > 1 %},{"from": 3, "to": 6, "color": "#8bc34a"}{% endif %}
    ]'
                data-color-plate="#fff"
                data-border-shadow-width="0"
                data-borders="false"
                data-needle-type="arrow"
                data-needle-width="2"
                data-needle-circle-size="7"
                data-needle-circle-outer="true"
                data-needle-circle-inner="false"
                data-animation-duration="1500"
                data-animation-rule="linear"
                style="margin-bottom: -100px"
        ></canvas>
        {% if  member.timeCount < 0 %}
            <p><i class="material-icons">warning</i> Tu as du retard sur ton bénévolat. Pense à réserver tes créneaux.
            </p>
        {% else %}
            {% set remaining = shift_service.remainingToBook(member) %}
            {% if  remaining > 0 %}
                <p><i class="material-icons">warning</i> Pense à réserver tes créneaux. <br>Tu as
                    encore {{ remaining | duration_from_minutes }} à réserver.</p>
            {% else %}
                <p>Bravo
                    ! {% if member.beneficiaries | length %}Vos{% else %}Tes{% endif %} {{ due_duration_by_cycle | duration_from_minutes }}
                    ont été planifiées sur le cycle actuel.</p>
                {% if beneficiariesWhoCanBook | length > 0 %}
                    <p>
                        {% if beneficiariesWhoCanBook | length > 1 %}
                            {% for b in beneficiariesWhoCanBook %} {{ b.firstname }} {% if loop.index < loop.length %} et {% endif %}{% endfor %}peuvent
                        {% else %}
                            {{ (beneficiariesWhoCanBook | first).firstname }} peut
                        {% endif %} encore
                        effectuer {{ (shift_service.shiftTimeByCycle(member) - member.timeCount(member.endOfCycle)) | duration_from_minutes }}
                        .</p>
                {% else %}
                    <p><i class="material-icons">stars</i> Bravo !
                        Tous {% if member.beneficiaries | length %}vos{% else %}tes{% endif %} créneaux ont été
                        planifiés
                        sur le cycle actuel !</p>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    <a href="{{ path("booking") }}" class="btn teal"
       {% if beneficiariesWhoCanBook | length == 0 %}disabled{% endif %}>
        <i class="material-icons left">schedule</i>
        Je réserve un créneau
    </a>

    <p>Mon cycle actuel se termine le {{ member.endOfCycle | date_fr_long }}</p>

{% endif %}