{% if app.user.beneficiary %}
    {% set beneficiary = app.user.beneficiary %}
    {% set member = beneficiary.membership %}

    <ul class="collapsible collapsible-expandable">
        {% if use_fly_and_fixed %}
            <li class="active">
                <div class="collapsible-header">
                    <i class="material-icons">event</i>Créneau{% if period_positions | length > 1 %}x{% endif %} fixe
                    {% if fly_and_fixed_entity_flying == 'Membership' %}
                        {% if member.flying and period_positions | length > 1 or not member.flying and period_positions | length == 0 %}
                            <span style="margin-left:14px;">⚠️</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        {% if period_positions | length > 0 %}
                            {% for period_position in period_positions %}
                                <div class="col s12 m6 xl4">
                                    {% include "user/_partial/period_position_card.html.twig" with { period_position: period_position } %}
                                </div>
                            {% endfor %}
                            {% if fly_and_fixed_entity_flying == 'Membership' and member.flying %}
                                <div class="col s12">
                                    <div class="card-panel teal warning white-text">
                                        {% if member.beneficiaries | length > 1 %}Votre{% else %}Ton{% endif %} compte est <strong>volant</strong> alors que {% if member.beneficiaries | length > 1 %}vous avez{% else %}tu as{% endif %} {{ period_positions | length }} créneau{% if period_positions | length > 1 %}x{% endif %} fixe.
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if fly_and_fixed_entity_flying == 'Membership' and not member.flying %}
                                <div class="col s12">
                                    <div class="card-panel teal warning white-text">
                                        {% if member.beneficiaries | length > 1 %}Votre{% else %}Ton{% endif %} compte est <strong>fixe</strong> alors que {% if member.beneficiaries | length > 1 %}vous n'avez{% else %}tu n'as{% endif %} pas de créneaux fixe.
                                    </div>
                                </div>
                            {% else %}
                                <span>Aucun créneau fixe</span><br />
                                <span>(vous avez un compte volant)</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endif %}
        {% if (member.reservedShifts | length) > 0 %}
            <li class="active">
                <div class="collapsible-header">
                    <i class="material-icons">event_note</i>{% if member.beneficiaries | length > 1 %}Vos{% else %}Mes{% endif %} créneaux à accepter
                </div>
                <div class="collapsible-body">
                    {% for shift in member.reservedShifts %}
                        {% include "booking/_partial/reserved_shift_card.html.twig" with { shift: shift } %}
                    {% endfor %}
                </div>
            </li>
        {% endif %}
        {% for cycle, shifts in shifts_by_cycle %}
            {% if (cycle in [0, 1]) %}
                <li class="active">
                    <div class="collapsible-header">
                        <i class="material-icons">date_range</i>{% if member.beneficiaries | length > 1 %}Vos{% else %}Mes{% endif %} créneaux pour le cycle {% if cycle == 0 %}courant{% else %}suivant{% endif %} (du {{ membership_service.startOfCycle(member,cycle) | date_fr_long }} au {{ membership_service.endOfCycle(member,cycle) | date_fr_long }})
                    </div>
                    <div class="collapsible-body">
                        {% if shifts | length > 0 %}
                            <div class="row">
                                {% for shift in shifts %}
                                    <div class="col s12 m6 xl4 {% if shifts | length == 1 %}push-m3{% endif %}">
                                        {% include "booking/_partial/home_shift_card.html.twig" with { shift: shift } %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            Pas de créneau
                        {% endif %}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        <li>
            <div class="collapsible-header">
                <i class="material-icons">event_available</i>{% if member.beneficiaries | length > 1 %}Vos{% else %}Mes{% endif %} créneaux passés
            </div>
            <div class="collapsible-body">
                {# Shift history #}
                <div class="row">
                    {% for cycle in -1..(-1 * max_nb_of_past_cycles_to_display) %}
                        <div class="col s12 m6 xl4">
                            <h6>Cycle précédent (du {{ membership_service.startOfCycle(member,cycle) | date_short }} au {{ membership_service.endOfCycle(member,cycle) | date_short }})</h6>
                            {% set iscycleexist = cycle in shifts_by_cycle|keys %}
                            {% if iscycleexist  %}
                                {% set previousShifts = shifts_by_cycle[cycle] %}
                                {% if previousShifts | length > 0 %}
                                    {% for shift in previousShifts %}
                                        <div class="col s12 m12">
                                            {% include "user/_partial/mini_shift_card.html.twig" with { shift: shift } %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    Pas de créneau
                                {% endif %}
                            {% else %}
                                    Pas de créneau    
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </li>
    </ul>
{% endif %}
