{% extends 'layout.html.twig' %}

{% block content %}
<div class="row"><label>Premier créneau: </label>{% if (app.user.firstShift()) %}{{ app.user.firstShift().shift.start|date('d/m/Y H:i') }}{% else %}N/A{% endif %}</div>
<div class="row"><label>Début du cycle en cours: </label>{{ app.user.startOfCycle(1)|date('d/m/Y') }}</div>
<div class="row"><label>Fin du cycle en cours: </label>{{ app.user.endOfCycle(1)|date('d/m/Y') }}</div>
<div class="row"><label>Restant à réserver: </label>{{ app.user.remainingToBook() }}</div>
<div class="row"><label>Réservé sur le cycle en cours: </label>{{ app.user.cycleShiftsDuration(1) }}</div>
<div class="row"><label>Début du prochain cycle: </label>{{ app.user.startOfCycle(2)|date('d/m/Y') }}</div>
<div class="row"><label>Fin du prochain cycle: </label>{{ app.user.endOfCycle(2)|date('d/m/Y') }}</div>

    <div class="row">
        <div class="col m2">
        </div>
        <div class="col m10">
            <div style="display: flex;">
                {% for i in hours %}
                    {#<span style="float: left; width: {{ 100 / (hours|length) }}%">#}
                    <div style="flex: 1">
                        <div style="text-align: center;width: 100%;margin-left: -50%;">
                            {{ i }}
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for shifts in shiftsByDay %}
        <div class="row" style="display: flex;height: 40px">
            <div class="col m2 valign-wrapper">
                <div>
                    {{ (shifts|first).start|date_fr_long }}
                </div>
            </div>
            <div class="col m10">
                <div style="position: relative">
                    {% for shift in shifts %}
                        {% include "booking/_partial/shift.html.twig" with { user: app.user, shift: shift, start: hours|first, end: hours|last   } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
