{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('event_list') }}"><i class="material-icons">list</i>événements</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">edit</i>
{% endblock %}

{% block content %}
    <h4 class="">Modifier l'événement</h4>

    {{ form_start(form) }}
    <div class="row">
        <div class="col s6">
            <div class="errors">
                {{ form_errors(form.title) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.title) }}
                {{ form_label(form.title) }}
            </div>
        </div>
        <div class="col s6">
            <div class="errors">
                {{ form_errors(form.date) }}
            </div>
            <div>
                {{ form_label(form.date) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.date) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="errors">
                {{ form_errors(form.imgFile) }}
            </div>
            <div class="">
                {{ form_widget(form.imgFile) }}
                {{ form_label(form.imgFile) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="errors">
                {{ form_errors(form.need_proxy) }}
            </div>
            <div class="">
                {{ form_widget(form.need_proxy) }}
                {{ form_label(form.need_proxy) }}
            </div>
        </div>
        <div class="col s6">
            <div class="errors">
                {{ form_errors(form.min_date_of_last_registration) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.min_date_of_last_registration) }}
                {{ form_label(form.min_date_of_last_registration) }}
            </div>
        </div>
    </div>
    <div class="errors">
        {{ form_errors(form.description) }}
    </div>
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    <div>
        <button type="submit" class="btn-large waves-effect waves-light">Enregistrer</button>
    </div>
    {{ form_end(form) }}

    {% if event.needProxy %}
        <ul>
            <li>
                <a href="{{ path("event_proxies_list",{'id':event.id}) }}"><i class="material-icons">list</i>Procurations</a>
            </li>
            <li>
                <a href="{{ path("event_signatures",{'id':event.id}) }}"><i class="material-icons">list</i>Emargement</a>
            </li>
        </ul>
    {% endif %}

    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    <div>
        <button type="submit" class="btn waves-effect waves-light red">Supprimer</button>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}

