<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <style>
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #FAFAFA;
            font-size: 12px ;
            font-family: 'Montserrat', sans-serif;
        }
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .page {
            width: 210mm;
            min-height: 297mm;
            padding: 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .subpage {
            /*padding: 1cm;*/
            /*border: 5px red solid;*/
            height: 257mm;
            /*outline: 2cm #FFEAEA solid;*/
        }
        .subpage table{
            width: 100%;
            border: 0;
            border-collapse: collapse;
        }
        .subpage table th{
            text-align: left;
        }
        .subpage table tr{
            height: 1cm;
        }

        @page {
            size: A4;
            margin: 0;
        }
        @media print {
            html, body {
                width: 210mm;
                height: 297mm;
            }
            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }

            tr.odd{
                background: lightgray !important;
                -webkit-print-color-adjust: exact;
            }
        }
        .wrong{
            background: lightgray;
            color: black;
            text-align: center;
            font-size: 10px;
        }.warning{
             color: black;
             text-align: center;
             font-size: 10px;
         }
        .index{
            font-size: 8px;
            color: gray;
        }
        .date{
            font-size: 9px;
        }
        .smaller{
            font-size: 9px;
        }
        tr.odd{
            background: lightgray;
        }
        .sign{
            border: 2px solid black;
            background: white;
        }
        .center{
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<div class="book">
    <div class="page">
        <div class="subpage">
            {#<h3 class="center">Emargement {{ event.title }} / {{ event.date | date('d-m-Y H:i') }}</h3>#}
            <table>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>numéro</th>
                    <th>(re)adhésion</th>
                    <th class="center">Signature</th>
                    <th class="center">&nbsp;&nbsp;Vote&nbsp;&nbsp;&nbsp;</th>
                </tr>
                {% set index = 1 %}
                {% set letter = "" %}
                {% for beneficiary in beneficiaries %}
                {% if beneficiary.membership.lastRegistration %}
                    {% set letter = beneficiary.lastname|first %}
                    {% if beneficiary.lastname|first != letter and letter != "" %}
                        {#{% set index = index + 1 %}#}
                        {#{% if index > 16 %}#}
                            {% set index = 0 %}
            </table>
        </div>
    </div>
    <div class="page">
        <div class="subpage">
            <table>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>numéro</th>
                    <th>(re)adhésion</th>
                    <th class="center">Signature</th>
                    <th class="center">&nbsp;&nbsp;Vote&nbsp;&nbsp;&nbsp;</th>
                </tr>

                        {#{% endif %}#}
                <tr>
                    <td colspan="6" align="center">- <b>{{ letter }}</b> -</td>
                </tr>
                    {% endif %}
                        {% if index < 22 %}
                            <tr class="{% if loop.index is divisible by(2) %}odd{% else %}even{% endif %}" >
                                <td class="index">{{ loop.index }}</td>
                                <td {% if beneficiary.lastname | length > 10 %}class="smaller"{% endif %}>{{ beneficiary.lastname }}</td>
                                <td {% if beneficiary.firstname | length > 10 %}class="smaller"{% endif %}>{{ beneficiary.firstname }}</td>
                                <td>#{{ beneficiary.membership.memberNumber }}</td>
                                <td class="date">{{ beneficiary.membership.lastRegistration.date | date('d-m-Y') }}</td>
                                {% if not beneficiary.isMain %}
                                    <td colspan="2" class="warning" style="background: gray; color: white;">Beneficiaire de <b>{{ beneficiary.membership.mainBeneficiary.lastname }}&nbsp;{{ beneficiary.membership.mainBeneficiary.firstname }}</b>
                                        <br>
                                        <i class="fas fa-exclamation-triangle"></i>&nbsp;<b>NE PAS SIGNER ICI</b>&nbsp;<i class="fas fa-exclamation-triangle"></i>
                                    </td>
                                {% elseif (event.proxiesByGiver(beneficiary.membership) | length > 0) %}
                                    <td colspan="2" class="warning" style="background: gray; color: white;">Procuration donnée à
                                        {% if event.proxiesByGiver(beneficiary.membership).first.owner %}
                                        {{ event.proxiesByGiver(beneficiary.membership).first.owner.lastname }}&nbsp;{{ event.proxiesByGiver(beneficiary.membership).first.owner.firstname }}&nbsp;
                                        {{ event.proxiesByGiver(beneficiary.membership).first.owner.membership.memberNumber }}
                                        {% else %}
                                            Membre inconnu
                                        {% endif %}
                                        <br><i class="fas fa-times-circle"></i>&nbsp;Vote déjà pris en compte</td>
                                {% elseif ( beneficiary.membership.lastRegistration.date < event.minDateOfLastRegistration) %}
                                    <td colspan="2" class="wrong" style="background: gray; color: white;"><i class="fas fa-times-circle"></i>&nbsp;Adhésion expirée - Vote impossible</td>
                                {% else %}
                                    <td class="sign"></td>
                                    <td class="sign"></td>
                                {% endif %}

                            </tr>
                            {% set index = index + 1 %}
                            {% if ((event.proxiesByOwner(beneficiary) | length) > 0) and (event.proxiesByOwner(beneficiary).first.giver) %}
                                <tr class="{% if loop.index is divisible by(2) %}odd{% else %}even{% endif %}">
                                    <td class="smaller">Procuration</td>
                                    <td>{{ event.proxiesByOwner(beneficiary).first.giver.mainBeneficiary.lastname }}</td>
                                    <td>{{ event.proxiesByOwner(beneficiary).first.giver.mainBeneficiary.firstname }}</td>
                                    <td>#{{ event.proxiesByOwner(beneficiary).first.giver.memberNumber }}</td>
                                    <td></td>
                                    <td class="sign"></td>
                                    <td class="sign"></td>
                                </tr>
                                {% set index = index + 1 %}
                            {% endif %}
                        {% endif %}
                {% endif %}
                {% if (index > 0) and index >= 22 %}
                {% set index = 0 %}
            </table>
        </div>
    </div>
    <div class="page">
        <div class="subpage">
            <table>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>numéro</th>
                    <th>(re)adhésion</th>
                    <th class="center">Signature</th>
                    <th class="center">&nbsp;&nbsp;Vote&nbsp;&nbsp;&nbsp;</th>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    window.print();
</script>
</body>
</html>