{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">list</i>postes
{% endblock %}

{% block content %}
    <h4 class="">Liste des postes</h4>

    <table class="responsive-table striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Poste</th>
            <th>Couleur</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td {% if not job.enabled %}style="text-decoration: line-through"{% endif %}>{{ job.name }}</td>
                <td class="{{ job.color }} white-text">{{ job.color }}</td>
                <td class="center-align">{% if job.description is not empty %} <i class="material-icons">playlist_add_check</i> {% endif %}</td>
                <td><a href="{{ path("job_edit",{'id':job.id}) }}"><i class="material-icons">edit</i>editer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('job_new') }}" class="btn"><i class="material-icons left">add</i>Ajouter un poste</a>

{% endblock %}
