{% extends 'layout.html.twig' %}

{% block title %}Nouvelle adhésion - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('user_office_tools') }}"><i class="material-icons">folder_shared</i>&nbsp;Adhésion et ré-adhésion</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Nouvelle adhésion
{% endblock %}

{% block content %}
<h4>Nouvelle adhésion</h4>

{{ form_start(form) }}
{% include "member/_partial/member_form.html.twig" with { form: form } %}
<div>
    <button type="submit" class="btn-large waves-effect waves-light">Adhérer</button>
</div>
{{ form_end(form) }}
{% endblock %}
