
<div class="row">
    <div class="input-field amount col s1">
        {{ form_row(form.amount) }}
    </div>
    <div class="type col s2">
        {{ form_row(form.mode) }}
    </div>
    <div class="date col s3">
        <div class="row">
            <div class="col s4">{{ form_row(form.date.day) }}</div>
            <div class="col s4">{{ form_row(form.date.month) }}</div>
            <div class="col s4">{{ form_row(form.date.year) }}</div>
        </div>
    </div>
    <div class="col s3">
        {{ form_row(form.registrar) }}
    </div>
    <div class="col s3">
        <button type="submit" class="btn waves-effect">OK</button>
    </div>
</div>