{% extends 'layout.html.twig' %}

{% block title %}Listes des procédures / nouveautés - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
{% if is_granted("ROLE_ADMIN_PANEL") %}
    <a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
{% endif %}
<i class="material-icons">list</i>&nbsp;Liste des procédures / nouveautés
{% endblock %}

{% block content %}
    <h4>Liste des procédures / nouveautés</h4>

    {% if nbOfNew %}
        <h5 class="">{{ nbOfNew }} nouveauté{% if nbOfNew | length > 1 %}s{% endif %} depuis mon dernier creneau</h5>
    {% endif %}
    {% if app.user.beneficiary %}
        {% if frontend_cookie and frontend_cookie.last_processupdates_check is defined %}
            {% set check_date = frontend_cookie.last_processupdates_check|replace({'_':'+'}) | w3c_to_date %}
        {% else %}
            {% set check_date = app.user.beneficiary | last_shift_date %}
        {% endif %}
    {% else %}
        {% set check_date = date('now') %}
    {% endif %}
    <div class="row">
        <table class="process-update-list" style="table-layout:fixed">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Titre</th>
                    {% if is_granted("ROLE_PROCESS_MANAGER") %}
                    <th>Auteur</th>
                    <th>Lien</th>
                    {% endif %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% set new = true %}
            {% for processUpdate in processUpdates %}
                {% if processUpdate.date < lastShiftDate and new %}
                    <tr class="last-shift">
                        <td><i class="material-icons left">date_range</i>{{ lastShiftDate | date_fr_full_with_time }}</td>
                        <td colspan="{% if is_granted("ROLE_PROCESS_MANAGER") %}3{% endif %}" style="text-align: center">⬆️ Depuis et ⬇️ Avant mon dernier créneau️</td>
                        <td></td>
                    </tr>
                    {% set new = false %}
                {% endif %}
                {% include "process/_partial/line.html.twig" %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if app.user.beneficiary %}
    <script>
        defer(function () {
            var data_raw = Cookies.get("frontend");
            var cookie_data = undefined;
            if (data_raw)
                cookie_data = JSON.parse(data_raw);
            if (!cookie_data)
                cookie_data = {};
            cookie_data.last_processupdates_check = "{{ date('now') | date_w3c }}".replace('+','_'); //checked now
            Cookies.set("frontend", cookie_data);
        });
    </script>
    {% endif %}
    {% if is_granted("ROLE_PROCESS_MANAGER") %}
    <div class="row">
        <a href="{{ path('process_update_new') }}" class="btn"><i class="material-icons left">add</i>Ajouter</a>
    </div>
    {% endif %}
{% endblock %}
