{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('process_update_list') }}"><i class="material-icons">list</i>mises à jour de procédures</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">add</i>
{% endblock %}

{% block content %}
    <h4 class="">Nouvelle mise à jour de procédure / nouveauté</h4>

    {{ form_start(form) }}
    <div class="errors">
        {{ form_errors(form.description) }}
    </div>

    <div class="row">
        <div class="input-field col s12">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="input-field col s12">
            {{ form_label(form.link) }}
            {{ form_widget(form.link) }}
        </div>
    </div>

    {{ form_widget(form.description) }}
    <div>
        <button type="submit" class="btn-large waves-effect waves-light">Créer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}