{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/markdown-editor/editor.css') }}" />
{% endblock %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin_commissions') }}"><i class="material-icons">list</i>commissions</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">edit</i>
{% endblock %}

{% block content %}
    <h4 class="">Editer commission</h4>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn waves-effect waves-light">Editer</button>
    </div>
    {{ form_end(form) }}

    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    <div>
        <button type="submit" class="btn waves-effect waves-light red">Supprimer</button>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/markdown-editor/editor.js') }}"></script>
    <script src="{{ asset('bundles/app/markdown-editor/marked.js') }}"></script>
    <script>
        new Editor({
            element: document.getElementById('appbundle_commission_description'),
        })
    </script>
{% endblock %}