Bonjour {{ shift.shifter.firstname | lower | capitalize }},<br >
<br >
Ceci est juste un petit message pour te rappeler que tu as résérvé un créneau
{{ shift.job.name }} le {{ shift.start | date_fr_long }} de {{ shift.start | date('G\\hi') }} à {{ shift.end | date('G\\hi') }}.<br >
{% if shift.isDismissed %}Tu as demandé à annuler ce créneau, mais personne ne l'a encore repris.<br >{% endif %}

{{ dynamicContent | markdown | raw }}

{% if (shift.shifter | last_shift_date | updates_list_from_date | length) %}
Voici la liste des nouveautés à {{ project_name }} depuis ton dernier créneau le {{ shift.shifter | last_shift_date | date_fr_with_time  }}
<ul>
    {% for update in (shift.shifter | last_shift_date | updates_list_from_date) %}
        <li>{{ update.date | date_fr_long }} - <a href="{{ update.link }}">{{ update.title }}</a> : {{ update.description }}</a></li>
    {% endfor %}
</ul>
{%endif%}

Belle journée à toi.<br >
Céleste, la petite fée des créneaux :)