{% extends 'layout.html.twig' %}

{% block content %}
    <h4 class="">Liste des paiements Helloasso</h4>

    {% if is_granted("ROLE_FINANCE_MANAGER") %}

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>payment_id</th>
                    <th>payment_date</th>
                    <th>received date</th>
                    <th>amount</th>
                    <th>campagne</th>
                    <th>payer_first_name</th>
                    <th>payer_last_name</th>
                    <th>membre</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr class="{% if payment.registration and payment.registration.membership  %}teal{% else %}red{% endif %} lighten-5">
                        <td><i class="material-icons">{% if payment.registration and payment.registration.membership  %}person_pin{% else %}help{% endif %}</i></td>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.paymentId }}</td>
                        <td>{{ payment.date | date('Y-m-d H:i:s') }}</td>
                        <td>{{ payment.createdAt | date('Y-m-d H:i:s') }}</td>
                        <td>{{ payment.amount }}€</td>
                        <td><span class="{% if campaigns[payment.campaignId].url != helloasso_registration_campaign_url  %}red-text{% else %}green-text{% endif %}">{{ campaigns[payment.campaignId].name }}</span></td>
                        <td>{{ payment.payerFirstName }}</td>
                        <td>{{ payment.payerLastName }}</td>
                        <td>{% if payment.registration and payment.registration.membership %}<a href="{{ path('member_show', { 'member_number': payment.registration.membership.memberNumber }) }}">{{ payment.registration.membership }}</a>{% endif %}</td>
                        <td>{% if not payment.registration %}
                                {{ form_start(delete_forms[payment.id]) }}
                                {{ form_widget(delete_forms[payment.id]) }}
                                <div>
                                    <button type="submit" class="btn waves-effect waves-light red">Supprimer</button>
                                </div>
                                {{ form_end(delete_forms[payment.id]) }}
                            {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        </ul>
                        <br>
        <ul class="pagination">
            <li class="{% if(page==1) %}disabled{% else %}waves-effect{% endif %}">
                <a href="{% if(page==1) %}#!{% else %}{{ path("helloasso_payments",{'page':page-1}) }}{% endif %}">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            {% for i in range(1,nb_of_pages) %}
            <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("helloasso_payments",{'page':i}) }}">{{ i }}</a></li>
            {% endfor %}
            <li class="{% if(page==nb_of_pages) %}disabled{% else %}waves-effect{% endif %}">
                <a href="{% if(page==nb_of_pages) %}#!{% else %}{{ path("helloasso_payments",{'page':page+1}) }}{% endif %}">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>

        <a href="{{ path("helloasso_browser") }}" class="btn">Parcourir les paiments Helloasso (API)</a>
    {% endif %}

{% endblock %}
