{% extends 'layout.html.twig' %}

{% block title %}Administration des créneaux - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<i class="material-icons">date_range</i>&nbsp;Administration des créneaux
{% endblock %}

{% block content %}
<div class="row center">
    <h4 class="header">Administration des créneaux</h4>
</div>

{# Filter form  --------- #}
<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">tune</i>Filtres
        </div>
        <div class="collapsible-body">
            {{ form_start(filterForm) }}
            <div class="row">
                <div class="input-field col m3">
                    {{ form_widget(filterForm.type, { 'id': 'SelectionTypeDropBox' }) }}
                    {{ form_label(filterForm.type) }}
                </div>
                <div id="dateSelectionType">
                    <div class="input-field col m3">
                        {{ form_widget(filterForm.from) }}
                        {{ form_label(filterForm.from) }}
                    </div>
                    <div class="input-field col m3">
                        {{ form_widget(filterForm.to) }}
                        {{ form_label(filterForm.to) }}
                    </div>
                </div>
                <div id="weekSelectionType">
                    <div class="input-field col m3">
                        {{ form_widget(filterForm.week) }}
                        {{ form_label(filterForm.week) }}
                    </div>
                    <div class="input-field col m3">
                        {{ form_widget(filterForm.year) }}
                        {{ form_label(filterForm.year) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6">
                    {{ form_widget(filterForm.job) }}
                    {{ form_label(filterForm.job) }}
                </div>
                <div class="input-field col m6">
                    {{ form_widget(filterForm.filling) }}
                    {{ form_label(filterForm.filling) }}
                </div>
            </div>
            {{ form_widget(filterForm.filter) }}
        </div>
    </li>
</ul>
{{ form_end(filterForm) }}

{# Calendar hour line --------- #}
<div class="row">
    <div class="col m2 hide-on-small-only">
    </div>
    <div class="col s12 m10">
        <div style="display: flex;">
            {% for i in range(6, 22) %}
                <div style="flex: 1">
                    <div style="text-align: center;width: 100%;margin-left: -50%;">
                        {{ i }}h
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "admin/booking/_partial/bucket_calendar.html.twig" with { bucketsByDay: bucketsByDay } %}

<div id="modal-bucket" class="modal">
    <div id="modal-bucket-content" class="modal-content">
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function ($) {
            // for the filter form ------------------
            $('#SelectionTypeDropBox').on('change', function () {
                if (this.value === "0") {
                    $('#weekSelectionType').show();
                    $('#dateSelectionType').hide();
                } else {
                    $('#weekSelectionType').hide();
                    $('#dateSelectionType').show();
                }
            })
            .trigger('change');
            $('#modal-bucket').modal({
                onCloseEnd: function() {
                    $('#modal-bucket-content').html('');
                },
                onOpenStart: function(modal, trigger) {
                    var url = $(trigger).attr('data-source');
                    $.get(url, function( data ) {
                        $('#modal-bucket-content').html(data);
                        $('#modal-bucket-content .collapsible').collapsible();
                        $('#modal-bucket-content select').formSelect();
                    });
                }
            });
        });
    </script>
{% endblock %}
