{% extends 'layout.html.twig' %}

{% block title %}Liste des créneaux - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<i class="material-icons">date_range</i>&nbsp;Liste des créneaux
{% endblock %}

{% block content %}
<div class="row center">
    <h4 class="header">Liste des créneaux</h4>
</div>

{# Filter form  --------- #}
<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">tune</i>Filtres
        </div>
        <div class="collapsible-body">
            {{ form_start(filterForm) }}
            <div class="row">
                <div class="input-field col m3">
                    {{ form_widget(filterForm.type, { 'id': 'SelectionTypeDropBox' }) }}
                    {{ form_label(filterForm.type) }}
                </div>
                <div id="dateSelectionType">
                    <div class="input-field col m3">
                        {{ form_widget(filterForm.from) }}
                        {{ form_label(filterForm.from) }}
                    </div>
                    <div class="input-field col m3">
                        {{ form_widget(filterForm.to) }}
                        {{ form_label(filterForm.to) }}
                    </div>
                </div>
                <div id="weekSelectionType">
                    <div class="input-field col m3">
                        {{ form_widget(filterForm.week) }}
                        {{ form_label(filterForm.week) }}
                    </div>
                    <div class="input-field col m3">
                        {{ form_widget(filterForm.year) }}
                        {{ form_label(filterForm.year) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6">
                    {{ form_widget(filterForm.job) }}
                    {{ form_label(filterForm.job) }}
                </div>
                <div class="input-field col m6">
                    {{ form_widget(filterForm.filling) }}
                    {{ form_label(filterForm.filling) }}
                </div>
            </div>
            {{ form_widget(filterForm.filter) }}
        </div>
    </li>
</ul>
{{ form_end(filterForm) }}

{# Calendar hour line --------- #}
<div class="row">
    <div class="col m2 hide-on-small-only">
    </div>
    <div class="col s12 m10">
        <div style="display: flex;">
            {% for i in range(6, 22) %}
                <div style="flex: 1">
                    <div style="text-align: center;width: 100%;margin-left: -50%;">
                        {{ i }}h
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include "admin/booking/_partial/bucket_calendar.html.twig" with { bucketsByDay: bucketsByDay } %}

<div id="modal-bucket" class="modal">
    <div id="modal-bucket-content" class="modal-content">
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        function ajaxError (jqXHR, exception) {
            var msg = '';
            if (jqXHR.status === 0) {
                msg = 'Perte de connexion à internet. Vérifier votre connexion.';
            } else if (jqXHR.status == 404) {
                msg = 'Oups, le créneau n\'existe plus. Quelqu\'un d\'autre l\'a supprimé entre temps ?';
            } else if (jqXHR.status == 500) {
                msg = 'Erreur interne, il faut mettre les informaticiens sur le coup !';
            } else if (exception === 'parsererror') {
                msg = 'Réponse du serveur incompréhensible (JSON parse failed).';
            } else if (exception === 'timeout') {
                msg = 'Le serveur n\'a pas répondu dans les temps...';
            } else if (exception === 'abort') {
                msg = 'Ajax request aborted.';
            } else {
                var data = jqXHR.responseJSON;
                msg = data.message;
            }
            M.toast({ text: msg, displayLength: 5000, classes: 'red' });
        }

        $(document).ready(function ($) {
            // for the filter form ------------------
            $('#SelectionTypeDropBox').on('change', function () {
                if (this.value === "week") {
                    $('#weekSelectionType').show();
                    $('#dateSelectionType').hide();
                } else {
                    $('#weekSelectionType').hide();
                    $('#dateSelectionType').show();
                }
            })
            .trigger('change');

            // for the bucket modals ------------------
            $('#modal-bucket').modal({
                onCloseEnd: function() {
                    $('#modal-bucket-content').html('');
                },
                onOpenStart: function(modal, trigger) {
                    console.log("onOpenStart");
                    var url = $(trigger).attr('data-source');
                    $.get(url, function( data ) {
                        $('#modal-bucket-content').html(data);
                        $('#modal-bucket-content .collapsible').collapsible();
                        $('#modal-bucket-content select').formSelect({ dropdownOptions: { container: document.body } });
                    }).fail(ajaxError);
                }
            });
        });
    </script>
{% endblock %}
