
<div class="col s12 m12">
    <div class="card white center event">
        {% if event.img %}
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ event|img('imgFile','card') }}" />
            </div>
        {% endif %}
        <div class="card-content black-text">
            <span class="activator card-title"><i class="material-icons left">event</i>{{ event.title }}<i class="material-icons right">more_vert</i></span>
            <h6><i>{{ event.date | date_fr_full_with_time }}</i></h6>
        </div>
        <div class="card-action">
            {% if event.needProxy %}
                {% if not app.user.beneficiary or not app.user.beneficiary.membership or not app.user.beneficiary.membership.lastRegistration %}
                    <span>Oups, nous n'avons enregistré aucune adhésion pour ton compte. Tu ne pourras pas voter pour cet événement.</span>
                {% else %}
                    {% set proxy_given = event | givenProxy %}
                    {% set proxy_received = event | receivedProxies %}
                    {% if proxy_given is not null %}
                        {% if proxy_given.owner is null %}
                            <span>Procuration donnée au premier membre volontaire</span>
                        {% else %}
                            <span>Procuration donnée à &nbsp;<b>{{ proxy_given.owner.membership.memberNumberWithBeneficiaryListString }}</b></span>
                        {% endif %}
                    {% endif %}
                    {% for proxy_received_item in proxy_received %}
                        {% if proxy_received_item.giver %}
                            <div>Procuration portée par <b>{{ proxy_received_item.owner.membership.memberNumberWithBeneficiaryListString }}</b> de la part de&nbsp;<b>{{ proxy_received_item.giver.memberNumberWithBeneficiaryListString }}</b></div>
                        {% else %}
                            <div><b>{{ proxy_received_item.owner.membership.memberNumberWithBeneficiaryListString }}</b> accepte une procuration. <a href="{{ path("event_proxy_lite_remove",{'event':event.id,'proxy':proxy_received_item.id}) }}" class="red-text">X</a></div>
                        {% endif %}
                    {% endfor %}
                    {% if (proxy_given is null) and (proxy_received | length == 0) %}
                        <button class="activator waves-effect waves-light btn orange hide-on-small-only">
                            <i class="material-icons">list</i>
                            {% if event.anonymousProxy %}
                                <span class="activator">Donner / recevoir une procuration</span>
                            {% else %}
                                <span class="activator">Donner procuration</span>
                            {% endif %}
                        </button>
                        <button class="activator waves-effect waves-light btn orange hide-on-med-and-up">
                            <i class="material-icons">list</i>
                            <span class="activator">Procurations</span>
                        </button>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <a href="{{ path("event_edit",{'id':event.id}) }}" class="btn">
                    <i class="material-icons">edit</i>&nbsp;Editer
                </a>
            {% endif %}
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ event.title }}<i class="material-icons right">close</i></span>
            <h6><i>{{ event.date | date_fr_full_with_time }}</i></h6>
            <div>
                {{ event.description | markdown | raw }}
            </div>
            {% if event.needProxy %}
                {% if not app.user.beneficiary or not app.user.beneficiary.membership or not app.user.beneficiary.membership.lastRegistration %}
                    <b>Oups, nous n'avons enregistré aucune adhésion pour ton compte. Tu ne pourras pas voter pour cet événement.</b>
                {% else %}
                    {% set member = app.user.beneficiary.membership %}
                    {% set proxy_given = event | givenProxy %}
                    {% set proxy_received = event | receivedProxies %}

                    {% if (registration_duration is not null) %}
                        {% set minDateOfLastRegistration = event.maxDateOfLastRegistration | date_modify('-' ~ registration_duration) %}
                    {% else %}
                        {% set minDateOfLastRegistration = null %}
                    {% endif %}
                    {% if (minDateOfLastRegistration is not null and member.lastRegistration.date < minDateOfLastRegistration) %}
                        <b>Oups</b>, seuls les membres qui ont adhéré ou ré-adhéré <b>après le {{ minDateOfLastRegistration | date('d M Y') }}</b> peuvent voter à cet événement.
                        <br />
                        Pense à mettre à jour ton adhésion pour participer ! :)
                    {% elseif (member.getShiftTimeCount(event.maxDateOfLastRegistration) < time_after_which_members_are_late_with_shifts * 60) %}
                        <b>Oups</b>, seuls les membres avec un compteur de créneaux supérieur à <b>{{ time_after_which_members_are_late_with_shifts }} à la date du {{ event.maxDateOfLastRegistration | date('d M Y') }}</b> peuvent voter à cet événement.
                        <br />
                        Pense à rattraper tes créneaux pour la prochaine fois ! :)
                    {% else %}
                        <ul>
                            {% if proxy_given is not null %}
                                {% if proxy_given.owner is null %}
                                    <li>Procuration donnée au premier volontaire</li>
                                {% else %}
                                    <li>Procuration donnée à &nbsp;<b>{{ proxy_given.owner.membership.memberNumberWithBeneficiaryListString }}</b></li>
                                {% endif %}
                            {% endif %}
                            {% for proxy_received_item in proxy_received %}
                                {% if proxy_received_item.giver %}
                                    <li>Procuration portée par <b>{{ proxy_received_item.owner.membership.memberNumberWithBeneficiaryListString }}</b> de la part de&nbsp;<b>{{ proxy_received_item.giver.memberNumberWithBeneficiaryListString }}</b></li>
                                {% else %}
                                    <li><b>{{ proxy_received_item.owner.membership.memberNumberWithBeneficiaryListString }}</b> accepte une procuration. <a href="{{ path("event_proxy_lite_remove",{'event':event.id,'proxy':proxy_received_item.id}) }}" class="red-text">X</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if (proxy_given is null) and (proxy_received|length == 0) %}
                            <a href="{{ path("event_proxy_give",{'id':event.id}) }}" class="waves-effect waves-light btn purple hide-on-small-only" title="Je ne peux pas venir, je fais une procuration">
                                Je ne peux pas venir, je fais une procuration
                            </a>
                            <a href="{{ path("event_proxy_give",{'id':event.id}) }}" class="waves-effect waves-light purple-text hide-on-med-and-up" title="Je ne peux pas venir, je fais une procuration">
                                Je ne peux pas venir, je fais une procuration
                            </a>
                            {% if event.anonymousProxy %}
                                <a href="{{ path("event_proxy_take",{'id':event.id}) }}" class="waves-effect waves-light btn green hide-on-small-only" title="Je viens, j'accepte une procuration">
                                    Je viens, j'accepte une procuration
                                </a>
                                <a href="{{ path("event_proxy_take",{'id':event.id}) }}" class="waves-effect waves-light green-text hide-on-med-and-up" title="Je viens, j'accepte une procuration">
                                    Je viens, j'accepte une procuration
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
