{% extends 'layout.html.twig' %}

{% block title %}Editer le créneau type - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('period') }}"><i class="material-icons">date_range</i>&nbsp;Semaine type</a><i class="material-icons">chevron_right</i>
<i class="material-icons">edit</i>&nbsp;Editer
{% endblock %}

{% block content %}
    <h4>Editer le créneau type</h4>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Enregistrer</button>
    </div>
    {{ form_end(form) }}

    {% if is_granted("ROLE_ADMIN") %}
        <a href="#remove-period-confirmation-modal" class="modal-trigger btn waves-effect waves-light red" title="Supprimer le créneau type">
            Supprimer
        </a>
        {{ form_start(period_delete_form) }}
        <div id="remove-period-confirmation-modal" class="modal">
            <div class="modal-content">
                <h5><i class="material-icons left small">remove_circle_outline</i>Supprimer le créneau type</h5>
                <p>Attention, cela va aussi supprimer tous les postes de ce créneau type.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green-text">
                    Retour à la raison
                </a>
                <button type="submit" class="btn waves-effect waves-light orange">
                    <i class="material-icons left">check</i>Je sais ce que je fais !
                </button>
            </div>
        </div>
        {{ form_end(period_delete_form) }}
    {% endif %}

    <h5>Postes disponibles</h5>

    {% if use_fly_and_fixed %}
        {% if (period.positionsperweekcycle | length == 0) %}
            Aucun poste n'existe pour ce créneau
        {% endif %}
        {% for week, positions in period.positionsperweekcycle %}
            <h6>Semaine {{ week }}</h6>
            <ul class="collapsible">
                {% for position in positions %}
                    {% if position.shifter %}
                        <li id="position{{ position.id }}">
                            <div class="collapsible-header">
                                <div class="col s12">
                                    {% if position.formation %}<b data-formation="{{ position.formation.name }}">{% endif %}
                                    {{ position.shifter.displayNameWithMemberNumber }}
                                    {% if position.formation %}</b>&nbsp;({{ position.formation.name }}){% endif %}
                                    {% if not position.formation and position.shifter.formations | length > 0 %}
                                        &nbsp;<b class="orange-text">({{ position.shifter.formations | join(', ') }})</b>
                                    {% endif %}
                                    {% if position.shifter.isNew %}
                                        &nbsp;<strong class="red-text" title="Nouveau membre">{{ beneficiary_new_icon }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <p>
                                    Créneau fixe réservé
                                    pour <a href="{{ path("member_show", { 'member_number': position.shifter.membership.memberNumber }) }}" target="_blank">{{ position.shifter }}</a>
                                    le <i>{{ position.bookedTime | date_fr_full_with_time }}</i>
                                    par {% if position.booker and position.booker.beneficiary %}<a href="{{ path("member_show", { 'member_number': position.booker.beneficiary.membership.memberNumber }) }}" target="_blank">{{ position.booker.beneficiary }}</a>{% else %}{{ position.booker }}{% endif %}.
                                </p>
                                <form action="{{ path('period_position_free', {'id': period.id, 'position' : position.id }) }}" method="post" id="free_position_{{ position.id }}">
                                    <button type="submit" class="btn orange">
                                        <i class="material-icons left">lock_open</i>Libérer
                                    </button>
                                </form>
                            </div>
                        </li>
                    {% else %}
                        <li id="position{{ position.id }}">
                            <div class="collapsible-header">
                                <div class="row" style="margin-bottom: 0; width: 100%;">
                                    <div class="col s12">
                                        <b>
                                            <span style="font-style: italic">libre</span>
                                        </b>
                                        {% if position.formation %}
                                            &nbsp;({{ position.formation.name }})
                                        {% else %}
                                            &nbsp;(sans formation particulière)
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                {{ form_start(positions_book_forms[position.id]) }}
                                <div class="row">
                                    <div class="col s7 input-field">
                                        {{ form_label(positions_book_forms[position.id].shifter) }}
                                        {{ form_errors(positions_book_forms[position.id].shifter) }}
                                        {{ form_widget(positions_book_forms[position.id].shifter) }}
                                    </div>
                                    <div class="col s3">
                                        <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">add</i>Ajouter</button>
                                    </div>
                                </div>
                                {{ form_end(positions_book_forms[position.id]) }}
                                {% if is_granted("ROLE_ADMIN") %}
                                    <div class="row">
                                        {{ form_start(positions_delete_forms[position.id]) }}
                                        {{ form_widget(positions_delete_forms[position.id]) }}
                                        <a href="#" class="btn waves-effect waves-light red" onclick="var r = confirm('Supprimer ce poste ?!'); if (r == true) {$(this).closest('form').submit();}; event.stopPropagation();" title="Supprimer ce poste" class="red-text">Supprimer</a>
                                        {{ form_end(positions_delete_forms[position.id]) }}
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
           </ul>
        {% endfor %}
    {% else %}
        {% for week, positions in period.positionsperweekcycle %}
            <h6>Semaine {{ week }}</h6>
            <ul>
            {% for position in positions %}
                <li>
                    {{ form_start(positions_delete_forms[position.id]) }}
                    {{ form_widget(positions_delete_forms[position.id]) }}
                    {{ position }} <a href="#" onclick="$(this).closest('form').submit()" title="supprimer" class="red-text">&cross;</a>
                    {{ form_end(positions_delete_forms[position.id]) }}
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
    <h5>Ajouter un poste</h5>
    {{ form_start(position_add_form) }}
    <div class="row">
        <div class="col s3">
            {{ form_label(position_add_form.nb_of_shifter) }}
            {{ form_widget(position_add_form.nb_of_shifter) }}
        </div>
        <div class="col s3">
            {{ form_label(position_add_form.week_cycle) }}
            {{ form_widget(position_add_form.week_cycle) }}
        </div>
        <div class="col s6">
            {{ form_label(position_add_form.formation) }}
            {{ form_widget(position_add_form.formation) }}
        </div>
        <div class="col s6">
            <button type="submit" class="btn waves-effect waves-light teal"><i class="material-icons left">add</i>Ajouter</button>
        </div>
    </div>
    {{ form_end(position_add_form) }}
{% endblock %}
