{% extends 'layout.html.twig' %}

{% block title %}Editer le créneau type - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_period_index') }}"><i class="material-icons">date_range</i>&nbsp;Semaine type</a><i class="material-icons">chevron_right</i>
<i class="material-icons">edit</i>&nbsp;Editer le créneau type
{% endblock %}

{% set periodPositionCount = period.positions | length %}
{% set periodPositionBookedCount = period.positionsBooked | length %}
{% set periodPositionFreeCount = periodPositionCount - periodPositionBookedCount %}

{% block content %}
    <h4>Editer le créneau type</h4>

    <div class="row">
        <div class="col m4">
            {% include "period/_partial/period_card.html.twig" with { period: period, anonymized: true, show_day_of_week: true, show_details: false } %}
        </div>
        <div class="col m8">
            <div class="card">
                <div class="card-content">
                    Ce créneau type comporte <strong>{{ periodPositionCount }}</strong> poste{% if periodPositionCount > 1 %}s{% endif %} type{% if periodPositionCount > 1 %}s{% endif %}.
                    {% if use_fly_and_fixed %}
                        <br />
                        <span class="green-text">&#9673;</span>&nbsp;<strong>{{ periodPositionBookedCount }}</strong> poste{% if periodPositionBookedCount > 1 %}s{% endif %} réservé{% if periodPositionBookedCount > 1 %}s{% endif %}<br />
                        <span class="red-text">&#9673;</span>&nbsp;<strong>{{ periodPositionFreeCount }}</strong> poste{% if periodPositionFreeCount > 1 %}s{% endif %} libre{% if periodPositionFreeCount > 1 %}s{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <h5>Postes disponibles</h5>

    {% if use_fly_and_fixed %}
        {% if (period.positionsperweekcycle | length == 0) %}
            Aucun poste n'existe pour ce créneau
        {% endif %}
        {% for week, positions in period.positionsperweekcycle %}
            <h6>Semaine {{ week }}</h6>
            <ul class="collapsible">
                {% for position in positions %}
                    {% if position.shifter %}
                        <li id="position{{ position.id }}">
                            <div class="collapsible-header">
                                <div class="col s12">
                                    {% if position.formation %}<b data-formation="{{ position.formation.name }}">{% endif %}
                                    {{ position.shifter.displayNameWithMemberNumber }}
                                    {% if position.formation %}</b>&nbsp;({{ position.formation.name }}){% endif %}
                                    {% if not position.formation and position.shifter.formations | length > 0 %}
                                        &nbsp;<b class="orange-text">({{ position.shifter.formations | join(', ') }})</b>
                                    {% endif %}
                                    {% if position.shifter.isNew %}
                                        &nbsp;<strong class="red-text" title="Nouveau membre">{{ beneficiary_new_icon }}</strong>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <p>
                                    Créneau fixe réservé
                                    pour <a href="{{ path("member_show", { 'member_number': position.shifter.membership.memberNumber }) }}" target="_blank">{{ position.shifter }}</a>
                                    le <i>{{ position.bookedTime | date_fr_full_with_time }}</i>
                                    par {% include "admin/member/_partial/member_or_user_link.html.twig" with { user: position.booker, target_blank: true } %}.
                                </p>
                                {{ form_start(positions_free_forms[position.id]) }}
                                {{ form_widget(positions_free_forms[position.id]) }}
                                <a href="#" class="btn waves-effect waves-light orange" onclick="var r = confirm('Etes-vous sûr de vouloir libérer ce poste ?!'); if (r == true) {$(this).closest('form').submit();}; event.stopPropagation();" title="Libérer ce poste">
                                    <i class="material-icons left">lock_open</i>Libérer
                                </a>
                                {{ form_end(positions_free_forms[position.id]) }}
                            </div>
                        </li>
                    {% else %}
                        <li id="position{{ position.id }}">
                            <div class="collapsible-header">
                                <div class="row" style="margin-bottom: 0; width: 100%;">
                                    <div class="col s12">
                                        <b>
                                            <span style="font-style: italic">libre</span>
                                        </b>
                                        {% if position.formation %}
                                            &nbsp;({{ position.formation.name }})
                                        {% else %}
                                            &nbsp;(sans formation particulière)
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                {{ form_start(positions_book_forms[position.id]) }}
                                <div class="row">
                                    <div class="col s7 input-field">
                                        {{ form_label(positions_book_forms[position.id].shifter) }}
                                        {{ form_errors(positions_book_forms[position.id].shifter) }}
                                        {{ form_widget(positions_book_forms[position.id].shifter) }}
                                    </div>
                                    <div class="col s3">
                                        <button type="submit" class="btn waves-effect waves-light">
                                            <i class="material-icons left">add</i>Ajouter
                                        </button>
                                    </div>
                                </div>
                                {{ form_end(positions_book_forms[position.id]) }}
                                {% if is_granted("ROLE_ADMIN") %}
                                    <div class="row">
                                        {{ form_start(positions_delete_forms[position.id]) }}
                                        {{ form_widget(positions_delete_forms[position.id]) }}
                                        <a href="#" class="btn waves-effect waves-light red" onclick="var r = confirm('Etes-vous sûr de vouloir supprimer ce poste ?!'); if (r == true) {$(this).closest('form').submit();}; event.stopPropagation();" title="Supprimer ce poste">
                                            <i class="material-icons left">delete</i>Supprimer
                                        </a>
                                        {{ form_end(positions_delete_forms[position.id]) }}
                                    </div>
                                {% endif %}
                                {% if position.createdBy %}
                                    <p>
                                        Poste type créé le <i>{{ position.createdAt | date_fr_full_with_time }}</i>
                                        par {% include "admin/member/_partial/member_or_user_link.html.twig" with { user: position.createdBy, target_blank: true } %}.
                                    </p>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
           </ul>
        {% endfor %}
    {% else %}
        {% for week, positions in period.positionsperweekcycle %}
            <h6>Semaine {{ week }}</h6>
            <ul>
            {% for position in positions %}
                <li>
                    {{ form_start(positions_delete_forms[position.id]) }}
                    {{ form_widget(positions_delete_forms[position.id]) }}
                    {{ position }} <a href="#" onclick="$(this).closest('form').submit()" title="supprimer" class="red-text">&cross;</a>
                    {{ form_end(positions_delete_forms[position.id]) }}
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}

    <br />
    <h5>Actions supplémentaires</h5>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">add</i>Ajouter un poste
            </div>
            <div class="collapsible-body">
                {{ form_start(position_add_form) }}
                <div class="row">
                    <div class="col s3">
                        {{ form_label(position_add_form.nb_of_shifter) }}
                        {{ form_widget(position_add_form.nb_of_shifter) }}
                    </div>
                    <div class="col s3">
                        {{ form_label(position_add_form.week_cycle) }}
                        {{ form_widget(position_add_form.week_cycle) }}
                    </div>
                    <div class="col s6">
                        {{ form_label(position_add_form.formation) }}
                        {{ form_widget(position_add_form.formation) }}
                    </div>
                    <div class="col s6">
                        <button type="submit" class="btn waves-effect waves-light teal"><i class="material-icons left">add</i>Ajouter</button>
                    </div>
                </div>
                {{ form_end(position_add_form) }}
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">edit</i>Editer le créneau type
            </div>
            <div class="collapsible-body">
                {{ form_start(form, {'attr': { 'style': 'display:inline;' }}) }}
                {{ form_widget(form) }}
                {% if period.createdBy or period.updatedBy %}
                    <br />
                    <div class="card-panel">
                        {% if period.createdBy %}
                            <i>Création le {{ period.createdAt | date_fr_full_with_time }} par {% include "admin/member/_partial/member_or_user_link.html.twig" with { user: period.createdBy, target_blank: true } %}</i>
                            <br />
                        {% endif %}
                        {% if period.updatedBy %}
                            <i>Dernière modification le {{ period.updatedAt | date_fr_full_with_time }} par {% include "admin/member/_partial/member_or_user_link.html.twig" with { user: period.updatedBy, target_blank: true } %}</i>
                        {% endif %}
                    </div>
                {% endif %}
                <br />
                <button type="submit" class="btn waves-effect waves-light">
                    <i class="material-icons left">save</i>Enregistrer
                </button>
                {{ form_end(form) }}

                {% if is_granted("ROLE_ADMIN") %}
                    <a href="#remove-period-confirmation-modal" class="btn red modal-trigger" title="Supprimer le créneau type" {% if use_fly_and_fixed and not period.isEmpty %}disabled{% endif %}>
                        <i class="material-icons left">delete</i>Supprimer
                    </a>
                    {% if use_fly_and_fixed and not period.isEmpty %}
                        <i class="material-icons grey-text tooltipped" style="vertical-align:middle;" data-tooltip="Tous les postes doivent être libérés avant de pouvoir supprimer le créneau type">info</i>
                    {% endif %}
                    {{ form_start(period_delete_form) }}
                    <div id="remove-period-confirmation-modal" class="modal">
                        <div class="modal-content">
                            <h5><i class="material-icons left small">remove_circle_outline</i>Supprimer le créneau type</h5>
                            <p>Attention, cela va aussi supprimer tous les postes de ce créneau type.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green-text">
                                Retour à la raison
                            </a>
                            <button type="submit" class="btn waves-effect waves-light orange">
                                <i class="material-icons left">check</i>Je sais ce que je fais !
                            </button>
                        </div>
                    </div>
                    {{ form_end(period_delete_form) }}
                {% endif %}
            </div>
        </li>
    </ul>
{% endblock %}
