{#
    twig template for Controller/PeriodController.php/indexAction()
    for the route: /period/
    It display a page with all the avaible periods (a.k.a the "Semaine type")
    (and also display the periods reserved for a members if use_fly_and_fixed==true)
#}

{% extends 'layout.html.twig' %}

{% block title %}Semaine type - {{ site_name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/custom_animation.css') }}?060820191303">
    <style>
        .card .material-icons {
            display: inline-flex;
            vertical-align: top;
        }

        .editable-box {
            transition: box-shadow 0.2s, background-color 0.2s;
            transition-timing-function: ease-in;
            border-radius: 5px 2px 10px 2px;
        }

        .editable-box:hover {
            box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.1);
            border-radius: 5px 2px 10px 2px;
            background-color: rgba(255, 255, 255, 0.24);
        }

        .editable-box::after {
            content: "\e8b8";
            font-family: "Material Icons";
            font-size: small;
            visibility: hidden;
            display: inline-block;
        }
        .editable-box:hover::after {
            content: "\e8b8";
            font-family: "Material Icons";
            font-size: small;
            visibility: visible;
            display: inline-block;
        }
    </style>
{% endblock %}

{% block macro %}
    {# generate a form input, used for the filters
    input_obj: the symfony form object for the input
    hidden: if tru the form object id hidden
    #}
    {% macro form_input(input_obj, hidden=false) %}
        <div class="input-field col m3">
            {% if hidden %}
                {{ form_widget(input_obj, { 'attr': {'class': 'hide'} }) }}
            {% else %}
                {{ form_widget(input_obj) }}
                {{ form_label(input_obj) }}
            {% endif %}
        </div>
    {% endmacro %}

    {# generate one line with the icon and the shifter id+name and if needed a warning icon
     # period: an Entity/Period object
    #}
    {% macro position_shifter_display(position) %}
        {% set shifter = position.shifter %}
        {% set formation = position.formation??"Sans formation" %}

        {% if shifter %}
            {# sombody is registered for this periodposition #}
            {% set warning = beneficiary_service.hasWarningStatus(shifter) %}
            <a href="{{ path('member_show', { 'member_number': shifter.membership.memberNumber }) }}" target="_blank"
               class="black-text tooltipped editable-box truncate" data-position="bottom" data-tooltip="{{ shifter | print_with_number_and_status_icon | raw }} &#013;&#010; ({{ formation }})">
                {% if warning %}
                    <i class="red-text material-icons warning-animation">warning</i>
                {% else %}
                    <i class="material-icons">person</i>
                {% endif %}
                {{ shifter.getFirstname() }} {{ shifter.getLastname() | first }}
            </a>
        {% else %}
            <div class="tooltipped truncate black-text" data-position="bottom" data-tooltip="{{ formation }}">
                <i class="material-icons">person</i>
                <strong><i>libre</i></strong>
            </div>
        {% endif %}
    {% endmacro position_shifter_display %}

    {# generate one line with the icon and but without the shifer name or info
     # period: an Entity/Period object
    #}
    {% macro position_anonymized_display(position) %}
        {% set shifter = position.shifter %}
        {% set formation = position.formation??"Sans formation" %}

        {% if shifter %}
            {# sombody is registered for this periodposition #}
            {% set warning = beneficiary_service.hasWarningStatus(shifter) %}
            <div class="tooltipped truncate black-text" data-position="bottom" data-tooltip="Formation : {{ formation }}">
                <i class="material-icons">person</i>
                <strong><i>réservé</i></strong>
            </div>
        {% else %}
            <div class="tooltipped truncate black-text" data-position="bottom" data-tooltip="{{ formation }}">
                <i class="material-icons">person</i>
                <strong><i>libre</i></strong>
            </div>
        {% endif %}
    {% endmacro position_anonymized_display %}

    {# generate a card for all positions in a period
     # period: a period object
     # week_filter: a string with the week to keep or null if no filter
    #}
    {% macro period_card(period, week_filter) %}
        {% set anonymized=true %}
        <div class="card {{ period.job? period.job.color : "blue" }} lighten-2 hoverable" style="padding: 15px;">

            {# Card header #}
            <a href="{{ path("period_edit",{'id': period.id}) }}" class="black-text">
                <div class="black-text editable-box">
                    {% if period.job %}
                        <b>{{ period.job.name }}</b>
                        <br>
                        {{ period.start | date('H:i') }}-{{ period.end | date('H:i') }}
                    {% else %}
                        {{ period.start | date('H:i') }}-{{ period.end | date('H:i') }}
                        <br>
                    {% endif %}
                </div>
            </a>
            {# if display by job/training #}
            <div id="training" style="margin-top:1em;">
                {% for week, positions in period.groupedpositionsperweekcycle(week_filter) %}
                    <h6>Semaine {{ week }}</h6>
                    {% for training, nb_shifters in positions %}
                        <i class="material-icons">person</i>{{ nb_shifters }} x {{ training }}
                        <br/>
                    {% endfor %}
                {% endfor %}
            </div>

            {# if display by member name #}
            {% if use_fly_and_fixed %}
                <div id="shifter" style="margin-top:1em;">
                    {% for week, positions in period.positionsperweekcycle %}
                        {% if (week in week_filter) or not week_filter %}
                            <h6>Semaine {{ week }}</h6>
                            {% for position in positions %}
                                {% if is_granted("ROLE_SHIFT_MANAGER") %}
                                    {{ _self.position_shifter_display(position) }}
                                {% else %}
                                    {{ _self.position_anonymized_display(position) }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endmacro %}
{% endblock macro %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<i class="material-icons">date_range</i>&nbsp;Semaine type
{% endblock breadcrumbs %}

{% block container %}
    <div class="container">
        <div class="section">

            {# Title Section --------------------------------------------------- #}
            <div class="row center">
                <h4 class="header">Semaine type</h4>
            </div>

            {# Header section -------------------------------------------------- #}
            <ul class="collapsible">
                {# Filters  ---------------------------------------------------- #}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">tune</i>Filtres
                    </div>
                    <div class="collapsible-body">
                        {{ form_start(filter_form) }}
                        <div class="row">
                            {{ _self.form_input(filter_form.job) }}
                            {{ _self.form_input(filter_form.week) }}
                            {{ _self.form_input(filter_form.filling, not use_fly_and_fixed) }}
                        </div>
                        <div class="row">
                            {{ _self.form_input(filter_form.beneficiary, not use_fly_and_fixed) }}
                        </div>
                        {{ form_widget(filter_form.filter) }}
                        {{ form_end(filter_form) }}
                    </div>
                </li>
                {# Actions ----------------------------------------------------- #}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">build</i>Actions
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <a href="{{ path("period_new") }}"
                               class="btn col m4 waves-effect waves-light tooltipped"
                               data-position="bottom" data-tooltip="Créer un groupe de créneaux type à une heure et un jour donné">
                                <i class="material-icons left">note_add</i>Nouveau créneau type
                            </a>
                        </div>

                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="row">
                                <a href="{{ path("period_copy") }}"
                                   class="btn col m4 waves-effect waves-light tooltipped"
                                   data-position="bottom" data-tooltip="Dupliquer des créneaux types d'un jour vers un autre">
                                    <i class="material-icons left">content_copy</i>Dupliquer des créneaux
                                </a>
                            </div>
                            <div class="row">
                                <a href="{{ path("shifts_generation") }}"
                                   class="btn col m4 waves-effect waves-light tooltipped"
                                   data-position="bottom" data-tooltip="Générer automatiquement des créneaux à partir de la semaine type">
                                    <i class="material-icons left">date_range</i> <i class="material-icons left">build</i>Générer des créneaux
                                </a>
                            </div>
                        {% endif %}

                        {% if use_fly_and_fixed %}
                            <div class="row">
                                <a id="shifter" style="display: None;" onClick="showShifters()"
                                class="btn col m4 waves-effect waves-light purple tooltipped"
                                data-position="bottom" data-tooltip="Afficher le nom des membres inscrits en créneaux fixes">
                                    <i class="material-icons left">accessibility</i>Afficher les membres
                                </a>
                                <a id="training" onClick="showTraining()"
                                class="btn col m4 waves-effect waves-light purple tooltipped"
                                data-position="bottom" data-tooltip="Afficher la formation demandée pour étre inscrit à un créneau">
                                    <i class="material-icons left">accessibility</i>Afficher les formations
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </li>
                {% if use_fly_and_fixed %}
                    {# Legende ------------------------------------------------- #}
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">help_outline</i>Légende
                        </div>
                        <div class="collapsible-body">
                            <table class="responsive-table striped">
                                <thead>
                                    <tr>
                                        <th>Texte</th>
                                        <th>Explication</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <i class="material-icons">person</i>&nbsp;<strong><i>libre</i></strong>
                                        </td>
                                        <td>
                                            Un créneau fixe libre
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="material-icons">person</i>&nbsp;Prénom N
                                        </td>
                                        <td>
                                            Un créneau fixe avec un bénéficiaire d'inscrit
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="red-text material-icons warning-animation">warning</i>&nbsp;Prénom N
                                        </td>
                                        <td>
                                            Un créneau fixe avec un bénéficiaire dans un état "anormal"
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Etats "anormaux"
                                        </td>
                                        <td>
                                            <ul>
                                                <li>{{ member_withdrawn_icon }} Membre clôturé</li>
                                                <li>{{ member_frozen_icon }} Membre gelé</li>
                                                <li>{{ member_exempted_icon }} Membre exempté de créneaux</li>
                                                <li>{{ member_registration_missing_icon }} Membre avec une adhésion expirée</li>
                                                <li>{{ beneficiary_flying_icon }} Bénéficiaire avec un statut "volant"</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    {# Table with all the periods in a schedule -------------------------------- #}
    <div class="container" style="width: 90%; max-width: 1880px;">
        <div class="section">
            <table>
                <thead>
                    <tr>
                        {% for key,day in days_of_week %}
                            <th>{{ day }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {# one colone per day ----------------------------------- #}
                        {% for key,day in days_of_week %}
                            <td>

                                {% for period in periods_by_day[key] %}
                                    {# block per period bucket  ----------------- #}
                                    {% if ((filling_filter == null) and (beneficiary_filter == null))
                                        or (filling_filter == "problematic" and period.isProblematic(week_filter))
                                        or (filling_filter == "empty" and period.isEmpty(week_filter))
                                        or (filling_filter == "full" and period.isFull(week_filter))
                                        or (filling_filter == "partial" and period.isPartial(week_filter))
                                        or (beneficiary_filter and period.hasShifter(beneficiary_filter) | length > 0) %}
                                        {{ _self.period_card(period, week_filter) }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock container %}

{% block javascripts %}
    {% if use_fly_and_fixed %}
        <script>
            $(document).ready(function ($) {
                    showShifters();
                }
            )

            /**
             * when user click on the showShifters
             * ("Afficher les membres") bottom
             */
            function showShifters() {
                $('div[id="training"]').hide();
                $('div[id="shifter"]').show();
                $('a[id="training"]').show();
                $('a[id="shifter"]').hide();
            }

            /**
             * when user click on the showTraining
             * ("Afficher les formations") bottom
             */
            function showTraining() {
                $('div[id="training"]').show();
                $('div[id="shifter"]').hide();
                $('a[id="training"]').hide();
                $('a[id="shifter"]').show();
            }

            function truncate(str, maxlength) {
                return (str.length > maxlength) ?
                    str.slice(0, maxlength - 1) + '…' : str;
            }

        </script>
    {% endif %}
{% endblock javascripts %}
