{% extends 'layout.html.twig' %}

{% block title %}Joindre deux comptes - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<i class="material-icons">call_merge</i>&nbsp;Joindre deux comptes
{% endblock %}

{% block content %}
    <h4>Joindre deux comptes</h4>

    <p>Nombre maximum de bénéficiaires par compte : {{ maximum_nb_of_beneficiaries_in_membership }}</p>

    <p class="red-text">
        <i class="material-icons">warning</i>
        Attention, le compte choisi à gauche va être <b>détruit</b>.
        <br />
        Il sera rajouté en tant que bénéficiaire du compte choisi à droite.
        <br />
        <b>Cette opération ne peut pas être annulée.</b>
    </p>

    {{ form_start(form) }}
        <div class="row">
            <div class="input-field col m6 s12">
                <div class="errors">
                    {{ form_errors(form.from_text) }}
                </div>
                <i class="material-icons prefix">person</i>
                {{ form_widget(form.from_text) }}
                {{ form_label(form.from_text) }}
            </div>
            <div class="input-field col m6 s12">
                <div class="errors">
                    {{ form_errors(form.dest_text) }}
                </div>
                <i class="material-icons prefix">person</i>
                {{ form_widget(form.dest_text) }}
                {{ form_label(form.dest_text) }}
            </div>
        </div>
        {{ form_widget(form.join) }}
    {{ form_end(form) }}
{% endblock %}
