{% if swipeCards | length %}
    <div class="hide-on-med-and-up">
    {% for swipeCard in swipeCards %}
        <div>
            <hr>
            <h5>Badge n°{{ swipeCard.number }}</h5>
            <img
                    src="{{ absolute_url(path('swipe_br',{"code": swipeCard.code | vigenere_encode | url_encode})) }}"
                    alt="barecode">
            <p><b>assococié :</b> {{ swipeCard.createdAt | date_time }}<br>
            {% if swipeCard.disabledAt %}<b>désactivé :</b> {{ swipeCard.disabledAt | date_time }}{% endif %}
            </p>
            <form action="{% if swipeCard.enable %}{{ path('disable_swipe')}}{% else %}{{ path('enable_swipe')}}{% endif %}" method="post" class="swipe-card-status-switcher">
                <input type="hidden" name="code" value="{{ swipeCard.code | vigenere_encode }}"/>
                <div class="switch">
                    <label>
                        Désactivé
                        <input type="checkbox" {% if swipeCard.enable %}checked="checked"{% endif %}>
                        <span class="lever"></span>
                        Actif
                    </label>
                </div>
            </form>
        </div>
    {% endfor %}
    </div>
    <table class="hide-on-small-only">
        <thead>
        <tr>
            <th>Badge n°</th>
            <th>Code</th>
            <th>Date d'association</th>
            <th>Date de désactivation</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for swipeCard in swipeCards %}
            <tr>
                <td>{{ swipeCard.number }}</td>
                <td><img src="{{ absolute_url(path('swipe_br',{"code": swipeCard.code | vigenere_encode | url_encode})) }}"
                         alt="barecode"></td>
                <td>{{ swipeCard.createdAt | date_fr_with_time }}</td>
                <td>{% if swipeCard.disabledAt %}{{ swipeCard.disabledAt | date_fr_with_time }}{% endif %}</td>
                <td>
                    {% if beneficiary_id > 0 %}
                        <form action="{% if swipeCard.enable %}{{ path('disable_swipe_for_beneficiary',{id : beneficiary_id})}}{% else %}{{ path('enable_swipe_for_beneficiary',{id : beneficiary_id})}}{% endif %}" method="post" class="swipe-card-status-switcher">
                            <input type="hidden" name="code" value="{{ swipeCard.code | vigenere_encode }}"/>
                            <div class="switch">
                                <label>
                                    Désactivé
                                    <input type="checkbox" {% if swipeCard.enable %}checked="checked"{% endif %}>
                                    <span class="lever"></span>
                                    Actif
                                </label>
                            </div>
                        </form>
                    {% else %}
                        <form action="{% if swipeCard.enable %}{{ path('disable_swipe')}}{% else %}{{ path('enable_swipe')}}{% endif %}" method="post" class="swipe-card-status-switcher">
                            <input type="hidden" name="code" value="{{ swipeCard.code | vigenere_encode }}"/>
                            <div class="switch">
                                <label>
                                    Désactivé
                                    <input type="checkbox" {% if swipeCard.enable %}checked="checked"{% endif %}>
                                    <span class="lever"></span>
                                    Actif
                                </label>
                            </div>
                        </form>
                    {% endif %}
                    {% if is_granted("delete", swipeCard) %}
                        <br>
                        <form action="{{ path('delete_swipe')}}" method="post">
                            <input type="hidden" name="code" value="{{ swipeCard.code | vigenere_encode }}"/>
                            <button type="submit" class="btn btn-small red btn-flat" ><i class="material-icons left">close</i>supprimer</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $('.swipe-card-status-switcher input').on('click',function () {
            $(this).closest('form').submit();
        });
    </script>
{% endif %}