{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin_formations') }}"><i class="material-icons">list</i>formations</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">add</i>formation
{% endblock %}

{% block content %}
    <h4 class="">Nouvelle formation</h4>

    {{ form_start(form) }}
    <div class="row">
        <div class="col s6">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div>
        <button type="submit" class="btn-large waves-effect waves-light">Créer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
