{% set frontend_cookie = app.request.cookies.get('frontend') | json_decode %}
{% set frozen = app.user and app.user.beneficiary and app.user.beneficiary.membership.frozen %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/materialize/css/materialize-1.2.2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/materialize/iconfont/material-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/simplemde/simplemde.min.css') }}"/>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/custom.css') }}?060820191303">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-lelefan.png') }}" />
        <script src="{{ asset('bundles/app/js/vanilla_top.js') }}"></script>
        {% include "_partial/style_config.html.twig" %}
    </head>
    <body>
        {% include "_partial/header.html.twig" %}
        <main>
            {% set _breadcrumbs = block('breadcrumbs') %}
            {% if _breadcrumbs is not empty %}
                <div class="wrapper breadcrumbs blue-grey lighten-5">
                    <div class="col s12">
                        {% block breadcrumbs %}{% endblock breadcrumbs %}
                    </div>
                </div>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if frozen %}
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel" style="background-color: rgba(0, 138, 255, 0.1);margin-bottom:0;">
                                <strong class="orange"><i class="material-icons left">{{ member_frozen_material_icon }}</i>Adhésion en pause</strong>
                                <br />
                                {% if not app.user.beneficiary.membership.frozenChange %}
                                    Pour dégeler ton compte, visite <a href="{{ path('fos_user_profile_show') }}">ton profil <i class="material-icons tiny">settings</i></a>
                                {% else %}
                                    Dégel programmé.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="row">
                            <div class="col s12">
                                <div class="card-panel teal {{ type }} lighten-1">
                                    <span class="white-text" style="white-space: pre-line;">{{ message|trans({}, 'FOSUserBundle')|raw }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block container %}
                {# overload block container only if it is needed to have a larger page #}
                {% block beforecontainer %}{% endblock %}

                <div class="container">
                    <div class="section">
                        {% block fos_user_content %}{% endblock fos_user_content %}
                        {% block content %}{% endblock %}
                    </div>
                </div>

                {% block aftercontainer %}{% endblock %}
            {% endblock %}
        </main>

        {{ render(controller("AppBundle:Default:footer")) }}

        <script src="{{ asset('bundles/app/js/jquery-3.6.min.js') }}"></script>
        <script src="{{ asset('bundles/app/materialize/js/materialize-1.2.2.min.js') }}"></script>
        <script src="{{ asset('bundles/app/simplemde/simplemde.min.js') }}"></script>
        <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/radial/gauge.min.js"></script>
        <script>
            var process_update_count_unread_url = "{{ path("process_update_count_unread") }}";
        </script>
        <script src="{{ asset('bundles/app/js/app.js') }}?060820191303"></script>
        <script src="{{ asset('bundles/app/js/js.cookie.js') }}"></script>
        <script src="{{ asset('bundles/app/js/datepicker.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
