{% set frontend_cookie = app.request.cookies.get('frontend') | json_decode %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}espace membre @ l&rsquo;éléfàn{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/app/materialize/css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/materialize/iconfont/material-icons.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/custom.css') }}?190420181847">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/shift.css') }}?190420181847">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-lelefan.png') }}" />
    </head>
    <body>
        <header>
            <nav class="main-navigation" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" href="{{ path('homepage') }}" class="brand-logo">Espace membre @ L'éléfàn</a>
                    <ul class="right hide-on-med-and-down">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                            <small>{{ app.user.username }}</small>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small">exit_to_app</i>
                                    {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                                </a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="material-icons small">settings</i>
                                    {#{{ app.user.username }}#}
                                </a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                    </ul>

                    <ul id="nav-mobile" class="side-nav">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small">exit_to_app</i>
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="material-icons">settings</i>
                                    {{ app.user.username }}</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </header>
        <main>
            {% block beforecontainer %}{% endblock %}
            <div class="wrapper breadcrumbs blue-grey lighten-5">
                <div class="col s12">
                    {% block breadcrumps %}
                    {% endblock breadcrumps %}
                </div>
            </div>
            <div class="container">
                <div class="section">
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="row">
                                    <div class="col s12">
                                        <div class="card-panel teal {{ type }}">
                                            <span class="white-text">{{ message|trans({}, 'FOSUserBundle') }}</span>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% block aftercontainer %}{% endblock %}

        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright L'éléfàn
                    <a class="grey-text text-lighten-4 right" href="https://lelefan.org">lelefan.org</a>
                </div>
            </div>
        </footer>
        {% include "JqueryBundle:Jquery:jquery.html.twig" %}
        <script src="{{ asset('bundles/app/materialize/js/materialize.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/js.cookie.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('select').material_select();
                $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true, // Choose whether you can drag to open on touch screens,
                    onOpen: function(el) { /* Do Stuff */ }, // A function to be called when sideNav is opened
                    onClose: function(el) { /* Do Stuff */ }, // A function to be called when sideNav is closed
                });
                $('.modal').modal();
                $('.tooltipped').tooltip();
            });
            //todo put this in a file
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
