<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}L&rsquo;éléfàn // compte{% endblock %}</title>
        {%- include "MaterializeBundle:Materialize:css.html.twig" -%}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav class="blue-grey lighten-1" role="navigation">
                <div class="nav-wrapper container"><a id="logo-container" href="{{ path('homepage') }}" class="brand-logo">L'éléfàn // compte</a>
                    <ul class="right hide-on-med-and-down">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small">exit_to_app</i>
                                    {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                                </a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="material-icons small">settings</i>
                                    {#{{ app.user.username }}#}
                                </a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                    </ul>

                    <ul id="nav-mobile" class="side-nav">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small">exit_to_app</i>
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="material-icons">settings</i>
                                    {{ app.user.username }}</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </header>
        <main>
            {% block beforecontainer %}{% endblock %}

            <div class="container">
                <div class="section">
                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="row">
                                    <div class="col s12 m6">
                                        <div class="card-panel teal {{ type }}">
                                            <span class="white-text">{{ message|trans({}, 'FOSUserBundle') }}</span>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% block aftercontainer %}{% endblock %}

            {#<div class="container">#}
            {#<div class="section">#}

            {#<!--   Icon Section   -->#}
            {#<div class="row">#}
            {#<div class="col s12 m4">#}
            {#<div class="icon-block">#}
            {#<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>#}
            {#<h5 class="center">Speeds up development</h5>#}

            {#<p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>#}
            {#</div>#}
            {#</div>#}

            {#<div class="col s12 m4">#}
            {#<div class="icon-block">#}
            {#<h2 class="center light-blue-text"><i class="material-icons">group</i></h2>#}
            {#<h5 class="center">User Experience Focused</h5>#}

            {#<p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>#}
            {#</div>#}
            {#</div>#}

            {#<div class="col s12 m4">#}
            {#<div class="icon-block">#}
            {#<h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>#}
            {#<h5 class="center">Easy to work with</h5>#}

            {#<p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
        </main>
        <footer class="page-footer blue-grey">
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright L'éléfàn
                    <a class="grey-text text-lighten-4 right" href="https://lelefan.org">lelefan.org</a>
                </div>
            </div>
        </footer>
        {% include "JqueryBundle:Jquery:jquery.html.twig" %}
        {%- include "MaterializeBundle:Materialize:js.html.twig" -%}
        {% block javascripts %}{% endblock %}
    </body>
</html>
