{% set only_action = only_action ?? false %}
{% set from_admin = from_admin ?? false %}

<div class="card-action">
    {% if not only_action %}
        <div class="right">
            <a href="{{ path("event_detail", {'id': event.id}) }}" class="{% if not from_admin %}btn blue{% endif %}" {% if from_admin %}target="_blank"{% endif %}>
                <i class="material-icons left">visibility</i>Voir
            </a>
        </div>
    {% endif %}
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span>Connexion requise</span>
    {% elseif from_admin %}
        {% if event.needProxy %}
            <div class="left">
                <a href="{{ path("admin_event_proxies_list", {'id': event.id}) }}">
                    <i class="material-icons left">list</i>Procurations
                </a>
            </div>
            <div class="left">
                <a href="{{ path("admin_event_signatures", {'id': event.id}) }}">
                    <i class="material-icons left">print</i>Emargement
                </a>
            </div>
        {% endif %}
        <div class="right">
            <a href="{{ path("admin_event_edit", {'id': event.id}) }}">
                <i class="material-icons left">edit</i>Editer
            </a>
        </div>
    {% elseif event.needProxy %}{# member side #}
        {% if not app.user.beneficiary or not app.user.beneficiary.membership or not app.user.beneficiary.membership.lastRegistration %}
            <span>Oups, nous n'avons enregistré aucune adhésion pour ton compte. Tu ne pourras pas voter pour cet événement.</span>
        {% else %}
            {% set member = app.user.beneficiary.membership %}
            {% set proxy_given = event | givenProxy %}
            {% set proxy_received = event | receivedProxies %}

            {% if (registration_duration is not null) %}
                {% set minDateOfLastRegistration = event.maxDateOfLastRegistration | date_modify('-' ~ registration_duration) %}
            {% else %}
                {% set minDateOfLastRegistration = null %}
            {% endif %}

            {% if (minDateOfLastRegistration is not null and member.lastRegistration.date < minDateOfLastRegistration) %}
                <b>Oups</b>, seuls les membres qui ont adhéré ou ré-adhéré <b>après le {{ minDateOfLastRegistration | date_short }}</b> peuvent voter à cet événement.
                <br />
                Pense à mettre à jour ton adhésion pour participer ! :)
            {% elseif (member.getShiftTimeCount(event.maxDateOfLastRegistration) < time_after_which_members_are_late_with_shifts * 60) %}
                <b>Oups</b>, seuls les membres avec un compteur de créneaux supérieur à <b>{{ time_after_which_members_are_late_with_shifts }} à la date du {{ event.maxDateOfLastRegistration | date_short }}</b> peuvent voter à cet événement.
                <br />
                Pense à rattraper tes créneaux pour la prochaine fois ! :)
            {% else %}{# member allowed to vote #}
                {% if proxy_given is not null %}
                    {% if proxy_given.owner is null %}
                        <span>Procuration donnée au premier membre volontaire</span>
                    {% else %}
                        <span>Procuration donnée à <b>{{ proxy_given.owner.membership.memberNumberWithBeneficiaryListString }}</b></span>
                    {% endif %}
                {% endif %}
                {% for proxy_received_item in proxy_received %}
                    {% if proxy_received_item.giver %}
                        <div>Procuration portée par <b>{{ proxy_received_item.owner.membership.memberNumberWithBeneficiaryListString }}</b> de la part de&nbsp;<b>{{ proxy_received_item.giver.memberNumberWithBeneficiaryListString }}</b></div>
                    {% else %}
                        <div><b>{{ proxy_received_item.owner.membership.memberNumberWithBeneficiaryListString }}</b> accepte une procuration. <a href="{{ path("event_proxy_lite_remove",{'event':event.id,'proxy':proxy_received_item.id}) }}" class="red-text">X</a></div>
                    {% endif %}
                {% endfor %}
                {% if (proxy_given is null) and (proxy_received|length == 0) %}
                    {% if event.isPast %}
                    <button class="btn" disabled>Événement passé</button>
                    {% else %}
                        <a href="{{ path("event_proxy_give",{'id':event.id}) }}" class="btn purple" title="Je ne peux pas venir ? je fais une procuration">
                            Je ne peux pas venir ? je fais une procuration
                        </a>
                        {% if event.anonymousProxy %}
                            <a href="{{ path("event_proxy_take",{'id':event.id}) }}" class="btn green" title="Je viens, j'accepte une procuration">
                                Je viens, j'accepte une procuration
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
</div>
