{#
Template for the modal popup used to change the user register for a shift bucket in  /booking/admin
It use the materialize modal class https://materializecss.com/modals.html
#}
{% set nbBookableShifts = shifts | filter ( shift => shift.isDismissed or not shift.shifter) | length %}
{% set nbShifts = (shifts | length) %}
{% set bucket = (shifts | sort((a, b) => a.id <=> b.id) | first) %}
<i id="modal-lock-icon" class="material-icons left large" {% if not bucket.locked %}style="display: none;"{% endif %}>lock</i>
<h4>Créneaux / <span class="{{ bucket.job.color }}-text">{{ bucket.job.name }}</span></h4>
<h5>{{ bucket.start|date_fr_long }} de {{ bucket.start|date('G\\hi') }} à {{ bucket.end|date('G\\hi') }}</h5>
<span>remplissage : {{ nbShifts-nbBookableShifts }}/{{ nbShifts }} ({{ (((nbShifts-nbBookableShifts) / nbShifts)*100) | round }}%)</span>
<ul class="collapsible">
    {% for shift in shifts %}
        {% if shift.shifter %}{# is booked #}
            <li>
                <div class="collapsible-header" style="display: block;">
                    <div class="row" style="margin-bottom: 0px">
                        <div id="modal-shift-{{ shift.id }}" class="col s12">
                            {% if use_card_reader_to_validate_shifts and shift.isPastOrCurrent %}
                                <span class="{% if shift.wasCarriedOut %}green-text{% else %}red-text{% endif %}">&#9673;</span>&nbsp;
                            {% endif %}
                            {{ shift.shifter.displayNameWithMemberNumber }}
                            {% if shift.formation %}&nbsp;({{ shift.formation.name }}){% endif %}
                            {% if not shift.formation and shift.shifter.formations | length > 0 %}&nbsp;<b class="orange-text">({{ shift.shifter.formations | join(', ') }})</b>{% endif %}
                            {% if shift.isDismissed() %}<div class="red-text" style="padding-left: 5px">(en attente de reprise)</div>{% endif %}
                        </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    <p>
                        {% if use_fly_and_fixed %}
                            Créneau <b>{% if shift.fixe %}fixe{% else %}volant{% endif %}</b>, réservé
                        {% else %}
                            Réservé
                        {% endif %}
                        le <i>{{ shift.bookedTime | date_fr_with_time }}</i> par {% if shift.booker and shift.booker.beneficiary %}<a href="{{ path("member_show",{'member_number': shift.booker.beneficiary.membership.memberNumber}) }}">{{ shift.booker.beneficiary }}</a>{% else %}{{ shift.booker }}{% endif %}.
                    </p>
                    {% if is_granted('free',shift) %}
                        {% if use_card_reader_to_validate_shifts and shift.isPastOrCurrent %}
                            <button class="btn orange" title="Invalider la participation" id="shift_invalidate_{{ shift.id }}" data-shiftid="{{ shift.id }}" {% if not shift.wasCarriedOut %}style="display: none;"{% endif %}>
                                <i class="material-icons left">highlight_off</i>Invalider la participation
                            </button>
                            <button class="btn green" title="Valider la participation" id="shift_validate_{{ shift.id }}" data-shiftid="{{ shift.id }}" {% if shift.wasCarriedOut %}style="display: none;"{% endif %}>
                                <i class="material-icons left">check_circle</i>Valider la participation
                            </button>
                        {% endif %}
                        {{ form_start(shift_free_forms[shift.id]) }}
                            {% if shift.isPast %}
                                <button type="submit" class="btn red" title="Supprimer la participation">
                                    <i class="material-icons left">delete</i>Supprimer la participation
                                </button>
                            {% else %}
                                <button type="submit" class="btn orange" title="Libérer">
                                    <i class="material-icons left">lock_open</i>Libérer
                                </button>
                            {% endif %}
                        {{ form_end(shift_free_forms[shift.id]) }}
                    {% endif %}
                </div>
            </li>
        {% else %}
            <li>
                <div class="collapsible-header" style="display: block;">
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s12">
                            <b>
                                <span style="font-style: italic">
                                    {% if shift.lastShifter %}réservé à {{ shift.lastShifter.displayNameWithMemberNumber }}
                                    {% else %}libre
                                    {% endif %}
                                </span>
                            </b>
                            {% if shift.formation %}
                                </b>&nbsp;({{ shift.formation.name }})
                            {% else %}
                                </b>&nbsp;(sans formation particulière)
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="collapsible-body">
                    {{ form_start(shift_book_forms[shift.id]) }}
                    <div class="row">
                        <div class="col {% if use_fly_and_fixed %}s7{% else %}s9{% endif %} input-field">
                            {{ form_label(shift_book_forms[shift.id].shifter) }}
                            {{ form_widget(shift_book_forms[shift.id].shifter) }}
                        </div>
                        {% if use_fly_and_fixed %}
                            <div class="col s2">
                                {{ form_widget(shift_book_forms[shift.id].fixe) }}
                            </div>
                        {% endif %}
                        <div class="col s3">
                            {% if not use_fly_and_fixed %}
                                {{ form_widget(shift_book_forms[shift.id].fixe) }}
                            {% endif %}
                            <button type="submit" class="btn add">Ajouter</button>
                        </div>
                    </div>
                    {{ form_end(shift_book_forms[shift.id]) }}
                    {% if not shift.lastShifter %}
                        {{ form_start(shift_delete_forms[shift.id]) }}
                        <button type="submit" title="Supprimer le poste" class="btn red">
                            <i class="material-icons left">delete</i>Supprimer
                        </button>
                        {{ form_end(shift_delete_forms[shift.id]) }}
                    {% endif %}
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{{ form_start(bucket_add_form) }}
<input type="hidden" id="{{ bucket_add_form.start.date.vars.id }}" name="{{ bucket_add_form.start.date.vars.full_name }}" value="{{ bucket_add_form.start.date.vars.value }}">
<input type="hidden" id="{{ bucket_add_form.start.time.vars.id }}" name="{{ bucket_add_form.start.time.vars.full_name }}" value="{{ bucket_add_form.start.time.vars.value }}">
<input type="hidden" id="{{ bucket_add_form.end.date.vars.id }}" name="{{ bucket_add_form.end.date.vars.full_name }}" value="{{ bucket_add_form.end.date.vars.value }}">
<input type="hidden" id="{{ bucket_add_form.end.time.vars.id }}" name="{{ bucket_add_form.end.time.vars.full_name }}" value="{{ bucket_add_form.end.time.vars.value }}">
{{ form_widget(bucket_add_form.job) }}
<div class="row valign-wrapper">
    <div class="col s3">
        {{ form_label(bucket_add_form.number) }}
        {{ form_widget(bucket_add_form.number) }}
    </div>
    <div class="col s6">
        {{ form_label(bucket_add_form.formation) }}
        {{ form_widget(bucket_add_form.formation) }}
    </div>
    <div class="col s3">
        <button type="submit" class="btn waves-effect waves-light teal">
            <i class="material-icons left">add</i>Ajouter
        </button>
    </div>
</div>
{{ form_row(bucket_add_form._token) }}
{{ form_end(bucket_add_form,  {'render_rest': false}) }}
<a href="{{ path('mail_bucketshift', { 'id': bucket.id }) }}" class="btn">
    <i class="material-icons left">mail</i>Envoyer un email aux membres
</a>
{{ form_start(bucket_lock_unlock_form) }}
<button id="bucket_unlock" class="btn orange" {% if not bucket.locked %}style="display: none;"{% endif %}>
    <i class="material-icons left">lock_open</i>Déverrouiller
</button>
<button id="bucket_lock" class="btn orange" {% if bucket.locked %}style="display: none;"{% endif %}>
    <i class="material-icons left">lock</i>Verrouiller
</button>
{{ form_end(bucket_lock_unlock_form) }}
<a href="{{ path('bucket_edit', { 'id': bucket.id }) }}" class="btn deep-purple">
    <i class="material-icons left">edit</i>Editer
</a>
{{ form_start(bucket_delete_form) }}
<button id="bucket_delete" class="btn red" title="Supprimer tous les créneaux à cette heure et ce poste">
    <i class="material-icons left">delete</i>Supprimer
</button>
{{ form_end(bucket_delete_form) }}
<script>
    function error (jqXHR, exception) {
        var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Perte de connexion à internet. Vérifier votre connexion.';
        } else if (jqXHR.status == 404) {
            msg = 'Oups, le créneau n\'existe plus. Quelqu\'un d\'autre l\'a supprimé entre temps ?';
        } else if (jqXHR.status == 500) {
            msg = 'Erreur interne, il faut mettre les informatiens sur le coup !';
        } else if (exception === 'parsererror') {
            msg = 'Réponse du serveur incompréhensible (JSON parse failed).';
        } else if (exception === 'timeout') {
            msg = 'Le serveur n\'a pas répondu dans les temps...';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted.';
        } else {
            var data = jqXHR.responseJSON;
            msg = data.message;
        }
        M.toast({ text: msg, displayLength: 5000, classes: 'red' });
    }
    function makeAjaxCall(event) {
        if (event.data.confirmation) {
            var result = confirm(event.data.confirmation);
        } else {
            var result = true;
        }
        if (result) {
            $.ajax({
                url: $(event.currentTarget).attr('action'),
                data: $(event.currentTarget).serialize(),
                method: 'POST',
                success: function (data) {
                    M.toast({ text: data.message, displayLength: 2500, classes: 'green' });
                    if (this.data.includes("bucket_lock_unlock_form")) {
                        $('#main-bucket-{{ bucket.id }}').html($(data.card).children());
                        var lock = $('#{{bucket_lock_unlock_form.lock.vars.id }}').val() == 1;
                        $('button[id="bucket_'+ (lock ? '' : 'un') +'lock"]').hide();
                        $('button[id="bucket_'+ (lock ? 'un' : '') +'lock"]').show();
                        lock ? $("#modal-lock-icon").show() : $("#modal-lock-icon").hide();
                        $('#{{bucket_lock_unlock_form.lock.vars.id }}').val(lock ? 0 : 1);
                    } else if (this.data.includes("bucket_delete_form")) {
                        $('#main-bucket-{{ bucket.id }}').remove();
                        M.Modal.getInstance($('#modal-bucket')).close();
                    } else {
                        $('#main-bucket-{{ bucket.id }}').html($(data.card).children());
                        M.Modal.getInstance($('#modal-bucket')).close();
                    }
                },
                error: error
            });
        }
        event.preventDefault();
    }
    $('form[name="bucket_delete_form"]').on('submit', {confirmation: "Supprimer les créneaux et les réservations ?!"}, makeAjaxCall);
    $('form[name^="shift_delete_forms_"]').on('submit', {confirmation: "Etes-vous sûr de supprimer ce poste ?!"}, makeAjaxCall);
    $('form[name^="shift_free_forms_"]').on('submit', {confirmation: "Etes-vous sûr de vouloir libérer ce poste ?!"}, makeAjaxCall);
    $('form[name="bucket_add_form"], form[name="bucket_lock_unlock_form"], form[name^="shift_book_forms_"]').on('submit', {}, makeAjaxCall);
    $('button[id^="shift_validate"], button[id^="shift_invalidate"]').on('click', function (e) {
        var shiftid = $(this).data('shiftid');
        var validate = !$(this).attr('id').includes("invalidate");
        if (validate) {
            var url = "{{ path('shift_validate', { 'id': 'xxxxxx' }) }}".replace('xxxxxx', shiftid);
            var show = 'button[id="shift_invalidate_'+shiftid+'"]';
            var textcolor = "green-text";
        } else {
            var url = "{{ path('shift_invalidate', { 'id': 'xxxxxx' }) }}".replace('xxxxxx', shiftid);
            var show = 'button[id="shift_validate_'+shiftid+'"]';
            var textcolor = "red-text";
        }
        var self = this;
        $.ajax({
            url: url,
            data: {},
            method: 'POST',
            success: function (data) {
                M.toast({ text: data.message, displayLength: 2500, classes: 'green' });
                $(self).hide();
                $(show).show();
                $("#modal-shift-"+shiftid).find('span').attr("class",textcolor);
                $('#main-bucket-{{ bucket.id }}').html($(data.card).children());
            },
            error: error
        });
        e.stopPropagation();
    });
</script>
