{% set nbBookableShifts = shift_service.getBookableShifts(bucket) | length %}
{% set nbShifts = (bucket.shifts() | length) %}
<div
        data-offset="{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60) }}"
        data-length="{{ (100/(end-start+1)) }}"
        style="padding: 0 1px;width:{{ (bucket.duration / 60) * (100/(end-start+1)) }}%;position: absolute;
                left:{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60)*(100/(end-start+1)) }}%;
                top: {{ line*10 }}px;">
    <a href="#edit{{ bucket.first.id }}"
       class="modal-trigger tooltipped" data-position="top" data-delay="100" data-tooltip="{{ bucket.first.job.name }}">
        <div class="z-depth-1 {% if bucket.first.locked %}blue-grey white-text{% else %}{{ bucket.first.job.color }} lighten-5 black-text{% endif %} "
             style="position: relative;height: 60px;">
            <div style="height:2px; width: 100%;position: absolute;">
                {% if nbBookableShifts < nbShifts %}
                    {% for shifter in 1..(nbShifts - nbBookableShifts) %}
                        <div class="green lighten-3 left" style="height:100%; width: {{ 100/(nbShifts) }}%"></div>
                    {% endfor %}
                {% endif %}
            </div>
            <div >
                <div style="position: absolute;width:60px;height: 60px;top: 0;left: 2px;transform: rotate(-90deg);text-align: center;font-size: 9px;">{{ bucket.start|date('G\\hi') }}
                        &nbsp;{{ bucket.end|date('G\\hi') }}</div>
                <ul style="font-size: 9px; padding-left: 20px;">
                    {% set shiftercount = 0 %}
                    {% for shift in bucket.sortedShifts() %}
                        {% if (shift.shifter) %}{# is booked #}
                            {% if (shiftercount < 3) %}
                                <li class="{% if shift.isDismissed() %}red-text{% endif %}">{% if shift.formation %}<b
                                            data-formation="{{ shift.formation.name }}">{% endif %}{{ shift.shifter.firstname|lower|capitalize }}
                                        &nbsp;{{ shift.shifter.lastname|first|upper }}{% if shift.formation %}</b>{% endif %}
                                    {% if not shift.formation and shift.shifter.formations | length > 0 %}&nbsp;<b class="orange-text">(q)</b>{% endif %}
                                </li>
                                {% set shiftercount = shiftercount + 1 %}
                            {% elseif shiftercount == 3 %}
                                <li>( ... )</li>
                                {% set shiftercount = shiftercount + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% if bucket.first.locked %}
                <span class="text-darken-1-text truncate admin-shift-warning"><i class="material-icons tiny">lock</i>&nbsp;Verrouillé</span>
            {% elseif (shiftercount == 0) %}
                <span class="red-text red lighten-5 truncate admin-shift-warning" ><i class="material-icons tiny left">warning</i>&nbsp;sous-effectif</span>
            {% elseif (shiftercount < (bucket.shifts() | length)/2) %}
                <span class="orange-text orange lighten-4 truncate admin-shift-warnin" ><i class="material-icons tiny left">warning</i>&nbsp;sous-effectif</span>
            {% endif %}
        </div>
    </a>
</div>
<div id="edit{{ bucket.first.id }}" class="modal">
    <div class="modal-content">
        {% if bucket.first.locked %}
            <i class="material-icons left large">lock</i>
        {% endif %}
        <h4>Créneaux / <span class="{{ bucket.first.job.color }}-text">{{ bucket.first.job.name }}</span></h4>
        <h5>{{ bucket.start|date_fr_long }} de {{ bucket.start|date('G\\hi') }} à {{ bucket.end|date('G\\hi') }}</h5>
        remplissage {{ nbShifts-nbBookableShifts }}/{{ nbShifts }} ({{ ((nbShifts-nbBookableShifts) / nbShifts)*100 }}%)
        <ul class="collapsible" data-collapsible="accordion">
            {% for shift in bucket.sortedShifts() %}
                {% if shift.shifter %}{# is booked #}
                    <li id="shift{{ shift.id }}">
                        <div class="collapsible-header">
                        {% if shift.formation %}<b data-formation="{{ shift.formation.name }}">{% endif %}
                            #{{ shift.shifter.membership.memberNumber }}&nbsp;{{ shift.shifter.firstname }}&nbsp;{{ shift.shifter.lastname }}
                            {% if shift.formation %}</b>&nbsp;({{ shift.formation.name }}){% endif %}
                            {% if not shift.formation and shift.shifter.formations | length > 0 %}&nbsp;<b class="orange-text">({{ shift.shifter.formations | join(', ') }})</b>{% endif %}
                            {% if shift.isDismissed() %}<div class="red-text" style="padding-left: 5px">(en attente de reprise)</div>{% endif %}
                        </div>
                        <div class="collapsible-body">
                            {% if use_fly_and_fixed %}
                                Créneau <b>{% if shift.fixe %} fixe {% else %} volant {% endif %} </b>, réservé
                            {% else %}
                                Réservé
                            {% endif %}
                                le <i>{{ shift.bookedTime | date_fr_with_time }}</i> par <a href="{{ path("member_show",{'member_number':shift.booker.membership.memberNumber}) }}">{{ shift.booker }}</a>.
                            {% if is_granted('free',shift) %}
                                <form action="{{ path('free_shift', {'id' : shift.id }) }}" method="post" id="free_shift_{{ shift.id }}">
                                    {% if shift.isPast %}
                                        <button type="submit" class="btn red"><i class="material-icons left">delete</i>Supprimer</button>
                                    {% else %}
                                        <button type="submit" class="btn orange"><i class="material-icons left">lock_open</i>Libérer</button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </li>
                {% else %}
                    <li id="shift{{ shift.id }}">
                        <div class="collapsible-header">
                            {% if shift.formation %}
                                <b data-formation="{{ shift.formation.name }}">
                            {% else %}
                                <b>
                            {% endif %}
                                <span style="font-style: italic">
                            {% if shift.lastShifter %}réservé à {{ shift.lastShifter.displayName }}
                            {% else %}libre
                            {% endif %}
                            </span>
                            {% if shift.formation %}
                                </b>&nbsp;({{ shift.formation.name }})
                            {% else %}
                                </b>&nbsp;(sans formation particulière)
                            {% endif %}
                        </div>
                        <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col {% if use_fly_and_fixed %}s7{% else %}s9{% endif %}">
                                        <input id ="benef{{ shift.id }}" type="text" class="empty-shift" name="beneficiary" placeholder="Beneficiaire">
                                    </div>
                                    {% if use_fly_and_fixed %}
                                    <div class="col s2">
                                        <div>
                                            <input type="radio" id="volant{{ shift.id }}" class="checkedTypeService{{ shift.id }}" name="typeService{{ shift.id }}" checked value=0>
                                            <label for="volant{{ shift.id }}" style="color: #5f5a5a; font-weight: 600;">volant</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="fixe{{ shift.id }}" class="checkedTypeService{{ shift.id }}" name="typeService{{ shift.id }}" value=1>
                                            <label for="fixe{{ shift.id }}" style="color: #5f5a5a; font-weight: 600;">fixe</label>
                                        </div>
                                    </div>
                                    <div class="col s3">
                                        <button class="btn add" disabled="disabled" onclick="postShift({{ shift.id }})">Ajouter</button>
                                    </div>
                                    {% else %}
                                        <div class="col s3">
                                            <input type="hidden" class="checkedTypeService{{ shift.id }}" name="typeService{{ shift.id }}" value=0>
                                            <button class="btn add" onclick="postShift({{ shift.id }})">Ajouter</button>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="{{ path('mail_bucketshift', {'id':  bucket.first.id }) }}" class="btn">
            <i class="material-icons left">mail</i>Envoyer un email aux membres
        </a>
        {% if bucket.first.locked %}
            <a href="{{ path('unlock_shift', {'id':  bucket.first.id }) }}" class="btn orange">
                <i class="material-icons left">unlock</i>Déverrouiller ce créneau
            </a>
        {% else %}
            <a href="{{ path('lock_shift', {'id':  bucket.first.id }) }}" class="btn orange">
                <i class="material-icons left">lock</i>Verrouiller ce créneau
            </a>
        {% endif %}
        <a href="#" title="Supprimer tous les créneaux à cette heure et ce poste" onclick="var r = confirm('Supprimer les créneaux et les réservations ?!'); if (r == true) {
            $('#form_shift_id').val({{ bucket.first.id }});$('#delete_bucket').submit();}" class="red btn">
            <i class="material-icons left">delete</i>Supprimer
        </a>
    </div>
</div>
