{% extends 'layout.html.twig' %}

{% block beforecontainer %}
{% endblock %}
{% block aftercontainer %}
    <div class="center-align">
        {% image '@AppBundle/Resources/public/img/cute-elefan.png' %}
        <img class="responsive-img" src="{{ asset_url }}" alt="elefan" />
        {% endimage %}
    </div>
{% endblock %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="container">
                <br><br>
                <h3 class="header center">Bonjour {{ app.user.firstname }}</h3>
                <div class="row center">
                    <p class="col s12">Bienvenue sur ton espace personnel à l'éléfàn</p>
                    <p class="col s12">Cet espace, vide pour le moment, regroupera bientôt tous les services liés à ta qualité de membre.</p>
                </div>
                {% if (app.user.isRegistrar(ip))  %}
                    <a href="{{ path("user_office_tools") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Poste adhésion / ré-adhésion</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <h5>Actions admin</h5>
                    <a href="{{ path("user_index") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Gérer les adhérents</a>
                    <a href="{{ path("admin") }}" class="waves-effect waves-light btn"><i class="material-icons left">settings</i>Admin panel</a>
                {% endif %}
            </div>
        {% else %}
            <div class="container">
                <br><br>
                <h3 class="header center orange-text">Mon compte à l'éléfàn</h3>
                <div class="row center">
                    <p class="col s12 light">Bienvenue sur votre espace de gestion utilisateur</p>
                </div>
                <div class="row center">
                    <a href="{{ path('find_me') }}" id="download-button" class="btn-large waves-effect waves-light orange">Créer mon compte</a>
                </div>
                <div class="row center">
                    <p class=" col s12 light">Déjà un compte ? <a href="{{ path('fos_user_security_login') }}">identifiez-vous</a></p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
