{% extends 'layout.html.twig' %}

{% block beforecontainer %}
{% endblock %}
{% block aftercontainer %}
    <div class="center-align">
        {% image '@AppBundle/Resources/public/img/cute-elefan.png' %}
        <img class="responsive-img" src="{{ asset_url }}" alt="elefan" />
        {% endimage %}
    </div>
{% endblock %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="container">
                <br><br>
                <h3 class="header center">Bonjour {{ app.user.firstname }}</h3>
                <div class="row center">
                    <p class="col s12">Bienvenue sur ton espace personnel à l'éléfàn</p>
                    {% for event in events %}
                        <h5>{{ event.title }}</h5>
                        <h6><i>{{ event.date | date('d M H:i') }}</i></h6>
                        {% for beneficiary in app.user.beneficiaries %}
                            {% for proxy in beneficiary.receivedProxies %}
                                {{ beneficiary }} -> {{ proxy.id }}
                            {% endfor %}
                        {% endfor %}
                        {% for proxy in app.user.givenProxies %}
                            Une procuration pour {{ proxy.event.title }}
                        {% endfor %}
                        <a href="{{ path("event_proxy_give",{'id':event.id}) }}" class="waves-effect waves-light btn purple">Je ne peux pas venir, je fais une procuration</a>
                        <a href="{{ path("event_proxy_take",{'id':event.id}) }}" class="waves-effect waves-light btn green">Je viens, j'accepte une procuration</a>
                    {% endfor %}
                </div>
                <a href="https://lelefan.org/creneaux_fevrier_2018/?from=membres.lelefan.org" class="waves-effect waves-light btn teal"><i class="material-icons left">date_range</i>Creneaux février 2018</a><br>
                {% if is_granted("access_tools",app.user)  %}
                    <h5>Outils</h5>
                    <a href="{{ path("user_office_tools") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Poste adhésion / ré-adhésion</a>
                {% endif %}
                <a href="{{ path("tasks_list") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Taches en cours</a>
                {% if is_granted("ROLE_ADMIN") %}
                    <h5>Actions admin</h5>
                    <a href="{{ path("user_index") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Gérer les adhérents</a>
                    <a href="{{ path("admin") }}" class="waves-effect waves-light btn"><i class="material-icons left">settings</i>Admin panel</a>
                {% endif %}
            </div>
        {% else %}
            <div class="container">
                <br><br>
                <h3 class="header center orange-text">Mon compte à l'éléfàn</h3>
                <div class="row center">
                    <p class="col s12 light">Bienvenue sur votre espace de gestion utilisateur</p>
                </div>
                <div class="row center">
                    <a href="{{ path('find_me') }}" id="download-button" class="btn-large waves-effect waves-light orange">Créer mon compte</a>
                </div>
                <div class="row center">
                    <p class=" col s12 light">Déjà un compte ? <a href="{{ path('fos_user_security_login') }}">identifiez-vous</a></p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
