{% extends 'layout.html.twig' %}

{% block beforecontainer %}
{% endblock %}
{% block aftercontainer %}
    <div class="center-align">
        {% image '@AppBundle/Resources/public/img/cute-elefan.png' %}
        <img class="responsive-img" src="{{ asset_url }}" alt="elefan" />
        {% endimage %}
    </div>
{% endblock %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="container center">
                <div class="section no-pad-bot">
                    <h3 class="header">Bonjour {{ app.user.firstname }}</h3>
                    <p class="col s12">Bienvenue sur ton espace personnel à l'éléfàn</p>
                </div>
                <div class="row">
                    {% for event in events %}
                        {% include "default/event/_event.html.twig" with { event: event } %}
                    {% endfor %}
                </div>

                {% if app.user.memberNumber > 0 %}{# not only admin ? #}
                    {% include "booking/home_booked_shifts.html.twig" %}
                {% else %}
                    <a href="{{ path("booking_admin") }}" class="waves-effect waves-light btn teal"><i class="material-icons left">date_range</i>Gérer les créneaux</a>
                {% endif %}

                <h5>Construire</h5>
                {% if is_granted("access_tools",app.user)  %}
                    <a href="{{ path("user_office_tools") }}" class="waves-effect waves-light btn teal"><i class="material-icons left">list</i>Poste adhésion / ré-adhésion</a>
                {% endif %}
                <a href="{{ path("tasks_list") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Taches en cours</a>
                {% if is_granted("view",codes | first) or is_granted("create",codes | first)  %}
                    <br>
                {% endif %}
                {% if is_granted("view",codes | first)  %}
                    <a href="{{ path("codes_list") }}" class="waves-effect waves-light btn deep-purple lighten-1"><i class="material-icons left">vpn_key</i>Voir code{% if codes | length > 1%}s{% endif %} coffre à clefs</a>
                {% endif %}
                {% if is_granted("create",codes | first)  %}
                    <a href="{{ path("code_new") }}" class="waves-effect waves-light btn deep-purple darken-1"><i class="material-icons left">vpn_key</i>Nouveau code coffre</a>
                {% endif %}

                {% if is_granted("ROLE_USER_MANAGER") %}
                    <h5>Gérer les membres</h5>
                    <a href="{{ path("user_index") }}" class="waves-effect waves-light btn"><i class="material-icons left">people</i>Gérer les adhérents</a>
                {% endif %}
                {% if is_granted("ROLE_FINANCE_MANAGER") %}
                    <a href="{{ path("admin_registrations") }}" class="waves-effect waves-light btn indigo"><i class="material-icons left">attach_money</i>Voir les adhésions</a>
                {% endif %}

                {% if is_granted("ROLE_ADMIN") %}
                    <h5>Actions admin</h5>
                    {% if app.user.memberNumber > 0 %}
                        <a href="{{ path("booking_admin") }}" class="waves-effect waves-light btn teal"><i class="material-icons left">date_range</i>Gérer les créneaux</a>
                    {% endif %}
                    <a href="{{ path("admin") }}" class="waves-effect waves-light btn"><i class="material-icons left">settings</i>Admin panel</a>
                {% endif %}
            </div>
        {% else %}
            <div class="container">
                <br><br>
                <h3 class="header center orange-text">Mon compte à l'éléfàn</h3>
                <div class="row center">
                    <p class="col s12 light">Bienvenue sur l'espace membre</p>
                </div>
                <div class="row center">
                    <a href="{{ path('fos_user_security_login') }}" class="btn-large waves-effect waves-light"><i class="material-icons left">lock_outline</i>Se connecter</a>
                </div>
                <div class="row center">
                    <p class=" col s12 light"> Pas encore d'identifiant ?
                        <a href="{{ path('find_me') }}" class="orange-text">Créer mon compte</a>
                    </p>
                </div>
            </div>
            </div>
            {#<h4 class="header center gray-text">Planning</h4>#}
            {% include "booking/_partial/list.html.twig" with { bucketsByDay: bucketsByDay } %}
            <div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script>
        jQuery(function () {
            $(".collapsible .modal-trigger").on('click',function (e) {
                e.preventDefault();
            })
        })
    </script>
{% endblock %}
