{% extends 'layout.html.twig' %}

{% block beforecontainer %}
{% endblock %}
{% block aftercontainer %}
    <div class="center-align">
        {% image '@AppBundle/Resources/public/img/cute-elefan.png' %}
        <img class="responsive-img" src="{{ asset_url }}" alt="elefan" />
        {% endimage %}
    </div>
{% endblock %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="container center">
                <div class="section no-pad-bot">
                    <h3 class="header">Bonjour {{ app.user.firstname }}</h3>
                    <p class="col s12">Bienvenue sur ton espace personnel à l'éléfàn</p>
                </div>

                <div class="section">
                    {% include "booking/_partial/booked_shifts.html.twig" %}
                </div>

                <div class="section">
                    <h4 class="header">Participer</h4>
                    <div class="row">
                        <a href="{{ path("tasks_list") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Taches en cours</a>
                    </div>
                    {% if (app.user.isRegistrar(ip))  %}
                        <div class="row">
                            <a href="{{ path("user_office_tools") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Poste adhésion / ré-adhésion</a>
                        </div>
                    {% endif %}
                </div>

                {% if is_granted("ROLE_ADMIN") %}
                    <div class="section">
                        <h4 class="header">Administration </h4>
                        <div class="row">
                            <a href="{{ path("user_index") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Gérer les adhérents</a>
                        </div>
                        <div class="row">
                            <a href="{{ path("admin") }}" class="waves-effect waves-light btn"><i class="material-icons left">settings</i>Admin panel</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="container center">
                <br><br>
                <h3 class="header orange-text">Mon compte à l'éléfàn</h3>
                <div class="row">
                    <p class="col s12 light">Bienvenue sur l'espace membre</p>
                </div>
                <div class="row">
                    <a href="{{ path('fos_user_security_login') }}" class="btn-large waves-effect waves-light">Me connecter</a>
                </div>
                <div class="row">
                    <p class=" col s12 light">Nouveau à l'éléfan ?</p>
                    <a href="{{ path('find_me') }}" id="download-button" class="btn-large waves-effect waves-light orange">Créer mon compte</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
