{% extends 'layout.html.twig' %}

{% block title %}Liste des réseaux sociaux - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<i class="material-icons">public</i>&nbsp;Liste des réseaux sociaux
{% endblock %}

{% block content %}
    <h4>Liste des réseaux sociaux ({{ socialNetworks | length }})</h4>

    <table class="responsive-table">
        <thead>
            <tr>
                <th>Réseau social</th>
                <th>Description</th>
                <th>Url</th>
                <th>Affiché dans le footer ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for socialNetwork in socialNetworks %}
            <tr>
                <td>{{ socialNetwork.name }}</td>
                <td>{{ socialNetwork.description }}</td>
                <td>
                    <a href="{{ socialNetwork.url }}">{{ socialNetwork.url }}</a>
                </td>
                <td>
                    {% if socialNetwork.displayedFooter %}
                        <i class="material-icons">check</i>
                    {% else %}
                        <i class="material-icons">close</i>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path("admin_socialnetwork_edit", { 'id': socialNetwork.id }) }}">
                        <i class="material-icons">edit</i>editer
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br />
    <a href="{{ path('admin_socialnetwork_new') }}" class="btn">
        <i class="material-icons left">add</i>Ajouter un réseau social
    </a>
{% endblock %}
