{% extends 'layout.html.twig' %}
{% block content %}
    <h4 class="">Liste des codes {% if not is_granted("ROLE_ADMIN") %}en cours{% endif %}</h4>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Créé le</th>
                <th>Membre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for code in codes %}
                <tr>
                    <td>{% if code.closed %}<del>{% endif %}
                            <b>{{ code.value }}</b>
                        {% if code.closed %}</del>{% endif %}
                    </td>
                    <td>
                        {{ code.createdAt | date('d-m-Y H:m') }}
                    </td>
                    <td>
                        {{ code.getRegistrar }}
                    </td>
                    <td>
                        {% if is_granted('edit',code) %}
                            <a href="{{ path("code_edit",{'id':code.id}) }}"><i class="material-icons">edit</i></a>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('create',code) %}
        <a href="{{ path("code_new") }}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Ajouter un code</a>
    {% endif %}
{% endblock %}