{% extends 'layout.html.twig' %}

{% block title %}Nouveau code boîtier - {{ site_name }}{% endblock %}

{% block content %}
    <h4 class="row center">
        <i class="material-icons large">vpn_key</i><br>
        Dépose clefs
    </h4>
    <h5 class="center">dans le boîtier extérieur</h5>

    <br>
    <br>
    {% if not code is defined %}
    <div class="row center">
        <a class="btn-large modal-trigger" href="#smartphone"><i class="material-icons medium left">phone_android</i>J'ai un smartphone</a>
        <a class="btn-large modal-trigger" href="#lowtech"><i class="material-icons medium left">phonelink_erase</i>Je n'ai pas de smartphone</a>
    </div>

    <div id="lowtech" class="modal">
        <div class="modal-content">
            <h4>Depuis cette machine</h4>
            <p>Avec cette étape, tu va créer un nouveau code boîtier à mettre en place. <br> <strong>Note bien</strong> les informations qui vont s'afficher, tu n'y aura <strong>plus accès</strong> une fois à l'éxtérieur.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close red-text btn-flat">Annuler</a>
            <a href="{{ path('code_new',{'smartphone':false}) }}" class="waves-effect waves-green btn-flat green white-text">Je génére le nouveau code</a>
        </div>
    </div>

    <div id="smartphone" class="modal">
        <div class="modal-content">
            <h4>Avec un smartphone</h4>
            <p>Le code actuel et le nouveau code serons accéssibles <strong>sur ton espace membre</strong> et envoyé sur ton adresse email <strong>{{ app.user.email }}</strong>.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close red-text btn-flat">Annuler</a>
            <a href="{{ path('code_new',{'smartphone':true}) }}" class="waves-effect waves-green btn-flat green white-text">lancer la procédure</a>
        </div>
    </div>
    {% else %}
        {% if display %}
            <div class="row">
                {% set old_code_count = 0 %}
                <div class="col s6">
                    {%  if old_codes | length > 0 %}
                        {% for c in old_codes %}
                            {% if is_granted("view",c) and c != code %}
                                {% set old_code_count = 1 + old_code_count %}
                                <div class="card-panel">
                                    <h4>Ancien code</h4>
                                    <h5><i class="material-icons left">vpn_key</i>{{ c.value }}</h5>
                                    entré à {{ c.createdAt | date('H:m:i') }} le {{ c.createdAt | date_fr_long }} par {{ c.getRegistrar }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="card-panel">
                            <h4>Aucun ancien code !</h4>
                            <h5><i class="material-icons left">vpn_key</i>0000</h5>
                            essai le code par default...
                        </div>
                    {% endif %}
                </div>
                {% if old_code_count == 0 %}
                    </div><div class="row">
                {% endif %}
                <div class="col s6{% if old_code_count == 0 %} push-s3{% endif %}">
                    <div class="card-panel green lighten-5">
                        <h4>Mon nouveau code</h4>
                        <h5><i class="material-icons left">vpn_key</i>{{ code.value }}</h5>
                        généré par mes soins le {{ code.createdAt | date_fr_long }} à {{ code.createdAt | date('H:m:i') }}
                    </div>
                </div>
            </div>
            {%  if old_code_count != 0 %}
            <div class="center-align">
                {% if no_smartphone is defined %}
                    <a href="{{ path('code_change_done') }}" class="btn large green"><span class="material-icons">check</span>J'ai noté merci !</a>
                {% else %}
                    <a href="{{ path('code_change_done') }}" class="btn large green"><span class="material-icons">check</span>Changement de code effectué !</a>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}