{% extends 'layout.html.twig' %}

{% block content %}
    <h4 class="">Nouveau code coffre à clefs extérieur</h4>

    {{ form_start(form) }}
    <div class="input-field">
        {{ form_widget(form.value) }}
        {{ form_label(form.value) }}
    </div>
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn-large waves-effect waves-light">Créer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}