{% extends 'layout.html.twig' %}

{% block title %}Nouveau code boîtier - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<i class="material-icons">vpn_key</i>&nbsp;Nouveau code boîtier
{% endblock %}

{% block content %}
    <h4>Changer le code</h4>

    {{ form_start(form) }}

    <div class="row">
        <div class="input-field col s12 m6 l4">
            {{ form_widget(form.code) }}
            {{ form_label(form.code) }}
        </div>
    </div>
    <div class="row">
        {{ form_errors(form.close_old_codes) }}
        <label>
            {{ form_widget(form.close_old_codes) }}
            <span>{{ form.close_old_codes.vars.label }}</span>
        </label>
    </div>

    <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">save</i>Enregistrer</button>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
