{% extends 'layout.html.twig' %}

{% block beforecontainer %}
{% endblock %}
{% block aftercontainer %}
{% endblock %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
        {% if is_granted("ROLE_ADMIN") %}
                <br><br>
                <h3 class="header center">Bonjour {{ app.user.firstname }}</h3>
                <div class="row center">
                    <p class="col s12">Admin panel</p>
                </div>
                <a href="{{ path("user_join") }}" class="waves-effect waves-light btn"><i class="material-icons left">call_merge</i>Joindre deux comptes</a>
                <a href="{{ path("admin_registrations") }}" class="waves-effect waves-light btn"><i class="material-icons left">attach_money</i>Gérer les Adhésions / Réadhésions</a>
                <a href="{{ path("admin_commissions") }}" class="waves-effect waves-light btn"><i class="material-icons left">tune</i>Gérer les commission</a>
                <a href="{{ path("admin_roles") }}" class="waves-effect waves-light btn"><i class="material-icons left">tune</i>Gérer les roles</a>
            <h5>Créneaux</h5>
                <a href="{{ path("period") }}" class="waves-effect waves-light btn"><i class="material-icons left">date_range</i>Semaine type</a>
        {% endif %}
        {% if is_granted("ROLE_SUPER_ADMIN") %}
            <h5>Actions super admin</h5>
            <a href="{{ path("admin_registrations_fix") }}" class="waves-effect waves-light btn"><i class="material-icons left">local_hospital</i>Corriger les adhésions</a>
            <a href="{{ path("admin_status_fix") }}" class="waves-effect waves-light btn"><i class="material-icons left">local_hospital</i>Corriger l'état des comptes</a>
            <a href="{{ path("admin_clients") }}" class="waves-effect waves-light btn"><i class="material-icons left">vpn_key</i>Gérer les clients Oauth</a>
            <a href="{{ path("admin_emails_csv") }}" class="waves-effect waves-light btn"><i class="material-icons left">list</i>export emails as csv</a>
            <a href="{{ path("admin_services") }}" class="waves-effect waves-light btn"><i class="material-icons left">tune</i>Gérer les services</a>
            <a href="{{ path("user_import_csv") }}" class="waves-effect waves-light btn">Importer des adhérents en CSV</a>
        {% endif %}
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
