{% extends 'layout.html.twig' %}

{% block content %}
    <h4 class="">Liste des dernières adhésions / ré-adhésions</h4>

    {% if is_granted("ROLE_ADMIN") %}
        <ul class="collapsible" data-collapsible="accordion">
            {% for registration in registrations %}
                <li class="">
                    <div class="collapsible-header {% if registration.user is defined and registration.user and (registration.user.registrations | length) > 1 %}teal{% else %}indigo{% endif %} lighten-4">{% if registration.mode == constant('TYPE_CREDIT_CARD', registration) %}
                            <i class="material-icons tiny">credit_card</i>
                        {% else %}
                            <i class="material-icons tiny">attach_money</i>
                        {% endif %}
                        {{ registration.date | date('d F Y') }} {{ registration.date | date('H:i') }} {{ registration.amount }}
                        {% if registration.mode == constant('TYPE_CREDIT_CARD', registration) %}
                            € en CARTE CREDIT
                        {% elseif registration.mode ==  constant('TYPE_LOCAL', registration) %}
                            CAIRN{#TODO PUT THIS VALUE IN CONF#}
                        {% elseif registration.mode ==  constant('TYPE_CASH', registration) %}
                            € en ESPECE
                        {% elseif registration.mode ==  constant('TYPE_CHECK', registration) %}
                            € en CHEQUE
                        {% endif %}
                        {% if registration.registrar  %}
                        par&nbsp<a href="{{ path("user_show",{"username":registration.registrar.username}) }}">{{ registration.registrar.username }}</a>&nbsp
                        {% endif %}
                        {% if registration.user  %}
                        pour #<a href="{{ path("user_show",{"username":registration.user.username}) }}">{{ registration.user.memberNumber }}</a>&nbsp
                            {% if registration.user.mainBeneficiary %}
                                {{ registration.user.mainBeneficiary.firstname }} {{ registration.user.mainBeneficiary.lastname }}
                            {% endif %}
                            {% if(registration.user.registrations | length) > 1 %}
                                (Ré-adhésion)
                            {% endif %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <ul class="pagination">
            <li class="{% if(page==1) %}disabled{% else %}waves-effect{% endif %}">
                <a href="{% if(page==1) %}#!{% else %}{{ path("admin_registrations",{'page':page-1}) }}{% endif %}">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            {% for i in range(1,nb_of_pages) %}
            <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("admin_registrations",{'page':i}) }}">{{ i }}</a></li>
            {% endfor %}
            <li class="{% if(page==nb_of_pages) %}disabled{% else %}waves-effect{% endif %}">
                <a href="{% if(page==nb_of_pages) %}#!{% else %}{{ path("admin_registrations",{'page':page+1}) }}{% endif %}">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        </ul>
    {% endif %}

{% endblock %}
