<div class="beneficiary row">
    {% if form.user is defined %}
        <div class="input-field email col s12">
            <div class="errors">
                {{ form_errors(form.user.email) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.user.email) }}
                {{ form_label(form.user.email) }}
            </div>
        </div>
    {% endif %}
    <div class="input-field firstname col s6">
        <div class="errors">
            {{ form_errors(form.firstname) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.firstname) }}
            {{ form_label(form.firstname) }}
        </div>
    </div>
    <div class="input-field laststname col s6">
        <div class="errors">
            {{ form_errors(form.lastname) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.lastname) }}
            {{ form_label(form.lastname) }}
        </div>
    </div>
    <div class="input-field phone col s12">
        <div class="errors">
            {{ form_errors(form.phone) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.phone) }}
            {{ form_label(form.phone) }}
        </div>
    </div>
    <div class="input-field street1 col s6">
        <div class="errors">
            {{ form_errors(form.address.street1) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.address.street1) }}
            {{ form_label(form.address.street1) }}
        </div>
    </div>
    <div class="input-field street2 col s6">
        <div class="errors">
            {{ form_errors(form.address.street2) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.address.street2) }}
            {{ form_label(form.address.street2) }}
        </div>
    </div>
    <div class="input-field zipcode col s6">
        <div class="errors">
            {{ form_errors(form.address.zipcode) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.address.zipcode) }}
            {{ form_label(form.address.zipcode) }}
        </div>
    </div>
    <div class="input-field city col s6">
        <div class="errors">
            {{ form_errors(form.address.city) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.address.city) }}
            {{ form_label(form.address.city) }}
        </div>
    </div>
    <div class="checkboxes col s6">
        {% if form.children.formations is defined %}
            {{ form_widget(form.formations) }}
            {{ form_label(form.formations) }}
        {% endif %}
    </div>
    <div class="checkboxes col s6">
        {% if form.children.commissions is defined %}
            {{ form_widget(form.commissions) }}
            {{ form_label(form.commissions) }}
        {% endif %}
    </div>
</div>