{% if beneficiary %}
    <div class="col s12 m6 l6 xl6">
        <div class="card {% if beneficiary.isMain %}{% else %}{% endif %}">
            <div class="card-content">
                {% include "beneficiary/_partial/info.html.twig" with { beneficiary: beneficiary } %}

                {% if not beneficiary.user.enabled %}
                    {% if isTemporaryEmail(beneficiary.user.email) %}
                        <p>{{ beneficiary.firstname }} n'a pas renseigné son email, son compte ne peux pas être activé.</p>
                    {% else %}
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                            <input type="hidden" name="username" value="{{ beneficiary.user.username }}"/>
                            Envoyer le lien de connexion sur {{ beneficiary.user.email }} ?
                            <br>
                            <button type="submit" name="submit" class="btn waves-effect waves-light light-green">
                                <i class="material-icons left">devices</i> Activer le compte de {{ beneficiary.firstname }}
                            </button>
                        </form>
                        <br>
                    {% endif %}
                {% endif %}

                <div class="card-btn-bar">
                    {% if is_granted("edit", beneficiary.membership) %}
                        <div class="card-btn">
                            <form action="{{ path('beneficiary_edit',{'id':beneficiary.id}) }}" method="get">
                                {% if not is_granted("ROLE_ADMIN") and app.request.get('token') is defined %}
                                    <input type="hidden" value="{{ app.request.get('token') }}" name="token">
                                {% endif %}
                                <button type="submit" class="btn btn-floating waves-effect waves-light" title="éditer"><i class="material-icons">mode_edit</i>
                                </button>
                            </form>
                        </div>
                        {% if delete_form is defined and not beneficiary.isMain %}
                            <div class="card-btn">
                                <a href="#remove-beneficiary-{{ beneficiary.id }}" class="modal-trigger btn btn-floating waves-effect waves-light red" title="supprimer le beneficiaire"><i
                                            class="material-icons">remove</i>
                                </a>
                            </div>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <div class="card-btn">
                                <a href="{{ path('homepage', {'_login_as':  beneficiary.user.username }) }}"
                                   class="btn btn-floating waves-effect waves-light grey" style="padding-top: 6px"
                                   title="Se connecter comme {{ beneficiary.user.username }}">
                                    <img height="22px" class="emoticon" src="{{ asset('build/images/emoticons/072-ninja.svg') }}" alt="ninja mode"></a>
                            </div>
                            {% if not isTemporaryEmail(beneficiary.user.email) %}
                                <div class="card-btn">
                                    <a href="{{ path('mail_edit_one_beneficiary', {'id':  beneficiary.id }) }}"
                                       class="btn btn-floating waves-effect waves-light teal" title="écrire à {{ beneficiary.user.firstname }}">
                                        <i class="material-icons">email</i>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ form_start(delete_form) }}
    <div id="remove-beneficiary-{{ beneficiary.id }}" class="modal">
        <div class="modal-content">
            <h5><i class="material-icons left small">remove_circle_outline</i>Supprimer le bénéficiaire</h5>
            <p>Attention, le bénéficiaire n'aura plus accès à son compte et ses informations seront perdus.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green-text">Retour à la
                raison</a>
            <button type="submit" class="btn waves-effect waves-light orange">
                <i class="material-icons left">check</i>Je sais ce que je fais !
            </button>
        </div>
    </div>
    {{ form_end(delete_form) }}
{% endif %}