{% set end_current_cycle = membership_service.endOfCycle(member) %}
{% if not member.frozen %}
    {% if member.frozenChange %}
        Comme demandé, mon compte sera gelé à la fin de mon cycle courant.
        <br />
        Soit le <strong>{{ end_current_cycle | date_modify('+1 day') | date_fr_long }}</strong>.
        <br />
        {{ form_start(freeze_change_form) }}
        <button type="submit" class="waves-effect waves-light btn orange">
            <i class="material-icons left">cancel</i>Annuler le gel de mon compte
        </button>
        {{ form_end(freeze_change_form) }}
    {% else %}
        <a class="waves-effect waves-light btn modal-trigger blue" href="#freeze-confirmation-modal">
            <i class="material-icons left">ac_unit</i>Geler mon compte
        </a>
        {{ form_start(freeze_change_form) }}
        <div class="modal" id="freeze-confirmation-modal">
            <div class="modal-content">
                <h5>
                    <i class="material-icons small">ac_unit</i>&nbsp;Gel de compte
                </h5>
                <p>
                    Besoin de faire une pause ? demande le gel de ton compte !
                    <br />
                    Pendant le gel, tu n'as plus accès au magasin, mais tu n'es pas engagé par le bénévolat.
                    <br />
                    Le gel sera effectif dès le début de ton prochain cycle, soit le
                    <strong>{{ end_current_cycle | date_modify("+1 day") | date_fr_long }}</strong> et
                    reste actif pour <strong>au minimum un cycle complet</strong>.
                    <br />
                    Tu peux demander le dégel à tout moment.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Retour</a>
                <button type="submit" class="waves-effect waves-light btn green">
                    <i class="material-icons left">check</i>Ok, je gèle mon compte
                </button>
            </div>
        </div>
        {{ form_end(freeze_change_form) }}
    {% endif %}
{% else %}
    {% if member.frozenChange %}
        Mon compte sera dégelé à la fin de mon cycle courant.
        <br />
        <strong>Soit le {{ end_current_cycle | date_fr_long }}</strong>.
        <br />
        {{ form_start(freeze_change_form) }}
        <button type="submit" class="waves-effect waves-light btn orange">
            <i class="material-icons left">cancel</i>Annuler la demande de degel de mon compte
        </button>
        {{ form_end(freeze_change_form) }}
    {% else %}
        Mon compte est gelé
        <br />
        {{ form_start(freeze_change_form) }}
        <button type="submit" class="waves-effect waves-light btn green">
            <i class="material-icons left">play_circle_filled</i>Demander le dégèle de mon compte
        </button>
        {{ form_end(freeze_change_form) }}
    {% endif %}
{% endif %}
