
    {{ form_row(form.member_number) }}
    {% if form.children.withdrawn is defined %}
        <div class="row">
            {{ form_widget(form.withdrawn) }}
            {{ form_label(form.withdrawn) }}
        </div>
    {% endif %}
    {% if form.children.frozen is defined %}
        <div class="row">
            {{ form_widget(form.frozen) }}
            {{ form_label(form.frozen) }}
        </div>
    {% endif %}
    {% include "beneficiary/_partial/beneficiary_form.html.twig" with { form: form.mainBeneficiary } %}
{% if form.lastRegistration is defined %}
    <h4>Première adhésion</h4>
    <div class="row">
        <div class="amount col s3">
            <div class="errors">
                {{ form_errors(form.lastRegistration.amount) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.lastRegistration.amount) }}
                {{ form_label(form.lastRegistration.amount) }}
            </div>
        </div>
        <div class="type col s3">
            {{ form_row(form.lastRegistration.mode) }}
        </div>
        <div class="date col s3">
            <div class="row">
                <div class="col s4">{{ form_row(form.lastRegistration.date.day) }}</div>
                <div class="col s4">{{ form_row(form.lastRegistration.date.month) }}</div>
                <div class="col s4">{{ form_row(form.lastRegistration.date.year) }}</div>
            </div>
        </div>
        <div class="col s3">
            {{ form_row(form.lastRegistration.registrar) }}
        </div>
    </div>
{% endif %}
