<h5>Roles</h5>

{% for beneficiary in member.beneficiaries %}
    <h6>Les roles de {{ beneficiary.user.firstname }}</h6>

    {% set icons = {'ROLE_ADMIN': role_admin_icon, 'ROLE_USER_MANAGER': role_user_manager_icon, 'ROLE_FINANCE_MANAGER': role_finance_manager_icon, 'ROLE_SHIFT_MANAGER': role_shift_manager_icon, 'ROLE_PROCESS_MANAGER': role_process_manager_icon} %}
    {% set names = {'ROLE_ADMIN': role_admin_name, 'ROLE_USER_MANAGER': role_user_manager_name, 'ROLE_FINANCE_MANAGER': role_finance_manager_name, 'ROLE_SHIFT_MANAGER': role_shift_manager_name, 'ROLE_PROCESS_MANAGER': role_process_manager_name} %}
    {% for role in ['ROLE_ADMIN', 'ROLE_USER_MANAGER', 'ROLE_FINANCE_MANAGER', 'ROLE_SHIFT_MANAGER', 'ROLE_PROCESS_MANAGER'] %}
        {% if beneficiary.user.hasRole(role) %}
            <a href="{{ path('user_remove_role', { 'id': beneficiary.user.id, 'role': role }) }}" class="btn light-green">
                <i class="material-icons left">clear</i>
                {{ names[role] }}
                <i class="material-icons right">{{ icons[role] }}</i>
            </a>
        {% else %}
            <a href="{{ path('user_add_role', { 'id': beneficiary.user.id, 'role': role }) }}" class="btn blue-grey">
                <i class="material-icons left">add</i>
                {{ names[role] }}
                <i class="material-icons right">{{ icons[role] }}</i>
            </a>
        {% endif %}
    {% endfor %}
{% endfor %}
