{% if app.user.beneficiary.getSwipeCards | length %}
    <a class="waves-effect waves-light btn modal-trigger blue-grey" href="#all_swipecards"><i class="material-icons left">credit_card</i>{% if app.user.beneficiary.getSwipeCards | length > 1 %}Mes badges{% else %}Mon badge{% endif %}</a>
    <br>
    <div id="all_swipecards" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Tous mes badges</h4>
            {% include "swipeCard/_partial/list.html.twig" with { swipeCards: app.user.beneficiary.swipeCards | reverse , beneficiary_id: 0} %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat red-text">Fermer</a>
        </div>
    </div>
{% endif %}
{% if app.user.beneficiary.getEnabledSwipeCards | length %}
    {% set card = app.user.beneficiary.getEnabledSwipeCards.first %}
    {% if showBadgeImage %}
        <div class="badge_card">
            <img src="{{ absolute_url(path('swipe_br',{"code": card.code | vigenere_encode | url_encode})) }}" alt="barecode">
        </div>
        <br>
    {% endif %}
    <a href="#swipe_disable_{{ card.id }}" class="red-text modal-trigger">Badge perdu ?</a>
    <div id="swipe_disable_{{ card.id }}" class="modal">
        <div class="modal-content">
            <h4>Badge n°{{ card.number }}</h4>
            <div class="badge">
                <img
                        src="{{ absolute_url(path('swipe_br',{"code": card.code | vigenere_encode | url_encode})) }}"
                        alt="barecode">
            </div>
            <p>
                Alors comme ça tu ne retrouves plus ton badge ? Désactive le ici.
            </p>
            <form action="{{ path('disable_swipe')}}" method="post">
                <input type="hidden" name="code" value="{{ card.code | vigenere_encode }}"/>
                <button type="submit" class="waves-effect waves-light btn-flat red white-text"><i class="material-icons left">close</i>Desactiver<span class="hide-on-small-only"> ce badge</span></button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect red-text btn-flat">Retour</a>
        </div>
    </div>
{% else %}
    <a href="#swipe_add" class="btn waves-effect waves-light modal-trigger"><i class="material-icons left">add</i>Associer un badge à mon compte</a>
    <div id="swipe_add" class="modal">
        <div class="modal-content">
            <h3>Entrez votre numéro de badge</h3>
            <div class="swiftcard_exemple">
                {{ ( "421234567890" | barcode | raw) }}
                <canvas id="badge_canvas" class="focus" width="300" height="60"></canvas>
            </div>
            <script>
                var canvas = document.getElementById('badge_canvas');
                var context = canvas.getContext('2d');
                var centerX = 0;
                var centerY = 0;
                var radius = 25;
                // save state
                context.save();
                // translate context
                context.translate(canvas.width / 2, canvas.height / 2);
                // scale context horizontally
                context.scale(4, 1);
                // draw circle which will be stretched into an oval
                context.beginPath();
                context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
                // restore to original state
                context.restore();
                // apply styling
                context.lineWidth = 3;
                context.strokeStyle = 'red';
                context.stroke();
            </script>
            <form action="{{ path('active_swipe')}}" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input pattern=".{13,13}" type="text" name="code" autocomplete="off" />
                        <label for="code">Code du badge à 13 chiffres</label>
                    </div>
                    <div class="col s6">
                        <br>
                        <button type="submit" class="waves-effect waves-light btn-flat green white-text"><i class="material-icons left">check</i>Associer mon badge</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect red-text btn-flat">Fermer</a>
        </div>
    </div>
{% endif %}