<table>
    <thead>
        <tr>
            <th>
                TOTAL
                {% if use_time_log_saving %}
                    <span>TEMPS</span>
                {% endif %}
            </th>
            <th>TOTAL CYCLE EN COURS</th>
            {% if use_time_log_saving %}
                <th>TOTAL EPARGNE</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ member.shiftTimeCount | duration_from_minutes }}</td>
            <td>{{ member.shiftTimeCount(membership_service.endOfCycle(member)) | duration_from_minutes }}</td>
            {% if use_time_log_saving %}
                <td>{{ member.savingTimeCount | duration_from_minutes }}</td>
            {% endif %}
        </tr>
    </tbody>
</table>

{% if (from_admin ?? false) and is_granted("ROLE_SHIFT_MANAGER") %}
    <a href="#add-time-log" class="modal-trigger waves-effect waves-light btn teal">
        <i class="material-icons left">add</i>Ajouter un log de temps
    </a>
    {{ form_start(time_log_form) }}
    <div id="add-time-log" class="modal">
        <div class="modal-content">
            <h5><i class="material-icons left small">access_time</i>Ajouter un log de temps</h5>
            {{ form_widget(time_log_form) }}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat orange-text">Annuler</a>
            <button type="submit" class="btn green"><i class="material-icons left">add</i>Ajouter le log de temps</button>
        </div>
    </div>
    {{ form_end(time_log_form) }}
{% endif %}

<table>
    <thead>
        <tr class="grey lighten-2">
            <th>Date du log</th>
            <th>Auteur</th>
            <th>Temps</th>
            <th>Motif</th>
            <th>Créneau</th>
            {% if (from_admin ?? false) and is_granted("ROLE_ADMIN") %}
                <th>Route</th>
            {% endif %}
            {% if (from_admin ?? false) and is_granted("ROLE_SUPER_ADMIN") %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for timeLog in member.timeLogs %}
            <tr class="{% if timeLog.type == 20 %}blue{% elseif timeLog.time > 0 %}green{% elseif timeLog.time < 0 %}red{% else %}grey{% endif %} lighten-5">
                <td title="{{ timeLog.createdAt | date_fr_full_with_time }}">{{ timeLog.createdAt | date('d/m/Y') }}</td>
                <td>{{ timeLog.createdBy }}</td>
                <td>{{ timeLog.time | duration_from_minutes }}</td>
                <td>{{ timeLog.typeDisplay }}</td>
                <td>
                    {% if timeLog.shift %}
                        {{ timeLog.shift.job.name }} du {{ timeLog.shift.start | date('d/m/Y') }} de {{ timeLog.shift.start | date('H:i') }} à {{ timeLog.shift.end | date('H:i') }}
                        {% if timeLog.shift.shifter %}
                            ({{ timeLog.shift.shifter }})
                        {% endif %}
                    {% endif %}
                </td>
                {% if (from_admin ?? false) and is_granted("ROLE_ADMIN") %}
                    <td>{{ timeLog.requestRoute }}</td>
                {% endif %}
                {% if (from_admin ?? false) and is_granted("ROLE_SUPER_ADMIN") %}
                    <td title="Supprimer">
                        <a href="{{ path('member_timelog_delete', { "id": member.id, "timelog_id": timeLog.id }) }}" class="red-text">X</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
