{% extends 'layoutlight.html.twig' %}

{% block breadcrumps %}
{% endblock %}

{% block beforecontainer %}

    <nav class="main-navigation" role="navigation" style="background-color: {{ main_color }}">
        <a id="logo-container" class="brand-logo hide-on-med-and-down" style="margin-left: 10px">Lecteur carte membre</a>
        <div class="nav-wrapper" style="margin-right: 20px; font-size: 16px; font-weight: 600">
            <ul class="right"><li>{{ "now" | date('H:i') }}</li></ul>
        </div>
    </nav>

    <div class="row">

        <div class="col s6">
            <h5>Créneaux à venir</h5>

            {% for bucket in buckets %}

                <div class="card sticky-action">
                    <div class="card-content {{ bucket.job.color }} lighten-4">
                        <div class="card-title activator">
                            <b class="{{ bucket.job.color }}-text">{{ bucket.job.name }}</b> /
                            <b>{{ bucket.start | date('H:i') }} à {{ bucket.end | date('H:i') }}</b>
                        </div>
                        <ul>
                            {% for shift in bucket.shifts %}
                                <li style="height: 30px">
                                    <div>
                                        {% if shift.shifter %}
                                            <span style="margin-right: 5px; font-size: 16px">{{ shift.shifter.publicDisplayName }}</span>
                                            {% if shift.formation %}
                                                <span class="chip" style="margin-left: 5px"><b>{{ shift.formation }}</b></span>
                                            {% endif %}
                                            {% if shift.shifter.shifts | length == 1 %}
                                                <span class="chip red white-text" style="margin-left: 5px">Premier créneau</span>
                                            {% endif %}
                                        {% else %}
                                            <span style="margin-right: 5px; font-size: 16px">&#10071&#10071 Personne n'est inscrit sur ce créneau &#10071&#10071</span>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col s6">{{ dynamicContent | markdown | raw }}</div>

    </div>

{% endblock %}

{% block javascripts %}

    <script>
        jQuery(function () {
            $(".collapsible .modal-trigger").on('click', function (e) {
                e.preventDefault();
            });
        })
        var barcode_submit_url = "{{ path('check') }}";
        initSwipeCode(barcode_submit_url);
    </script>

    <script type="text/javascript">
        setTimeout(function(){
            location.reload();
        },60000);
    </script>

{% endblock %}
