{% extends 'layout.html.twig' %}

{% block content %}
    <h4 class="">editer tache</h4>

    {{ form_start(form) }}
    <div class="input-field">
        {{ form_widget(form.title) }}
        {{ form_label(form.title) }}
    </div>
    <div class="row">
        <div class="col s6">
            {{ form_label(form.commissions) }}
            {{ form_widget(form.commissions) }}
        </div>
        <div class="col s6">
            {{ form_label(form.owners) }}
            {{ form_widget(form.owners) }}
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            {{ form_label(form.created_at) }}
            {{ form_widget(form.created_at) }}
        </div>
        <div class="col s3">
            {{ form_label(form.due_date) }}
            {{ form_widget(form.due_date) }}
        </div>
        <div class="col s3">
            {{ form_widget(form.closed) }}
            {{ form_label(form.closed) }}
        </div>
        <div class="col s3">
            {{ form_label(form.priority) }}
            {{ form_widget(form.priority) }}
        </div>
    </div>
    <div class="input-field">
        {{ form_widget(form.status) }}
        {{ form_label(form.status) }}
    </div>
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn waves-effect waves-light">Enregistrer</button>
    </div>
    {{ form_end(form) }}

    {% if is_granted('delete',task) %}
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form) }}
        <div>
            <button type="submit" class="btn waves-effect waves-light red">Supprimer</button>
        </div>
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
