{% extends 'layout.html.twig' %}
{% block content %}
    <h4 class="">Liste des taches en cours</h4>
<ul class="collapsible popout" data-collapsible="accordion">
    {% for commission in commissions %}
        <li>
            <div class="collapsible-header">{{ commission.name }}<span class="badge">{{ commission.tasks | length }}</span></div>
            <div class="collapsible-body">
                {% if commission.nextMeetingDate %}
                <div class="card-panel teal white-text">
                    <strong>{{ commission.nextMeetingDesc  }}</strong> {{ commission.nextMeetingDate | date_fr_full }} à {{ commission.nextMeetingDate | date('H:i') }}
                </div>
                {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>tache</th>
                            <th>début</th>
                            <th>échéance</th>
                            <th>priorité</th>
                            <th>Personne(s) ressource(s)</th>
                            <th>Progression</th>
                            <th>Commission(s) / College(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in commission.tasks %}
                            <tr>
                                <td>{% if task.closed %}<del>{% endif %}
                                    {{ task.title }}
                                    {% if task.closed %}</del>{% endif %}
                                </td>
                                <td>
                                    {{ task.createdAt | date('d-m-Y') }}
                                </td>
                                <td>
                                    {{ task.dueDate | date('m-Y') }}
                                </td>
                                <td>
                                {% if not task.closed %}
                                    <span class="chip truncate {{ task.priority | priority_to_color }}">{{ task.priority }}</span>
                                {% endif %}
                                </td>
                                <td>
                                    {% for owner in task.owners %}
                                        <span class="chip truncate">
                                            <img src="{{ gravatar(owner.email) }}" alt="{{ owner.displayname }}">
                                            {{ owner.firstname }}&nbsp;{{ owner.lastname }}
                                        </span>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if task.closed %}
                                    <span class="chip light-green white-text">Terminée</span>
                                    {% else %}
                                        {{ task.status }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for com in task.commissions %}
                                        <span class="badge">{{ com.name }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if is_granted('edit',task) %}
                                        <a href="{{ path("task_edit",{'id':task.id}) }}"><i class="material-icons">edit</i></a>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>
    {% endfor %}
</ul>
    {% if is_granted('create',task) %}
        <a href="{{ path("task_new") }}" class="waves-effect waves-teal btn"><i class="material-icons left">add</i>Ajouter une nouvelle tache</a>
    {% endif %}
{% endblock %}