{% extends 'layout.html.twig' %}

{% block title %}Liste des types d'événements - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<i class="material-icons">list</i>&nbsp;Liste des types d'événements
{% endblock %}

{% block content %}
<h4>Liste des types d'événements ({{ eventKinds | length }})</h4>

<table class="responsive-table">
    <thead>
        <tr>
            <th>Type d'événement</th>
            <th>Nombre d'événements</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for eventKind in eventKinds %}
            <tr id="eventkind_{{ eventKind.id }}">
                <td class="{{ eventKind.name }}">{{ eventKind.name }}</td>
                <td>{{ eventKind.events | length }}</td>
                <td>
                    <a href="{{ path('admin_event_kind_edit', { 'id': eventKind.id }) }}">
                        <i class="material-icons">edit</i>Editer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br />
<a href="{{ path('admin_event_kind_new') }}" class="btn">
    <i class="material-icons left">add</i>Ajouter un type d'événement
</a>
{% endblock %}
