{% if not member.frozen %}
    {% if member.frozenChange %}
        <br>
        Comme demandé, mon compte sera gelé à la fin de mon cycle courant. soit le
        <strong>{{ member.endOfCycle | date_modify('+1 day') |date_fr_long }}</strong>
        <br>
        <a class="btn-large waves-effect waves-light btn orange"
           href="{{ path('member_freeze_change',{ 'id' : member.id }) }}">
            <i class="material-icons left">cancel</i>
            Annuler le gel de mon compte</a>
    {% else %}

        <a class="waves-effect waves-light btn modal-trigger blue" href="#pause"><i class="material-icons left">ac_unit</i>Geler
            mon compte</a>
        <!-- Modal Structure -->
        <div id="pause" class="modal">
            <div class="modal-content">
                <h5><i class="material-icons left small">ac_unit</i>Gel de compte</h5>
                <p>Besoin de faire une pause ? demande le gel de ton compte ! <br> Pendant le gel, tu n'as plus accès au
                    magasin, mais tu n'es pas engagé par le bénévolat.
                    <br>Le gel sera effectif dès le début de ton prochain cycle, soit le
                    <strong>{{ member.endOfCycle | date_modify("+1 day") | date_fr_long }}</strong> et
                    reste actif pour <strong>au minimum un cycle complet</strong>.
                    <br>Tu peux demander le dégel à tout moment.</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Retour</a>
                <a class="waves-effect waves-light btn green"
                   href="{{ path('member_freeze_change',{ 'id' : member.id }) }}"><i
                            class="material-icons left">check</i>Ok, je gèle mon compte</a>
            </div>
        </div>
    {% endif %}
{% else %}
    {% if member.frozenChange %}
        Mon compte sera degelé à la fin de mon cycle courrant qui termine le {{ member.endOfCycle |date_fr_long }}<br>
        <a class="btn-large waves-effect waves-light btn orange"
           href="{{ path('member_freeze_change',{ 'id' : member.id }) }}"><i class="material-icons left">cancel</i>Annuler
            la demande de degel de mon compte</a>
    {% else %}
        Mon compte est gelé
        <a class="btn-large waves-effect waves-light btn green"
           href="{{ path('member_freeze_change',{ 'id' : member.id }) }}"><i class="material-icons left">play_circle_filled</i>Demander
            le dégèle de mon compte</a>
    {% endif %}
{% endif %}
