{% extends 'layout.html.twig' %}

{% block title %}Editer une exemption de bénévolat - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_membershipshiftexemption_index') }}"><i class="material-icons">list</i>&nbsp;Liste des exemptions de bénévolat</a><i class="material-icons">chevron_right</i>
<i class="material-icons">edit</i>&nbsp;Editer
{% endblock %}

{% block content %}
    <h4>Editer une exemption de bénévolat</h4>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <div class="row">
        <div class="col s6">
            <label for="beneficiaries">Bénéficiaires</label>
            <input id='beneficiaries' type="text" value="{{ membershipShiftExemption.membership.beneficiaries | join(', ') }}" disabled>
        </div>
        <div class="col s6">
            {{ form_label(edit_form.shiftExemption) }}
            {{ form_errors(edit_form.shiftExemption) }}
            {{ form_widget(edit_form.shiftExemption) }}
        </div>
        <div class="col s12 input-field">
            {{ form_label(edit_form.description) }}
            {{ form_errors(edit_form.description) }}
            {{ form_widget(edit_form.description) }}
        </div>
        <div class="col s6 input-field">
            {{ form_label(edit_form.start) }}
            {{ form_errors(edit_form.start) }}
            {{ form_widget(edit_form.start) }}
        </div>
        <div class="col s6 input-field">
            {{ form_label(edit_form.end) }}
            {{ form_errors(edit_form.end) }}
            {{ form_widget(edit_form.end) }}
        </div>
    </div>
    <a href="{{ path('admin_membershipshiftexemption_index') }}" class="waves-effect waves-light btn red white-text" title="Annuler">Annuler</a>
    <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Enregistrer</button>
    {{ form_end(edit_form) }}

    {% if (membershipShiftExemption.start|date('Y-m-d') > "now"|date('Y-m-d')) or is_granted("ROLE_SUPER_ADMIN") %}
        {{ form_start(delete_form) }}
        <button type="submit" class="btn waves-effect waves-light red"><i class="material-icons left">delete</i>Supprimer</button>
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% include "/admin/membershipshiftexemption/_form_js.html.twig" %}
{% endblock %}
