{% extends 'layout.html.twig' %}

{% block title %}Editer une exemption de bénévolat - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_membershipshiftexemption_index') }}"><i class="material-icons">list</i>&nbsp;Liste des exemptions de bénévolat</a><i class="material-icons">chevron_right</i>
<i class="material-icons">edit</i>&nbsp;Editer
{% endblock %}

{% block content %}
    <h4>Editer une exemption de bénévolat</h4>

    {{ form_start(form) }}
    <div class="errors">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col s12 m6">
            <label for="membership">Membre</label>
            <input id='membership' type="text" value="{{ membershipShiftExemption.membership.memberNumberWithBeneficiaryListString }}" disabled>
        </div>
        <div class="col s12 m6">
            {{ form_row(form.shiftExemption) }}
        </div>
        <div class="col s12">
            {{ form_row(form.description) }}
        </div>
        <div class="row">
            <div class="col s12 m6">
                {{ form_row(form.start) }}
            </div>
            <div class="col s12 m6">
                {{ form_row(form.end) }}
            </div>
        </div>
    </div>
    {% include "admin/member/_partial/created_updated_card.html.twig" with { item: membershipShiftExemption } %}
    <a href="{{ path('admin_membershipshiftexemption_index') }}" class="waves-effect waves-light btn red white-text" title="Annuler">Annuler</a>
    <button type="submit" class="btn waves-effect waves-light">
        <i class="material-icons left">save</i>Enregistrer
    </button>
    {{ form_end(form) }}

    {% if ((membershipShiftExemption.start | date('Y-m-d')) > ('now' | date('Y-m-d'))) or is_granted("ROLE_SUPER_ADMIN") %}
        {{ form_start(delete_form) }}
        <button type="submit" class="btn waves-effect waves-light red" onclick="var r = confirm('Etes-vous sûr de vouloir supprimer cette exemption ?!'); if (r == true) {$(this).closest('form').submit();}; event.stopPropagation();">
            <i class="material-icons left">delete</i>Supprimer
        </button>
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% include "/admin/membershipshiftexemption/_form_js.html.twig" %}
{% endblock %}
