{% extends 'layout.html.twig' %}

{% block title %}Ajouter une exemption de bénévolat - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_membershipshiftexemption_index') }}"><i class="material-icons">list</i>&nbsp;Liste des membres exemptés de bénévolat</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Ajouter
{% endblock %}

{% block content %}
    <h4>Exemption d'un nouveau membre de bénévolat</h4>

    {{ form_start(form) }}
    <div class="errors">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col s12 m6">
            {{ form_row(form.membership) }}
        </div>
        <div class="col s12 m6">
            {{ form_row(form.shiftExemption) }}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            {{ form_row(form.start) }}
        </div>
        <div class="col s12 m6">
            {{ form_row(form.end) }}
        </div>
    </div>
    <a href="{{ path('admin_membershipshiftexemption_index') }}" class="waves-effect waves-light btn red white-text" title="Annuler">Annuler</a>
    <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% include "admin/membershipshiftexemption/_form_js.html.twig" %}
{% endblock %}
