{% extends 'layout.html.twig' %}

{% block title %}Ajouter une exemption de bénévolat - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_membershipshiftexemption_index') }}"><i class="material-icons">list</i>&nbsp;Liste des membres exempté.e.s de bénévolat</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Ajouter
{% endblock %}

{% block content %}
    <h4>Exemption d'un nouveau membre de bénévolat</h4>

    {{ form_start(form) }}
    <div class="errors">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col s6 input-field">
            {{ form_label(form.beneficiary) }}
            {{ form_errors(form.beneficiary) }}
            {{ form_widget(form.beneficiary) }}
        </div>
        <div class="col s6">
            {{ form_label(form.shiftExemption) }}
            {{ form_errors(form.shiftExemption) }}
            {{ form_widget(form.shiftExemption) }}
        </div>
        <div class="col s12 input-field">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="col s6 input-field">
            {{ form_label(form.start) }}
            {{ form_errors(form.start) }}
            {{ form_widget(form.start) }}
        </div>
        <div class="col s6 input-field">
            {{ form_label(form.end) }}
            {{ form_errors(form.end) }}
            {{ form_widget(form.end) }}
        </div>
    </div>
    <a href="{{ path('admin_membershipshiftexemption_index') }}" class="waves-effect waves-light btn red white-text" title="Annuler">Annuler</a>
    <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{% include "/admin/membershipshiftexemption/_form_js.html.twig" %}
{% endblock %}
