{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">extension</i>services
{% endblock %}

{% block content %}
    <h4 class="">Liste des Services</h4>

    <table class="responsive-table striped">
        <thead>
        <tr>
            <th>logo</th>
            <th>icon</th>
            <th>Service</th>
            <th>Description</th>
            <th>Url</th>
            <th>Publique</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for service in services %}
            <tr>
                <td>
                    {% if service.logo %}
                    <img src="{{ service|img('logoFile','service_logo') }}" />
                    {% endif %}
                </td>
                <td>{% if service.icon %}
                        <i class="material-icons small left">{{ service.Icon }}</i>
                    {% endif %}
                </td>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td><a href="{{ service.url }}">{{ service.url }}</a></td>
                <td>{% if service.public %}<i class="material-icons">check</i>{% endif %}</td>
                <td><a href="{{ path("service_edit",{'id':service.id}) }}" class="btn-floating"><i class="material-icons left">edit</i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('service_new') }}" class="btn"><i class="material-icons left">add</i>Ajouter un service</a>

{% endblock %}
