{% extends 'layout.html.twig' %}

{% block title %}Ajouter un service - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_services') }}"><i class="material-icons">extension</i>&nbsp;Liste des services</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Ajouter
{% endblock %}

{% block content %}
    <h4>Nouveau service</h4>

    {{ form_start(form) }}
    {% include "/admin/service/_form.html.twig" with { form: form  } %}
    <div>
        <button type="submit" class="btn waves-effect waves-light">Créer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
