<div class="card cyan lighten-5">
    <div class="card-content">
        <span class="card-title">{{ shift.start|date_fr_long }}</span>
        <p>De {{ shift.start|date('H:i') }} à {{ shift.end|date('H:i') }}<br>
            <i class="material-icons">person</i>{{ shift.lastShifter.firstname }} / <b
                    class="{{ shift.job.color }}-text">{{ shift.job.name }}</b>
            {% if use_fly_and_fixed %}
                <br>
                Type : <b>{% if shift.fixe %} Fixe {% else %} Volant {% endif %}</b>
            {% endif %}
            {% if shift.formation != null %}<br>Formation : <b>{{ shift.formation }}</b>{% endif %}
        </p>
    </div>
    <div class="card-action">
        <a href="#accept{{ shift.id }}" class="modal-trigger btn waves-effect waves-green green">J'accepte</a>
        <a href="#reject{{ shift.id }}" class="modal-trigger btn waves-effect waves-orange orange">Je refuse</a>
    </div>
    <div id="accept{{ shift.id }}" class="modal">
        <div class="modal-content">
            <h4>Confirmation</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Retour</a>
            <a href="{{ path("accept_reserved_shift",{ id : shift.id }) }}"
               class="modal-action modal-close waves-effect waves-green btn teal">Oui, je reprends mon créneau</a>
        </div>
    </div>
    <div id="reject{{ shift.id }}" class="modal">
        <div class="modal-content">
            <h4>Confirmation</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Retour</a>
            <a href="{{ path("reject_reserved_shift",{ id : shift.id }) }}"
               class="modal-action modal-close waves-effect waves-green btn teal">Oui, Je ne reprends pas ce créneau</a>
        </div>
    </div>


</div>
