{% extends 'layoutlight.html.twig' %}

{% block breadcrumps %}
{% endblock %}

{% block content %}
    {% set more_than_one = false %}
    {% if beneficiary.membership.beneficiaries | length > 1 %}
        {% set more_than_one = true %}
    {% endif %}
    {% set pass = true %}
    {% if counter < -3*due_duration_by_cycle or beneficiary.membership.frozen or not beneficiary.user.enabled or beneficiary.membership.withdrawn or not beneficiary.membership.uptodate %}
        {% set pass = false %}
    {% endif %}
    <div class="container">
        <h3 class="header center-align">{{ random(['Bonjour', 'Salut', 'Coucou', 'Hola','Bienvenue','Hello']) }} {{ beneficiary.firstname }} !</h3>

        {% if pass %}
        <p class="center-align">{% if more_than_one %}Votre{% else %}Ton{% endif %} compteur temps est à <strong>{{ counter | duration_from_minutes }}</strong></p>
        {% endif %}

        <div class="row">
            {% if pass %}
            <div class="col s6">
                {% if counter > due_duration_by_cycle %}
                    {#we love you#}
                    {% image '@AppBundle/Resources/public/img/love.svg' %}
                        <img class="responsive-img" src="{{ asset_url }}" alt="we love you" />
                    {% endimage %}
                {% elseif counter == due_duration_by_cycle %}
                    {#all good#}
                    {% image '@AppBundle/Resources/public/img/good.svg' %}
                        <img class="responsive-img" src="{{ asset_url }}" alt="all good" />
                    {% endimage %}
                {% elseif counter < due_duration_by_cycle and counter >=0 %}
                    {#fair enough#}
                    {% image '@AppBundle/Resources/public/img/thumbup.svg' %}
                        <img class="responsive-img" src="{{ asset_url }}" alt="fair enough" />
                    {% endimage %}
                {% else %}{# < 0 = retard #}
                    {#Oups#}
                    {% image '@AppBundle/Resources/public/img/bad.svg' %}
                        <img class="responsive-img" src="{{ asset_url }}" alt="Oups" />
                    {% endimage %}
                {% endif %}
            </div>
            {% else %}
                <div class="col s3">

                </div>
            {% endif %}
            <div class="col s6">
                {% if not pass %}
                    {% image '@AppBundle/Resources/public/img/donotenter.svg' %}
                        <img class="responsive-img" src="{{ asset_url }}" alt="accès interdit" />
                    {% endimage %}
                {% else %}
                    {% image '@AppBundle/Resources/public/img/enter.svg' %}
                        <img class="responsive-img" src="{{ asset_url }}" alt="accès autorisé" />
                    {% endimage %}
                {% endif %}
            </div>
        </div>
        {% if pass %}
            {% if counter > due_duration_by_cycle %}
                <p class="center-align">Wha ! c'est trop d'amour ! merci !! {% image '@AppBundle/Resources/public/img/emoticons/028-heart-1.svg' %}<img class="emoticon" src="{{ asset_url }}" alt="<3" />{% endimage %}</p>
            {% endif %}
            {% if counter < due_duration_by_cycle and counter >=0 %}
                <p class="center-align">Pense à reserver les {{ (due_duration_by_cycle - counter) | duration_from_minutes }} qu'il {% if more_than_one %}vous{% else %}te{% endif %} manque {% image '@AppBundle/Resources/public/img/emoticons/002-wink.svg' %}<img class="emoticon" src="{{ asset_url }}" alt=";)" />{% endimage %}</p>
            {% endif %}
            {% if counter == due_duration_by_cycle %}
                <p class="center-align">Tout roule, passe un bon moment à {{ project_name }} ! {% image '@AppBundle/Resources/public/img/emoticons/015-smile-1.svg' %}<img class="emoticon" src="{{ asset_url }}" alt=":)" />{% endimage %}</p>
            {% endif %}
            {% if counter < 0 %}
                <p class="center-align">Oups, {% if more_than_one %}vous êtes{% else %}tu es{% endif %} en retard ! il {% if more_than_one %}vous{% else %}te{% endif %} reste {{ (due_duration_by_cycle - counter) | duration_from_minutes }} à réserver !! </p>
            {% endif %}
        {% else %}
            {% if counter < -3*due_duration_by_cycle %}
                <p class="center-align"><strong>Oups, {% if more_than_one %}vous êtes{% else %}tu es{% endif %} vraiment trop en retard sur ton devoir !</strong>
                    <br>
                    {% image '@AppBundle/Resources/public/img/emoticons/019-shocked-1.svg' %}<img class="emoticon" src="{{ asset_url }}" alt=":o" />{% endimage %}</p>
                <p class="center-align">{% if more_than_one %}Votre{% else %}Ton{% endif %} compteur temps est à <strong>{{ counter | duration_from_minutes }} !!!</strong></p>
            {%  elseif beneficiary.user.Frozen %}
                <p class="center-align"><strong>{% if more_than_one %}Votre{% else %}Ton{% endif %} compte est gelé !</strong> Tu ne peux pas faire tes courses aujourd'hui !
                    <br>
                    {% image '@AppBundle/Resources/public/img/emoticons/021-sad.svg' %}<img class="emoticon" src="{{ asset_url }}" alt=":(" />{% endimage %}</p>
                {% if beneficiary.user.FrozenChange %}
                    <p class="center-align">Le degel est programmé, il sera effectif le {{ beneficiary.user.endOfCycle(0) | date_fr_long }}</p>
                {% else %}
                    <p class="center-align">Rendez vous sur {% if more_than_one %}votre{% else %}ton{% endif %} espace membre pour programmer le degel !</p>
                {% endif %}
            {%  elseif not beneficiary.user.Enabled or beneficiary.user.Withdrawn %}
                <p class="center-align"><strong>{% if more_than_one %}Votre{% else %}Ton{% endif %} compte est fermé !</strong> Mais je suis content de te voir revoir quand même !
                    <br>
                    {% image '@AppBundle/Resources/public/img/emoticons/066-ghost.svg' %}<img class="emoticon" src="{{ asset_url }}" alt=":(" />{% endimage %}</p>
            {%  elseif not beneficiary.user.uptodate %}
                <p class="center-align"><strong>Oups, {% if more_than_one %}votre{% else %}ton{% endif %} adhésion n'est plus à jour !</strong>
                    <br>
                    {% image '@AppBundle/Resources/public/img/emoticons/019-shocked-1.svg' %}<img class="emoticon" src="{{ asset_url }}" alt=":o" />{% endimage %}</p>
                <p class="center-align">Rendez-vous au bureau de membres régulariser tout ça !</p>
            {% endif %}
            <style>
                body{
                    background: rgba(255, 73, 0, 0.2);
                }
            </style>
        {% endif %}
    </div>
    <a id="close" href="{{ path("homepage") }}" class="black-text"><i class="material-icons large">close</i></a>

{% endblock %}

{% block javascripts %}
    <script>
        window.setTimeout(function(){
            window.location.href = "{{ path("homepage") }}";
        }, 10000);//10sec

        //can scan another barcode
        var barcode_submit_url="{{ path('check') }}";
    </script>
    <script src="{{ asset('bundles/app/js/barcode.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        p{
            font-size: 25px;
        }
        .emoticon{
            max-width: 50px;
        }
        #close{
            position: fixed;
            top: 1em;
            right: 1em;
            display: block;
            text-align: center;
        }
    </style>
{% endblock %}
