{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
{% if is_granted("ROLE_ADMIN") %}
    <i class="material-icons">list</i><a href="{{ path('user_index') }}">liste membres</a> <i class="material-icons">chevron_right</i>
{% else %}
    <i class="material-icons">build</i><a href="{{ path('user_office_tools') }}">Outils adhésion et ré-adhésion</a> <i class="material-icons">chevron_right</i>
{% endif %}
    <a href="{{ path('user_show',{'username' : user.username}) }}"><i class="material-icons">person</i> {{ user.autocompleteLabel }}</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">edit</i><span>Edition fiche membre</span>
{% endblock %}

{% block content %}
    <h3 class="">Edition fiche adhérent {% if edit_form.vars.value.withdrawn %} <i class="material-icons medium">visibility_off</i> {% endif %}</h3>

    {{ form_start(edit_form) }}
    {% include "user/_partial/user_form.html.twig" with { form: edit_form } %}
    <div>
        <button type="submit" class="btn-large waves-effect waves-light">Enregistrer</button>
    </div>
    {{ form_end(edit_form) }}

    <h4>Adhésions</h4>

    <ul class="collapsible" data-collapsible="accordion">
        {% for registration in user.registrations %}
            <li>
                <div class="collapsible-header">{% if registration.mode == constant('TYPE_CREDIT_CARD', registration) %}
                        <i class="material-icons tiny">credit_card</i>
                    {% else %}
                        <i class="material-icons tiny">attach_money</i>
                    {% endif %}
                    {{ registration.date | date('d F Y') }}</div>
                {% if is_granted("ROLE_ADMIN") %}
                <div class="collapsible-body new_registration_form">
                    {{ form_start(registration_forms[registration.id]) }}
                        <input type="hidden" name="registration_id" value="{{ registration.id }}" />
                        {% include "user/_partial/registration_form.html.twig" with { form: registration_forms[registration.id] } %}
                    {{ form_end(registration_forms[registration.id]) }}
                </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user.canRegister and user != app.user %}
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            {% if not user.lastRegistration %}
                <div class="collapsible-header"><i class="material-icons">add_circle</i>Adhésion</div>
            {% else %}
                <div class="collapsible-header"><i class="material-icons">add_circle</i>Ré-adhésion</div>
            {% endif %}
            <div class="collapsible-body new_registration_form">
                {{ form_start(new_registration_form) }}
                    {% include "user/_partial/registration_form.html.twig" with { form: new_registration_form } %}
                {{ form_end(new_registration_form) }}
            </div>
        </li>
    </ul>
    {% elseif (user != app.user ) %}
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            {% if not user.lastRegistration %}
                <div class="collapsible-header"><i class="material-icons">add_circle</i>Adhésion</div>
            {% else %}
                <div class="collapsible-header"><i class="material-icons">add_circle</i>Ré-adhésion</div>
            {% endif %}
            <div class="collapsible-body new_registration_form">
                Il est trop tôt pour ré-adhérer. Cette adhésion est valable encore {{ user.remainder | date('%a') }} jours.
            </div>
        </li>
    </ul>
    {% endif %}

    <h4>Bénéficiaires</h4>
    <div class="row">
        {% include "user/_partial/beneficiary_card.html.twig" with { beneficiary: user.mainBeneficiary } %}
        {% for beneficiary in user.beneficiaries %}
            {% if not beneficiary.isMain %}
                {% include "user/_partial/beneficiary_card.html.twig" with { beneficiary: beneficiary, delete_form: delete_beneficiary_forms[beneficiary.id] } %}
            {% endif %}
        {% endfor %}
    </div>
    {% if user.beneficiaries|length < 2 %}{#todo put this value in conf#}
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">person_add</i>Ajouter un bénéficiaire</div>
                <div class="collapsible-body new_registration_form">
                    {{ form_start(new_beneficiary_form) }}
                    {% include "user/_partial/beneficiary_form.html.twig" with { form: new_beneficiary_form } %}
                    <div class="col s3">
                        <button type="submit" class="btn"><i class="material-icons left">add</i>Ajouter</button>
                    </div>
                    {{ form_end(new_beneficiary_form) }}
                </div>
            </li>
        </ul>
    {#{% else %}#}
    {% endif %}
    <form action="{{ path('user_show',{'username':user.username}) }}" method="get" class="left">
        {% if not is_granted("ROLE_ADMIN") and token is defined %}
            <input type="hidden" value="{{ token }}" name="token">
        {% endif %}
        <button type="submit" class="btn btn waves-effect waves-light"><i class="material-icons left">add</i>Ajouter une note</button>
    </form>

{% endblock %}
