{% extends 'layout.html.twig' %}

{% block title %}Adhésion rapide - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('user_office_tools') }}"><i class="material-icons">folder_shared</i>Adhésion et ré-adhésion</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Nouvelle adhésion réunion info
{% endblock %}

{% block content %}
<h4>Adhésion rapide</h4>

{#<p>Pour une adhésion <span style="text-decoration: underline;">future</span>, choisir <span style="text-decoration: underline;">Helloasso</span> : la personne recevra un lien pour finaliser et payer son adhésion en ligne.</p>#}
{{ form_start(form) }}
{% include "user/_partial/user_quick_form.html.twig" with { form: form } %}
<div>
    <button type="submit" class="btn waves-effect waves-light teal"><i class="material-icons left">check</i>Valider</button>
    <a href="{{ path("user_office_tools") }}" class="btn white blue-grey-text"><i class="material-icons left">arrow_back</i>Retour</a>
</div>
<div class="" style="display: none">
    {{ form_widget(form) }}
</div>
{{ form_end(form) }}
{% endblock %}
