{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
        <i class="material-icons">build</i><a href="{{ path('user_office_tools') }}">Outils adhésion et ré-adhésion</a> <i class="material-icons">chevron_right</i>
        <i class="material-icons">search</i><a href="{{ path('find_member_number') }}">Recherche numéro d'adhérent</a> <i class="material-icons">chevron_right</i>
        <i class="material-icons">check</i><span>Trouvé</span>
    {% endif %}
{% endblock %}

{% block content %}
    {% set member = beneficiary.membership %}
    {% set user = beneficiary.user %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            {% if user %}
            <h3 class="header center">Adhérent #{{ member.memberNumber }} trouvé !</h3>
            <div class="row center">
                {% if member.isWithdrawn %}
                    Ce compte est fermé <i class="material-icons">visibility_off</i>
                {% else %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if user.isEnabled %}
                            Le compte de l'adhérent #{{ member.memberNumber }} <b>{{ beneficiary.firstname }} {{ beneficiary.lastname|first|upper }}</b> est déjà actif.
                            <br>
                            Il est lié à l'adresse courriel {{ user.anonymousEmail }}<br>
                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                <input type="hidden" name="username" value="{{ user.username }}" />
                                <a href="{{ path('fos_user_security_login') }}" class="btn">Se connecter</a>
                                <input type="submit" name="submit" value="Réinitialiser le mot de passe" class="btn " />
                            </form>
                            <form action="{{ path('member_edit_firewall') }}" method="POST" class="fos_user_resetting_request">
                                <input type="hidden" name="username" value="{{ user.username }}" />
                                <div>
                                    <a href="#" onclick="$(this).closest('form').submit()"><i class="material-icons">edit</i>Editer la fiche</a>
                                </div>
                            </form>
                        {% else %}
                            C'est <b>{{ beneficiary.firstname }} {{ beneficiary.lastname|first|upper }}</b> !
                            {% if not member.lastRegistration %}
                                <div>Oups, erreur de saisie, nous n'avons pas enregistré d'adhésion pour ce compte. <br/>Il ne peux donc pas être activé.</div>
                                <div class="center-align">
                                    <img class="responsive-img" src="{{ asset("build/images/cry.gif") }}" alt="lost" />
                                </div>
                            {% else %}
                                {% if isTemporaryEmail(user.email) %}
                                    <br>
                                    Oups, on ne connait pas l'adresse courriel de {{ beneficiary.firstname }}.<br>
                                    Pour éditer son profil et <b>saisir une adresse correcte</b> utilise <b class="lighten-4 blue">{{ user.email }}</b>
                                {% else %}
                                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                        <input type="hidden" name="username" value="{{ user.username }}" />
                                        <div>
                                            Envoyer le lien de connexion sur {{ user.anonymousEmail }}
                                            <br>
                                            <input type="submit" name="submit" value="Oui, Activer !" class="btn " />
                                        </div>
                                    </form>
                                    ou
                                {% endif %}
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN") %}
                                <br><a href="{{ path('member_show', {'member_number': member.memberNumber}) }}" class="btn green waves-effect" ><i class="material-icons left">edit</i>Editer la fiche de {{ user.firstname }}</a>
                            {% else %}
                                <form action="{{ path('member_edit_firewall') }}" method="POST" class="fos_user_resetting_request">
                                    <input type="hidden" name="username" value="{{ user.username }}" />
                                    <div>
                                        <a href="#" class="btn green waves-effect" onclick="$(this).closest('form').submit()"><i class="material-icons left">edit</i>Editer la fiche de {{ user.firstname }}</a>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if user.isEnabled %}
                            Le compte de l'adhérent #{{ member.memberNumber }} <b>{{ beneficiary.firstname }} {{ beneficiary.lastname|first|upper }}</b> est déjà actif.
                            <br>
                            Il est lié à l'adresse courriel {{ user.anonymousEmail }}
                            <br>
                            <div class="row">
                                <div class="col m6 center">
                                    C'est moi ! <br>
                                    <a href="{{ path('fos_user_security_login') }}" class="btn">Je me connecte</a>
                                </div>
                                <div class="col m6 center">
                                    Oups, j'ai perdu mes identifiants <br>
                                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                        <input type="hidden" name="username" value="{{ user.username }}" />
                                        <button type="submit" name="submit" class="btn orange waves-effect">
                                            Redéfinir mon mot de passe
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            Bonjour <b>{{ beneficiary.firstname }} {{ beneficiary.lastname|first|upper }}</b> !
                            {% if not member.lastRegistration %}
                                <div class="text-orange">Oups, erreur de saisie, nous n'avons pas enregistré ton adhésion cette année. Ton compte ne peut pas être activé.</div>
                            {% else %}
                                {% if isTemporaryEmail(user.email) %}
                                    <br>
                                    Oups, on ne connait pas ton adresse courriel !<br>
                                    Pour utiliser l'espace membre elle est necessaire. <br>
                                    <form action="{{ path('set_email', {'id': beneficiary.id}) }}" method="post">
                                        <input type="email" name="email" placeholder="mon-email@..." />
                                        <button type="submit" class="btn waves-effect">
                                            Définir mon email
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                        <input type="hidden" name="username" value="{{ user.username }}" />
                                        <div>
                                            Recevoir mon lien de connexion sur {{ user.anonymousEmail }}
                                            <br>
                                            <input type="submit" name="submit" value="Oui !" class="btn " />
                                        </div>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="row center">
                        <p class=" col s12 light">Ce n'est pas celui que tu cherchais ? <a href="{{ path('find_member_number') }}">Chercher un autre numéro d'adhérent</a></p>
                    </div>
                {% else %}
                    <div class="row center">
                        <p class=" col s12 light">Ce n'est pas moi ? <a href="{{ path('find_member_number') }}">Chercher mon numéro d'adhérent</a></p>
                    </div>
                {% endif %}

            {% else %}
                <h2 class="header center orange-text">Oups...</h2>
                <h5>J'ai grande mémoire mais je n'ai rien trouvé...</h5>
                <div class="row center">
                    <p class=" col s12 light"><a href="{{ path('find_member_number') }}" class="btn">Cherchez mon numéro d'adhérent</a></p>
                    <p class=" col s12 light"><a href="{{ path('find_user_help') }}">Je ne me trouves pas !</a></p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
