<footer class="page-footer" style="background-color: {{ main_color }}">
    <div class="footer-copyright">
        <div class="container">
            © {{ "now" | date('Y') }} Copyright {{ project_name }}
            <a class="grey-text text-lighten-4 right" href="{{ project_url }}">{{ project_url_display }}</a>
        </div>
    </div>
</footer>
