{% extends 'layout.html.twig' %}

{% block title %}Créneaux - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<i class="material-icons">date_range</i>&nbsp;Créneaux
{% endblock %}

{% block content %}
    {% if beneficiary is not defined %}
        <div class="row center">
            <h5 class="col s12">Qui programme son bénévolat ?</h5>
            <div class="col s12 m6 push-m3">
                {{ form_start(beneficiary_form) }}
                {{ form_widget(beneficiary_form) }}
                <button type="submit" class="btn waves-effect">Choisir</button>
                {{ form_end(beneficiary_form) }}
            </div>
        </div>
    {% else %}
        <div class="row center">
            <h4 class="header">
                Créneaux disponibles pour
                <span class="teal-text">{{ beneficiary.firstname }}</span>
                {% if (beneficiary.membership.beneficiaries | length > 1) %}
                    <a href="{{ path("booking") }}" style="font-family: 'Raleway', sans-serif; font-size: 12px;">[ changer ]</a>
                {% endif %}
            </h4>
            {% if not shift_service.canBookSomething(beneficiary) %}
                <span class="red-text">NB: {{ beneficiary.firstname }} ne peut plus réserver de créneau sur le cycle actuel</span>
            {% endif %}
            <p>
                Ton cycle actuel commence le <b>{{ membership_service.startOfCycle(beneficiary.membership) | date_fr_long }}</b>
                et termine le <b>{{ membership_service.endOfCycle(beneficiary.membership) | date_fr_long }}</b>
            </p>
        </div>
        <div class="row">
            <ul class="collapsible" id="legend">
                <li>
                    <div class="collapsible-header {% if frontend_cookie is defined and frontend_cookie.booking is defined and frontend_cookie.booking.legend_closed is defined and frontend_cookie.booking.legend_closed %}{% else %}active{% endif %}">
                        <i class="material-icons">help_outline</i>Légende
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <!-- Not used anymore?
                            <li>
                                <span class="blue-text"><i class="material-icons">star</i></span><i class="material-icons tiny red-text">radio_button_checked</i> Créneau annulé, à reprendre : aide un bénévole en galère !
                            </li>
                            -->
                            <li class="hide-on-med-and-down">
                                <i class="material-icons tiny grey-text text-darken-2">radio_button_unchecked</i>/<i class="material-icons tiny green-text">radio_button_checked</i> Place disponible / indisponible
                            </li>
                            <li class="hide-on-med-and-down">
                                <i class="material-icons tiny grey-text text-darken-2">account_circle</i>/<i class="material-icons tiny green-text">account_circle</i> Place à rôle (ressource, ambassadeur...) disponible / indisponible
                            </li>
                            <li class="row">
                                {% for job in jobs %}
                                    <div class="col s12 m4 {% if job.description is not empty %}legend_job {% endif %}" data-description="{{ job.description | markdown | raw }}">
                                        <div class="{{ job.color }} z-depth-1 lighten-5 valign-wrapper" style="padding: 3px;margin:5px">
                                            <p>{{ job.name }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </li>
                            <li class="row">
                                <div class="col s12 m4">
                                    <div class="z-depth-1 lighten-5 valign-wrapper" style="padding: 3px;margin:5px">
                                        <p>Aucun bénévole inscrit</p>
                                        <span class="red-text"><i class="material-icons tiny">warning</i>&nbsp;sous-effectif</span>
                                    </div>
                                </div>
                                <div class="col s12 m4">
                                    <div class="z-depth-1 lighten-5 valign-wrapper" style="padding: 3px;margin:5px">
                                        <p>Pas assez de bénévoles inscrits pour ouvrir</p>
                                        <span class="orange-text"><i class="material-icons tiny">warning</i>&nbsp;sous-effectif</span>
                                    </div>
                                </div>
                                <div class="col s12 m4">
                                    <div class="z-depth-1 grey lighten-3 valign-wrapper grey-text text-lighten-1" style="padding: 3px;margin:5px;cursor: not-allowed">
                                        <i class="material-icons tiny">lock</i>
                                        <p class="black-text">Créneau complet ou inaccessible pour {{ beneficiary.firstname }} <small>(quota d'heures dépassé ou formation insuffisante)</small></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        {% include "booking/_partial/list.html.twig" with { bucketsByDay: bucketsByDay } %}
    {% endif %}

    <div id="modallegend" class="modal">
        <div class="modal-content">
            <div id="modal_header"></div>
            <div id="modal_content" class="row">
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .collapsible-header.not-allowed{
            cursor: not-allowed;
        }
        .legend_job {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.collapsible li').click();
            $('#legend .collapsible-header').on('click',function () {
                var data_raw = Cookies.get("frontend");
                var data = undefined;
                if (data_raw)
                    data = JSON.parse(data_raw);
                if (!data)
                    data = {};
                if (!data.booking)
                    data.booking = {};
                data.booking.legend_closed = $(this).hasClass("active");
                Cookies.set("frontend",data);
            });

            //affichage de la description du job dans la modal
            $('.legend_job').click(function () {
                // recupere la description du job
                const desc = $(this).data("description");

                // rempli et ouvre la modal
                if (desc != '') {
                    $('#modal_header').html('<h4>Description du créneau</h4>');
                    $('#modal_content').html(desc);
                    $('#modallegend').modal('open');
                }
            });

        });

        function cancelAll() {
            let checkboxes = document.getElementsByTagName('input');

            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type === 'radio') {
                    checkboxes[i].checked = false;
                }
            }
        }

        function postSelectedId(beneficiaryId) {

            let selectedFormation = document.querySelector('.checkedFormation:checked');
            {% if use_fly_and_fixed %}
            let selectedTypeService = document.querySelector('.checkedTypeService:checked');
            {% else %}
            let selectedTypeService = document.querySelector('input[name="typeService"]');
            {% endif %}

            if (selectedFormation !== null && selectedTypeService !== null) {

                // let url = "/shift/" + checkedValue + "/book";

                let url = "{{ path('shift_book', { 'id': 'tmpId' }) }}";
                url = url.replace("tmpId", selectedFormation.value);

                let body = {
                    "typeService": selectedTypeService.value,
                    "beneficiaryId": beneficiaryId,
                };

                // If using old IE version
                var xhttp = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");

                xhttp.open("POST", url, true);
                xhttp.onreadystatechange = function () {
                    if (xhttp.readyState > 3) {
                        if (200 <= xhttp.status && xhttp.status < 300) {
                            window.location.replace(xhttp.responseText);
                        } else {
                            alert("une erreur est survenue");
                        }
                    }
                };
                xhttp.send(JSON.stringify(body));
                return xhttp;
            }
        }
    </script>
{% endblock %}
