{% extends 'layoutlight.html.twig' %}

{% block content %}
{% if title %}
    <p style="margin-top:0;">
        liste des prochains événements
        {% if eventKind %}<strong>{{ eventKind.name }}</strong>{% endif %}
        {% if maxDate %}(jusqu'au {{ maxDate | date_short }}){% endif %}
    </p>
{% endif %}
<ul style="margin:0;">
    {% for event in events %}
        <li>
            <span>-</span>
            <strong>{% if links %}<a href="{{ path('event_detail', { 'id': event.id }) }}" target="_blank">{% endif %}{{ event.title }}{% if links %}</a>{% endif %}</strong>
            {{ event.date | date_fr_full_with_time }}
            {% if event.end %}
                <i>({{ event.duration }})</i>
                {% if event.isOngoing %}
                    <span>[en cours]</span>
                {% endif %}
            {% endif %}
            {# {% if not eventKind %}[{{ event.kind }}] {% endif %} #}
        </li>
    {% endfor %}
</ul>
{% endblock %}
