<div class="chip black-text">
    <img src="{{ gravatar(beneficiary.email) }}" alt="{{ beneficiary.displayname }}">
    {{ beneficiary.firstname }} {{ beneficiary.lastname }}
    {% if close is defined and close  %}
    <i class="close material-icons" data-target="{{ beneficiary.id }}">close</i>
    {% endif %}
</div>