<div class="card-title">
    <img src="{{ gravatar(beneficiary.email,40) }}" alt="{{ beneficiary.firstname | lower | capitalize }}" class="circle responsive-img" />
    {{ beneficiary.firstname | lower | capitalize }} {{ beneficiary.lastname | upper }}
    {% if beneficiary.isMain and maximum_nb_of_beneficiaries_in_membership > 1 %}
        <span class="teal white-text badge">{{ beneficiary_main_icon }} principal</span>
    {% endif %}
    {% if beneficiary.membership.withdrawn %}
        <span class="red white-text badge">{{ member_withdrawn_icon }} fermé</span>
    {% elseif beneficiary.isNew %}
        <span class="red white-text badge">{{ beneficiary_new_icon }} nouveau</span>
    {% endif %}
    {% if beneficiary.membership.frozenChange %}
        {% if beneficiary.membership.frozen %}
            <span class="deep-purple white-text badge">Dégel à la fin du cycle</span>
        {% else %}
            <span class="deep-purple white-text badge">Gel à la fin du cycle</span>
        {% endif %}
    {% endif %}
    {% if beneficiary.membership.frozen %}
        <span class="deep-purple white-text badge">{{ member_frozen_icon }} gelé</span>
    {% endif %}
</div>

<div class="row">
    <div class="col s12 truncate">
        <i class="material-icons tiny">phone</i>
        <span>{{ beneficiary.phone }}</span>
    </div>
    {% if phone_only is not defined %}
        <div class="col s12 truncate">
            <i class="material-icons tiny">mail</i>
            <span>{{ beneficiary.email }}</span>
        </div>
        {% if beneficiary.address %}
            <div class="col s12 truncate">
                <i class="material-icons tiny">location_on</i>
                {{ beneficiary.address.street1 }}
                {% if beneficiary.address.street2 %}
                    {{ beneficiary.address.street2 }}
                {% endif %}
                {{ "%d"|format(beneficiary.address.zipCode) }}
                {{ beneficiary.address.city }}
            </div>
        {% endif %}
    {% endif %}
    <div class="col s12 truncate">
        <i class="material-icons tiny">person</i>&nbsp;{{ beneficiary.user.username }}
        {% if is_granted("ROLE_ADMIN") %}
            (<i class="material-icons tiny" title="dernière connexion">exit_to_app</i>
            {% if beneficiary.user.lastlogin %}
                {{ beneficiary.user.lastlogin | date_fr_full_with_time }}
            {% else %}
                <span class="orange-text">la personne ne s'est jamais connectée</span>
            {% endif %})
        {% endif %}
    </div>
    {% if use_fly_and_fixed %}
        <div class="col s12 truncate">
            <i class="material-icons tiny">accessibility</i>
            {% if beneficiary.flying %}
                <div class="chip green-text">Equipe volante</div>
            {% else %}
                <div class="chip green-text">Equipe fixe</div>
            {% endif %}
        </div>
    {% endif %}
    {% if beneficiary.formations | length %}
        <div class="col s12 truncate">
            <i class="material-icons tiny">assignment_ind</i>
            {% for formation in beneficiary.formations %}
                <div class="chip red-text">{{ formation.name }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% if beneficiary.commissions | length %}
        <div class="col s12 truncate">
            <i class="material-icons tiny">group</i>
            {% for commission in beneficiary.commissions %}
                <div class="chip blue-text">{{ commission.name }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% if beneficiary.user and beneficiary.user.roles | length %}
        <div class="col s12 truncate">
            <i class="material-icons tiny">settings</i>
            {% for role in beneficiary.user.roles %}
                <div class="chip purple-text">{{ role }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% if beneficiary.membership.lastRegistration %}
        <div class="col s12 truncate">
            <i class="material-icons tiny">perm_contact_calendar</i>
            <span>Adhésion du {{ beneficiary.membership.lastRegistration.date | date_fr_full }} au {{ beneficiary.membership | expire | date_fr_full }}</span>
        </div>
    {% endif %}
</div>
