{% extends 'layout.html.twig' %}

{% block title %}Ajouter un type d'événement - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_event_kind_list') }}"><i class="material-icons">list</i>&nbsp;Liste des types d'événements</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Ajouter
{% endblock %}

{% block content %}
<h4>Nouveau type d'événement</h4>

{{ form_start(form) }}
{% include "/admin/event/kind/_partial/form.html.twig" with { form: form } %}
<button type="submit" class="btn waves-effect waves-light" title="Créer">
    <i class="material-icons left">save</i>Créer
</button>
{{ form_end(form) }}

<a href="{{ path('admin_event_kind_list') }}" class="btn waves-effect waves-light red" title="Annuler">Annuler</a>
{% endblock %}
