{% extends 'layout.html.twig' %}

{% block content %}
{{ form_start(form) }}

    <div class="row">
        <div class="input-field col s12 m6">
            {{ form_widget(form.from) }}
            {{ form_label(form.from) }}
        </div>
        <div class="input-field col s12 m6">
            {{ form_widget(form.template) }}
            {{ form_label(form.template) }}
        </div>
        <div class="col s12">
            <label>Destinataire(s)</label>
            <div class="beneficiaries chips ">
            </div>
        </div>
        <div class="col s12">
            <label>Non-membre(s) en copie</label>
            <div class="non-members chips ">
            </div>
        </div>
        <div class="input-field col s12">
            {{ form_widget(form.subject) }}
            {{ form_label(form.subject) }}
        </div>
        <div class="col s12">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
        </div>
        <div class="tips right small">
            prénom : <input value="{{ '{{' }} beneficiary.firstname {{ '}}' }}"/>
        </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">send</i>Envoyer</button>
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        jQuery(function() {
            $.ajax({
                type: 'GET',
                url: '{{ path('mail_get_beneficiaries') }}',
                success: function(response) {
                    var userArray = response;
                    var dataUsers = {};
                    for (var i = 0; i < userArray.length; i++) {
                        dataUsers[userArray[i]] = null;
                    }
                    $('.beneficiaries').material_chip({
                        placeholder: 'Beneficiaire',
                        data: [
                            {% for beneficiary in to %}
                            {
                            tag: "{{ beneficiary.autocompleteLabel }}",
                        },{% endfor %} ],
                        autocompleteOptions: {
                            data: dataUsers,
                            limit: Infinity,
                            minLength: 1
                        }
                    });
                    $("input[name='form[to]']").val(JSON.stringify($('.beneficiaries').material_chip('data')));
                }
            });
            $.ajax({
                type: 'GET',
                url: '{{ path('mail_get_non_members') }}',
                success: function(response) {
                    var userArray = response;
                    var dataUsers = {};
                    for (var i = 0; i < userArray.length; i++) {
                        dataUsers[userArray[i]] = null;
                    }
                    $('.non-members').material_chip({
                        placeholder: 'Non-membre',
                        data: [],
                        autocompleteOptions: {
                            data: dataUsers,
                            limit: Infinity,
                            minLength: 1
                        }
                    });
                    $("input[name='form[cci]']").val(JSON.stringify($('.non-members').material_chip('data')));
                }
            });
            $('.chips').on('chip.add', function(e, chip){
                $("input[name='form[to]']").val(JSON.stringify($('.beneficiaries').material_chip('data')));
                $("input[name='form[cci]']").val(JSON.stringify($('.non-members').material_chip('data')));
            });

            $('.chips').on('chip.delete', function(e, chip){
                $("input[name='form[to]']").val(JSON.stringify($('.beneficiaries').material_chip('data')));
                $("input[name='form[cci]']").val(JSON.stringify($('.non-members').material_chip('data')));
            });
        });
    </script>

{% endblock %}