{% extends 'layout.html.twig' %}

{% block beforecontainer %}
{% endblock %}
{% block aftercontainer %}
{% endblock %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        {% if is_granted("ROLE_ADMIN") %}
            <div class="container">
                <h3 class=" enter">Gestion des clients (Oauth)</h3>
                <div class="collection">
                    {% for client in clients %}
                        <div class="collection-item">
                            {% if client.service %}{{ client.service.name }}<br>{% endif %}
                            public: <input type="text" value="{{ client.publicId }}"> secret:<input type="text" value="{{ client.secret }}">
                            <a href="{{ path('client_edit',{'id':client.id}) }}">editer</a>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path('client_new') }}" class="btn waves-effect"><i class="material-icons left">add</i>Nouveau client Oauth</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
