{% extends 'layout.html.twig' %}

{% block title %}Gestion des clients (Oauth) - {{ site_name }}{% endblock %}

{% block breadcrumps %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>Admin</a> <i class="material-icons">chevron_right</i>
<i class="material-icons">list</i>Gestion des clients (Oauth)
{% endblock %}

{% block beforecontainer %}
{% endblock %}
{% block aftercontainer %}
{% endblock %}

{% block content %}
{% if is_granted("ROLE_ADMIN") %}
    <h4>Gestion des clients (Oauth)</h4>

    <div class="collection">
        {% for client in clients %}
            <div class="collection-item">
                {% if client.service %}<h5>{{ client.service.name }}</h5>{% endif %}
                public: <input type="text" value="{{ client.publicId }}"> secret:<input type="text" value="{{ client.secret }}">
                <a href="{{ path('client_edit',{'id':client.id}) }}">editer</a>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('client_new') }}" class="btn waves-effect"><i class="material-icons left">add</i>Ajouter un client Oauth</a>
{% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
{% endblock %}
