{% extends 'layout.html.twig' %}

{% block title %}Ajouter un client (Oauth) - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_clients') }}"><i class="material-icons">list</i>&nbsp;Gestion des clients (Oauth)</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Ajouter
{% endblock %}

{% block content %}
    {% if is_granted("ROLE_ADMIN") %}
        <h4>Ajouter un client (Oauth)</h4>

        {{ form_start(form) }}
        {{ form_row(form) }}
        <div>
            <button type="submit" class="btn waves-effect waves-light">Créer</button>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
