{% extends 'layout.html.twig' %}

{% block title %}Événement : {{ event.title }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('event_index') }}"><i class="material-icons">event</i>&nbsp;Événements</a><i class="material-icons">chevron_right</i>
<i class="material-icons">event</i>&nbsp;{{ event.title }}
{% endblock %}

{% block content %}
<h4>{{ event.title }}</h4>

<div class="row">
    <div class="col m6">
        <p style="margin:0">
            <i class="material-icons tiny">event</i>
            {{ event.date | date_fr_full_with_time }}
        </p>
        {% if event.end %}
            <p style="margin:0">
                <i class="material-icons tiny">timer</i>
                <span title="jusqu'à {{ event.end | date_fr_full_with_time }}">durée : {{ event.duration }}</span>
            </p>
        {% endif %}
        {% if event.location %}
            <p style="margin:0">
                <i class="material-icons tiny">location_on</i>
                {{ event.location }}
            </p>
        {% endif %}
    </div>
    <div class="col m6">
        {% if event.kind %}
            <span class="badge teal white-text">{{ event.kind }}</span>
        {% endif %}
        {% if event.end and event.isOngoing %}
            <span class="badge deep-purple white-text">En cours</span>
        {% endif %}
    </div>
</div>

{% if event.description %}
    <div class="card-panel blue lighten-5">
        {{ event.description | markdown | raw }}
    </div>
{% else %}
    <i>pas de description</i>
{% endif %}

{% if event.img %}
    <img src="{{ event|img('imgFile', 'default') }}" class="materialboxed" style="max-width:50%" />
{% endif %}
{% endblock %}
