
    <div class="postit-container" id="postit{{ note.id }}">
        <div class="postit">
            <span class="info">
                {{ note.author.firstname }} le {{ note.createdAt | date('d/m/Y à H:i') }}
            </span>
            <a href="#post-it_children{{ note.id }}" class="black-text modal-trigger replies"><i class="material-icons tiny">reply</i>{% if note.children | length %}({{ note.children | length }}){% endif %}</a>
            <a href="#post-it_edit{{ note.id }}" class="black-text modal-trigger settings"><i class="material-icons tiny">settings</i></a>
            <div class="box">
                <div class="content black-text">
                    {{ note.textWithBr  | markdown | raw }}
                </div>
            </div>
            {#<img src="{{ gravatar(note.author.email) }}" alt="" class="circle responsive-img" width="30px">#}
        </div>
    </div>

{% if note.children | length  %}
    <div id="post-it_children{{ note.id }}" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Réponses</h4>
            {% for child in note.children %}
            <h6>
                <i class="material-icons tiny">reply</i>
                {{ child.author.firstname }} le {{ child.createdAt | date('d/m/Y à H:i') }}
                {% if is_granted('delete',child) %}
                <a href="#!" class="red-text right" onclick="document.getElementById('form_note_delete_{{ child.id }}').submit();">
                    <i class="material-icons">close</i>
                </a>
                {% endif %}
            </h6>
            <div class="content black-text">
                <p>
                    {{ child.textWithBr  | markdown | raw }}
                </p>
            </div>
                {{ form_start(notes_delete_form[child.id], {'attr': {'id': 'form_note_delete_'~child.id }}) }}
                {{ form_widget(notes_delete_form[child.id]) }}
                {{ form_end(notes_delete_form[child.id]) }}
            {% endfor %}
            {{ form_start(new_notes_form[note.id], {'attr': {'id': 'new_note_form_child_'~note.id ,'class':'reply'}}) }}
                {{ form_row(new_notes_form[note.id].text, {'id': 'note_text_reply_'~note.id}) }}
            {{ form_end(new_notes_form[note.id]) }}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">retour</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue" onclick="document.getElementById('new_note_form_child_{{ note.id }}').submit();"><i class="material-icons left">reply</i>Répondre</a>
        </div>
    </div>
    {% else %}
        <div id="post-it_children{{ note.id }}" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>
                    Ajouter une réponse
                </h4>
            {{ form_start(new_notes_form[note.id], {'attr': {'id': 'new_note_form_'~note.id ,'class':'reply'}}) }}
                {{ form_row(new_notes_form[note.id].text, {'id': 'note_text_reply_'~note.id}) }}
            {{ form_end(new_notes_form[note.id]) }}
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">retour</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue" onclick="document.getElementById('new_note_form_{{ note.id }}').submit();"><i class="material-icons left">reply</i>Répondre</a>
            </div>
        </div>
{% endif %}


<div id="post-it_edit{{ note.id }}" class="modal modal-fixed-footer post-it_edit">

    <div class="modal-content">
        <h4>Editer ce post-it</h4>
        {{ form_start(notes_form[note.id], {'attr': {'id': 'form_note_edit_'~note.id,'class': 'edit-post-it' }}) }}
            {{ form_row(notes_form[note.id].text, {'id': 'note_text_edit_'~note.id}) }}
        {{ form_end(notes_form[note.id]) }}

        {% if is_granted('delete',note) %}
        {{ form_start(notes_delete_form[note.id], {'attr': {'id': 'form_note_delete_'~note.id }}) }}
        {{ form_widget(notes_delete_form[note.id]) }}
        {{ form_end(notes_delete_form[note.id]) }}
        {% endif %}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">retour</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-teal btn teal" onclick="document.getElementById('form_note_edit_{{ note.id }}').submit();"><i class="material-icons left">check</i>Enregistrer</a>
        {% if is_granted('delete',note) %}
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn red" onclick="document.getElementById('form_note_delete_{{ note.id }}').submit();"><i class="material-icons left">delete</i>Supprimer</a>
        {% endif %}
    </div>

</div>