<div class="card blue-grey darken-1 update">
    <div class="card-content white-text">
        <span class="card-title"><i class="material-icons left">content_paste</i>{{ processUpdate.title }}</span>
        <div><i>Créée le {{ processUpdate.date | date_fr_long }} par {{ processUpdate.author }}</i></div>
        <div style="margin-top: 15px"><strong>Description:</strong></div>
        <div>{{ processUpdate.description }}</div>
        {% if processUpdate.link %}
            <div style="margin-top: 20px"><strong>Lien vers la procédure complète:</strong></div>
            <div><a href="{{ processUpdate.link }}">{{ processUpdate.link }}</a></div>
        {% endif %}
    </div>
    <div class="card-action">

        <div class="left">
            <a href="{{ path("process_update_edit",{'id':processUpdate.id}) }}"><i class="material-icons left">edit</i>Editer</a>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
</div>