<div class="beneficiary row">
    <div class="input-field firstname col s6">
        <div class="errors">
            {{ form_errors(form.firstname) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.firstname) }}
            {{ form_label(form.firstname) }}
        </div>
    </div>
    <div class="input-field laststname col s6">
        <div class="errors">
            {{ form_errors(form.lastname) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.lastname) }}
            {{ form_label(form.lastname) }}
        </div>
    </div>
    <div class="input-field email col s6">
        <div class="errors">
            {{ form_errors(form.email) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
        </div>
    </div>
    <div class="input-field phone col s6">
        <div class="errors">
            {{ form_errors(form.phone) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.phone) }}
            {{ form_label(form.phone) }}
        </div>
    </div>
    <div class="checkboxes col s6">
        {% if form.children.expert is defined %}
            {{ form_widget(form.expert) }}
            {{ form_label(form.expert) }}
        {% endif %}
    </div>
    <div class="checkboxes col s6">
        {% if form.children.ambassador is defined %}
            {{ form_widget(form.ambassador) }}
            {{ form_label(form.ambassador) }}
        {% endif %}
    </div>
</div>