<div class="beneficiary row">
    <div class="input-field firstname col s6">
        {{ form_row(form.firstname) }}
    </div>
    <div class="input-field laststname col s6">
        {{ form_row(form.lastname) }}
    </div>
    <div class="input-field email col s6">
        {{ form_row(form.email) }}
    </div>
    <div class="input-field phone col s6">
        {{ form_row(form.phone) }}
    </div>
    <div class="checkboxes col s6">
        {% if form.children.expert is defined %}
            {{ form_widget(form.expert) }}
            {{ form_label(form.expert) }}
        {% endif %}
    </div>
    <div class="checkboxes col s6">
        {% if form.children.ambassador is defined %}
            {{ form_widget(form.ambassador) }}
            {{ form_label(form.ambassador) }}
        {% endif %}
    </div>
</div>