<div class="card {% if (shift.getIsDismissed()) %}orange darken-4{% else %}cyan darken-4{% endif %}">
    <div class="card-content white-text">
        <span class="card-title">{{ shift.start|date_fr_long }}</span>
        <p>De {{ shift.start|date('H:i') }} à {{ shift.end|date('H:i') }}<br>
            <i class="material-icons">person</i>{{ shift.shifter.firstname }} / <b class="{{ shift.job.color }}-text">{{ shift.job.name }}</b> </p>
        {% if (shift.getIsDismissed()) %}
            <p>Créneau annulé, en attente de repreneur</p>
        {% endif %}
    </div>
    <div class="card-action">
        {% if is_granted('free',shift) %}
        <form action="{{ path('free_shift', {'id' : shift.id }) }}" method="Post">
            <button type="submit" class="btn red"><i class="material-icons left">delete</i>Libérer</button>
        </form>
        {% endif %}
    </div>
</div>
