<div class="card center {% if (shift.isDismissed) %}orange darken-4 white-text{% elseif (shift.isCurrent) %}deep-purple white-text{% elseif (shift.isPast) %}grey lighten-2{% else %}cyan darken-4 white-text{% endif %}">
    <div class="card-content">
        {% include "user/_partial/shift_card_header.html.twig" with { shift: shift } %}
    </div>
    {% if use_card_reader_to_validate_shifts and shift.isPastOrCurrent %}
        {% include "user/_partial/shift_card_validation_status.html.twig" with { shift: shift } %}
    {% endif %}
    <div class="card-action">
        {% if use_card_reader_to_validate_shifts and shift.isPastOrCurrent %}
            {% if shift.wasCarriedOut %}
                <form action="{{ path('invalidate_shift', {'id' : shift.id }) }}" method="POST" id="invalidate_shift_{{ shift.id }}">
                    <button type="submit" class="btn red" title="Invalider la participation">
                        <i class="material-icons left">highlight_off</i>Invalider la participation
                    </button>
                </form>
            {% else %}
                <form action="{{ path('validate_shift', {'id' : shift.id }) }}" method="POST" id="validate_shift_{{ shift.id }}">
                    <button type="submit" class="btn green" title="Valider la participation">
                        <i class="material-icons left">check_circle</i>Valider la participation
                    </button>
                </form>
            {% endif %}
        {% endif %}
        {% if is_granted('free',shift) %}
            <form action="{{ path('free_shift', { 'id' : shift.id }) }}" method="POST">
                {% if shift.isPast %}
                    <button type="submit" class="btn red" title="Supprimer">
                        <i class="material-icons left">delete</i>Supprimer
                    </button>
                {% else %}
                    <button type="submit" class="btn orange" title="Libérer">
                        <i class="material-icons left">lock_open</i>Libérer
                    </button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</div>
