<div class="address row">
    <div class="input-field city col s6">
        <div class="errors">
            {{ form_errors(form.email) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
        </div>
    </div>
    <div class="input-field city col s3">
        <div class="errors">
            {{ form_errors(form.amount) }}
        </div>
        <div class="input-field">
            {{ form_widget(form.amount) }}
            {{ form_label(form.amount) }}
        </div>
    </div>
    <div class="input-field city col s3">
        <div class="errors">
            {{ form_errors(form.mode) }}
        </div>
        {{ form_widget(form.mode) }}
        {{ form_label(form.mode) }}
    </div>
</div>
