<div class="row">
    <div class="input-field col s12 m6 offset-m3">
        <div class="errors">
            {{ form_errors(form.email) }}
        </div>
        <div class="input-field">
            <i class="material-icons prefix">email</i>
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
        </div>
    </div>
    <div class="col s12 m5 card teal lighten-5">
        <div class="row card-content">
            <div class="col s12">
                <h4>Nouvelle adhésion</h4>
                <div class="errors">
                    {{ form_errors(form.amount) }}
                    {{ form_errors(form.mode) }}
                </div>
            </div>
            <div class="input-field col s2">
                <div class="input-field">
                    {{ form_widget(form.amount) }}
                    {{ form_label(form.amount) }}
                </div>
            </div>
            <div class="input-field col s10">
                <div class="input-field">
                    {{ form_widget(form.mode) }}
                    {{ form_label(form.mode) }}
                </div>
            </div>
            <div class="col s12">
                <div style="display: none">
                    {{ form_label(form.beneficiaries_emails) }}
                </div>
                <div class="errors">
                {{ form_errors(form.beneficiaries_emails) }}
                </div>
                <div id="beneficiaries-emails-fields-list"
                    data-prototype="{{ form_label(form.beneficiaries_emails.vars.prototype)|e }}{{ form_widget(form.beneficiaries_emails.vars.prototype)|e }}"
                    data-widget-tags="{{ '<div class="input-field"></div>'|e }}"
                    data-widget-counter="{{ form.beneficiaries_emails.children|length }}">
                    {% for emailField in form.beneficiaries_emails %}
                        <div>
                            <div class="errors">
                            {{ form_errors(emailField) }}
                            </div>
                            {{ form_widget(emailField) }}
                        </div>
                    {% endfor %}
                </div>
                <a href="#" class="add-another-collection-widget blue-grey-text" data-list-selector="#beneficiaries-emails-fields-list"><i class="material-icons left">add_circle</i>ajouter un second beneficiaire ?</a>
                <script>
                    var max_b = {{ maximum_nb_of_beneficiaries_in_membership }};
                    $(document).ready(function() {
                        jQuery(document).ready(function () {
                            jQuery('#appbundle_anonymous_beneficiary_mode').change(function () {
                                var $amount = jQuery('#appbundle_anonymous_beneficiary_amount');
                                if (jQuery(this).val()==='{{ constant('AppBundle\\Entity\\Registration::TYPE_HELLOASSO') }}'){
                                    var old_val = $amount.val();
                                    $amount.data('old-amount',old_val);
                                    $amount.val('--');
                                    $amount.attr('disabled','disabled');
                                }else if ($amount.is(':disabled')){
                                    var old_val = $amount.data('old-amount');
                                    $amount.val(old_val);
                                    $amount.removeAttr('disabled');
                                }
                            });
                            jQuery('.add-another-collection-widget').click(function (e) {
                                e.preventDefault();
                                var list = $($(this).attr('data-list-selector'));
                                // Try to find the counter of the list or use the length of the list
                                var counter = list.data('widget-counter') | list.children().length;

                                // grab the prototype template
                                var newWidget = list.attr('data-prototype');
                                // replace the "__name__" used in the id and name of the prototype
                                // with a number that's unique to your emails
                                // end name attribute looks like name="contact[emails][2]"
                                newWidget = newWidget.replace(/__name__/g, counter);
                                // Increase the counter
                                counter++;
                                // And store it, the length cannot be used if deleting widgets is allowed
                                list.data('widget-counter', counter);

                                // create a new list element and add it to the list
                                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                                newElem.appendTo(list);
                                if ((max_b-1)<=counter){
                                    $(this).hide();
                                }
                            });
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="col s12 m2 center-align">
        <h4>ou</h4>
    </div>
    <div class="col s12 m5 card indigo lighten-5">
        <div class="row card-content">
            <div class="col s12">
                <h4>Ajout à une adhésion existante</h4>
            </div>
            <div class="col s12">
                <div class="errors">
                    {{ form_errors(form.join_to) }}
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">person_add</i>
                    {{ form_widget(form.join_to) }}
                </div>
            </div>
        </div>
    </div>

</div>
