Bonjour {{ code.registrar.firstname }},<br>
{% if codes | length < 1 %}
Oups, aucun code n'est noté comme actif. Essai d'ouvrir le boîtier avec le code <strong>0000</strong><br>
{% else %}
Pour ouvrir le boitier, le code en cours est <strong>{{ codes[0].value }}</strong>.<br>
{% endif %}
Une fois ouvert, il faut saisir le nouveau code <strong>{{ code.value }}</strong>
<br>
<br>
{% if wiki_keys_url %}
    Retrouve la <a href="{{ wiki_keys_url }}">procédure complète</a> sur le wiki.
    <br>
{% endif %}
Une fois le code changé, merci de valider l'opération en <a href="{{ changeCodeUrl }}">cliquant ici</a>.