Bonjour {{ firstname }}, et merci pour ta ré-adhésion.<br>
Malheureusement ton email {{ email }} nous est inconnu ! <br>
Impossible donc de faire le lien avec ton compte à {{ project_name }}. <br><br>
Merci de nous aider à te retrouver parmis les membres en cliquant sur : <a href="{{ url }}">{{ url }}</a>.<br><br>
Céleste, la petite fée des créneaux (et aussi des adhésions) :)

