{% set frontend_cookie = app.request.cookies.get('frontend') | json_decode %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon-lelefan.png') }}" />
        <style>
            .homebox{
                border-color: {{ main_color }};
            }
        </style>
    </head>
    <body>
        <header>
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div class="navbar-fixed">
                    <nav class="impersonate">
                        <div class="brand-logo">
                            <img src="{{ asset('build/images/emoticons/072-ninja.svg') }}" alt="accès interdit">
                        </div>
                        <div class="nav-wrapper">
                            <ul class="right">
                                <li>
                                    <a href="{{ path('member_show', {'member_number': app.user.beneficiary.membership.memberNumber,'_login_as': '_exit'}) }}"><i class="material-icons small right">arrow_back</i>Quitter le login as {{ app.user.username }}</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {% endif %}
            <nav class="main-navigation" role="navigation" style="background-color: {{ main_color }}">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="{{ path('homepage') }}" class="brand-logo hide-on-med-and-down">{{ site_name }}</a>
                    <a id="logo-container" href="{{ path('homepage') }}" class="brand-logo hide-on-large-only">{{ project_name }}</a>
                    <ul class="right hide-on-med-and-down" id="nav-desktop">
                        {% if is_granted("ROLE_ADMIN_PANEL") %}
                            <li class="highlight"><a href="{{ path("admin") }}" class=""><i class="material-icons left">build</i>
                                    <span class="show-on-xl-only">administration</span>
                                </a></li>
                        {% endif %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ render(controller("App\\Controller\\ServiceController::navlistAction")) }}
                            {% if app.user.beneficiary %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <i class="material-icons small left">settings</i>
                                    <small class="show-on-xl-only">{{ app.user.firstname }}</small>
                                </a>
                            </li>
                            {% endif %}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small right">exit_to_app</i>
                                </a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                    </ul>

                    <ul id="nav-mobile" class="sidenav">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% set frozen =  app.user.beneficiary and app.user.beneficiary.membership.frozen %}
                            <li><div class="user-view center-align">
                                    <div class="background">
                                        {% if  frozen %}
                                            <img src="{{ asset('build/images/frozen.png') }}" alt="">
                                        {% else %}
                                            <img src="{{ asset('build/images/dumbo-in-the-air.jpg') }}" alt="">
                                        {% endif %}
                                    </div>
                                    <a href="#user"><img class="circle" src="{{ gravatar(app.user.email) }}"></a>
                                    <a href="#name"><span class="{% if not frozen %}white-text{% else %}black-text{% endif %} name">{{ app.user }}</span></a>
                                </div>
                            </li>
                            <li><a href="{{ path('homepage') }}"><i class="material-icons small">home</i>
                                    Accueil
                                </a></li>
                            {% if app.user.beneficiary %}
                            <li><a href="{{ path('fos_user_profile_show') }}"><i class="material-icons">settings</i>
                                    Mon profil ({{ app.user.username}})</a></li>
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN_PANEL") %}
                                <li class="indigo lighten-5"><a href="{{ path("admin") }}" class=""><i class="material-icons left indigo-text darken-4">build</i>
                                        Administration
                                    </a></li>
                            {% endif %}
                            {{ render(controller("App\\Controller\\ServiceController::navlistAction")) }}
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons small">exit_to_app</i>
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a></li>
                            {% if is_granted("ROLE_ADMIN_PANEL") %}
                                <li><a href="{{ path("admin") }}" class="waves-effect waves-light btn"><i class="material-icons left">settings</i>
                                        Administration
                                    </a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" data-target="nav-mobile" class="button-collapse sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </header>
        <main>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if frozen %}
                    <div class="wrapper blue lighten-5">
                        <strong class="deep-purple-text"><i class="material-icons">pause</i>Adhésion en pause</strong>.
                        {% if not app.user.beneficiary.membership.frozenChange %}
                            Pour dégeler ton compte, visite <a href="{{ path('fos_user_profile_show') }}" class="">ton profil <i class="material-icons tiny">settings</i></a>
                        {% else %}
                            Dégel programmé.
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            {% set _breadcrumps = block('breadcrumps') %}
            {% if _breadcrumps is not empty %}
            <div class="wrapper breadcrumbs blue-grey lighten-5">
                <div class="col s12">
                    {% block breadcrumps %}
                    {% endblock breadcrumps %}
                </div>
            </div>
            {% endif %}
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="row">
                            <div class="col s12">
                                <div class="card-panel teal {{ type }} lighten-1">
                                    <span class="white-text">{{ message|trans({}, 'FOSUserBundle')|raw }}</span>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block beforecontainer %}{% endblock %}
            <div class="container">
                <div class="section">

                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% block aftercontainer %}{% endblock %}

        </main>
        <footer class="page-footer" style="background-color: {{ main_color }}">
            <div class="footer-copyright">
                <div class="container">
                    © {{ 'now'|date('Y') }} Copyright {{ project_name }}
                    <a class="grey-text text-lighten-4 right" href="{{ project_url }}">{{ project_url_display }}</a>
                </div>
            </div>
        </footer>
        {% if is_granted('ROLE_ADMIN') %}
            <nav id="quick_search_nav" class="white">
                <div class="nav-wrapper">
                    <form id="quick_search_form" action="" method="post">
                        <div class="input-field">
                            <input id="quick_search" type="search" autocomplete="off">
                            <label class="label-icon" for="search"><i class="material-icons left">search</i></label>
                            <i class="material-icons" id="quick_search_close">close</i>
                            <ul class="autocomplete-content dropdown-content" style="display: none">
                            </ul>
                        </div>
                    </form>
                </div>
            </nav>
        {% endif %}

        {{ encore_entry_script_tags('app') }}
        <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/radial/gauge.min.js"></script>

        <script>
            $(document).ready(function() {
                $('select').formSelect();
                $('.sidenav').sidenav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true, // Choose whether you can drag to open on touch screens,
                    onOpenStart: function(el) { /* Do Stuff */ }, // A function to be called when sideNav is opened
                    onCloseStart: function(el) { /* Do Stuff */ }, // A function to be called when sideNav is closed
                });
                $('.modal').modal({
                    ready: function (modal) {
                        $(modal).find('.simplemde-container').trigger('modalOpen'); //tell markdown editor to refresh
                    },
                });
                $('.tooltipped').tooltip();
                $(".dropdown-button").dropdown();
                $('.collapsible').collapsible();
            });
        </script>

        <script>
            var process_update_count_unread_url = "{{ path("process_update_count_unread") }}";
        </script>

        {% if is_granted('ROLE_ADMIN') %}
            <script>
                var search_url = "{{ path('search') }}";
            </script>
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
