<h5>Mes créneaux à venir</h5>
<p>Mon cycle actuel commence le {{ app.user.startOfCycle(1)|date_fr_long }} et termine le {{ app.user.endOfCycle(1)|date_fr_long }}</p>
<p>{% if (app.user.remainingToBook(1, true)|duration_from_minutes == 0) %}
       <i class="material-icons">stars</i> Bravo ! Tous tes créneaux ont été planifiés sur le cycle actuel !
    {% else %}
        Tu as encore <b>{{ app.user.remainingToBook(1, true)|duration_from_minutes }}</b> de bénévolat à planifier pour ce cycle
    {% endif %}
</p>

<div class="row">
{% for cycle in 1..2 %}
    {% for shift in app.user.getFutureShiftsOfCycle(cycle) %}
    {% if  cycle > 1 and loop.index == 1 and ( app.user.endOfCycle(cycle-1) | date('Ymd') ) < (shift.shift.start | date('Ymd') ) %}
        <hr class="col s12">
    {% endif %}
    <div class="col m6 s12 {% if (app.user.getFutureShiftsOfCycle(cycle) | length) < 2 %}push-m3{% endif %}">
        <div class="card {% if (shift.getIsDismissed()) %}orange darken-4{% else %}cyan darken-4{% endif %}">
            <div class="card-content white-text">
                <span class="card-title">{{ shift.getShift().start|date_fr_long }}</span>
                <p>De {{ shift.getShift().start|date('H:i') }} à {{ shift.getShift().end|date('H:i') }}</p>
                {% if (shift.getIsDismissed()) %}
                    <p>Créneau annulé, en attente de repreneur</p>
                {% endif %}
            </div>
            {% if (not shift.getIsDismissed()) %}
                <div class="card-action">
                    <a href="#dismiss{{ shift.id }}" class="modal-trigger">Oups, je ne vais pas pouvoir effectuer mon créneau...</a>
                </div>
                <div id="dismiss{{ shift.id }}" class="modal">
                    <form action="{{ path('shift_dismiss',{'id':shift.id}) }}" method="post">
                        <div class="modal-content">
                            <h4>Je ne peux pas faire mon créneau</h4>
                            <p>Attention! En vous désistant d'un créneau réservé, vous devrez attendre qu'un autre membre le reprenne
                                pour pouvoir vous inscrire de nouveau.</p>
                            <div class="input-field">
                                <textarea id="reason" name="reason" class="materialize-textarea"></textarea>
                                <label for="reason">Justification éventuelle</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!"
                               class="modal-action modal-close waves-effect waves-green btn-flat red-text ">Annuler</a>
                            <button class="modal-action modal-close waves-effect waves-green btn teal ">Valider</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endfor %}
</div>

<a href="{{ path("booking") }}" class="btn teal" {% if (not app.user.canBook()) %}disabled{% endif %}>Je réserve un créneau {% if (app.user.remainingToBook(1)|duration_from_minutes == 0) and app.user.canBook() %} pour le cycle suivant {% endif %}</a>

{% if (app.user.getFutureRebookedShifts() | length) != 0 %}<h5>Mes créneaux annulés et repris par un autre bénévole</h5>{% endif %}

<div class="row">
{% for bookedshift in app.user.getFutureRebookedShifts() %}
    <div class="col m6 s12 {% if (app.user.getFutureRebookedShifts() | length) < 2 %}push-m3{% endif %}">
        <div class="card green lighten-5">
            <div class="card-content green-text">
                <span class="card-title">{{ bookedshift.getShift().start|date_fr_long }}</span>
                <p>De {{ bookedshift.getShift().start|date('H:i') }} à {{ bookedshift.getShift().end|date('H:i') }}</p>
                <p>Créneau repris</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
