<h4 class="header center">Mes créneaux à venir</h4>

{% for shift in app.user.getFutureShifts() %}
    <div>
        <div class="card {% if (shift.getIsDismissed()) %}orange darken-4{% else %}cyan darken-4{% endif %}">
            <div class="card-content white-text">
                <span class="card-title">{{ shift.getShift().start|date('d/m/Y') }}</span>
                <p>De {{ shift.getShift().start|date('H:i') }} à {{ shift.getShift().end|date('H:i') }}</p>
                {% if (shift.getIsDismissed()) %}
                    <p>Créneau annulé, en attente de repreneur</p>
                {% endif %}
            </div>
            {% if (not shift.getIsDismissed()) %}
                <div class="card-action">
                    <a href="#dismiss{{ shift.id }}" class="modal-trigger">Oops, je ne vais pas pouvoir effectuer mon
                        créneau...</a>
                </div>
                <div id="dismiss{{ shift.id }}" class="modal modal-fixed-footer">
                    <form action="{{ path('shift_dismiss',{'id':shift.id}) }}" method="post">
                        <div class="modal-content">
                            <h4>Je ne peux pas faire mon créneau</h4>
                            <p>Attention! En vous désistant sur un créneau, vous devrez attendre que quelqu'un reprenne
                                votre créneau pour pouvoir vous réinscrire sur un nouveau.</p>
                            <div class="input-field">
                                <textarea id="reason" name="reason" class="materialize-textarea"></textarea>
                                <label for="reason">Commentaire</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!"
                               class="modal-action modal-close waves-effect waves-green btn-flat ">Annuler</a>
                            <button class="modal-action modal-close waves-effect waves-green btn-flat ">Valider</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endfor %}

<p>J'ai {{ app.user.remainingToBook(1)|duration_from_minutes }} de bénévolat à faire {% if app.user.endOfCycle(1)%}avant
        le {{ app.user.endOfCycle(1)|date_fr_long }}{% else %}pour mon premier cycle{% endif %}</p>
<a href="{{ path("booking") }}" class="btn" {% if (not app.user.canBook()) %}disabled{% endif %}>Je réserve un créneau</a>

