<div
        data-offset="{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60) }}"
        data-length="{{ (100/(end-start+1)) }}"
        style="padding: 0 1px;width:{{ (bucket.duration / 60) * (100/(end-start+1)) }}%;position: absolute;
                left:{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60)*(100/(end-start+1)) }}%;
                top: {{ line*10 }}px;">
        <div class="z-depth-1 grey lighten-1 white-text" style="height:40px;position: relative; cursor: not-allowed">

            <div style="font-size: 11px;padding:3px;width: 100%;" >
                {{ bucket.start|date('G\\hi') }}<br>
                {{ bucket.end|date('G\\hi') }}
            </div>
        </div>
</div>
