{% set nbShifts = bucket.shifts | length %}
{% set nbBookableShifts = shift_service.getBookableShifts(bucket) | length %}
{% set nbBookedShifts = nbShifts - nbBookableShifts %}
<div class="tooltipped" data-tooltip="{{ bucket.sortedShifts.first.job.name }} - {% if nbBookableShifts == 0 %}complet{% else %}inaccessible pour {{ beneficiary.firstname }}{% endif %}"
        data-offset="{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60) }}"
        data-length="{{ (100/(end-start+1)) }}"
        style="padding: 0 1px;width:{{ (bucket.duration / 60) * (100/(end-start+1)) }}%;position: absolute;
                left:{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60)*(100/(end-start+1)) }}%;
                top: {{ line*10 }}px;">
    <div class="z-depth-1 grey lighten-3" style="height:40px;position: relative; cursor: not-allowed">

        <div class="shift-block grey-text text-lighten-1">
            <i class="material-icons tiny">lock</i><span class="small hide-on-med-and-up" style="font-size: 10px">
                    {% if bucket.start|date('i') == '00' %}{{ bucket.start|date('G\\h') }}{% else %}{{ bucket.start|date('G\\hi') }}{% endif %}
                {% if bucket.end|date('i') == '00' %}{{ bucket.end|date('G\\h') }}{% else %}{{ bucket.end|date('G\\hi') }}{% endif %}
                </span>
            <span class="hide-on-small-and-down">{{ bucket.start|date('G\\hi') }} - {{ bucket.end|date('G\\hi') }}</span>
        </div>
        <div class="shift-block">
            <div class="hide-on-med-and-down">
                {% for shift in bucket.sortedShifts %}
                    <span class="{% if not shift.lastShifter %}grey-text{% else %}grey-text text-lighten-2{% endif %}">
                        {% if not shift.formation %}
                            <i class="material-icons shifter">{% if shift.shifter or shift.lastShifter %}radio_button_checked{% else %}radio_button_unchecked{% endif %}</i>
                        {% else %}
                            <i class="material-icons shifter">{% if shift.shifter or shift.lastShifter %}account_circle{% else %}person_outline{% endif %}</i>
                        {% endif %}
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
