<div class="card sticky-action {% if (shift.getIsDismissed()) %}orange lighten-2{% elseif (shift.getIsCurrent()) %} deep-purple white-text {% elseif (shift.getIsPast()) %} {% else %} cyan darken-4 white-text{% endif %}">
    <div class="card-content">
        <span class="card-title activator">{{ shift.start|date_fr_long }} de {{ shift.start|date('H:i') }} à {{ shift.end|date('H:i') }}</span>
        <p>
            <i class="material-icons">person</i>{{ shift.shifter.firstname }} / <b class="{{ shift.job.color }}-text">{{ shift.job.name }}</b>
            {% if use_fly_and_fixed %}
                <br>
                Type : <b>{% if shift.fixe %} Fixe {% else %} Volant {% endif %}</b>
            {% endif %}
            {% if shift.formation != null %}<br>Formation : <b>{{ shift.formation }}</b>{% endif %}
        </p>
    </div>
    {% if (shift.getIsCurrent()) %}
        <div class="card-action">
            <a href="#contact{{ shift.id }}" id="more{{ shift.id }}" class="modal-trigger"><i class="material-icons right">more</i></a><span>créneau en cours</span>
        </div>
    {% elseif (shift.getIsPast()) %}
        <div class="card-action">
            <i class="material-icons tiny">check</i><span>effectué</span>
        </div>
    {% else %}
        {% if (shift.getIsDismissed() ) %}
            <div class="card-action">
                <a href="#undismiss{{ shift.id }}" class="modal-trigger btn-flat green truncate white-text">reprendre<span class="hide-on-med-and-down"> mon créneau</span></a>
            </div>
            <div id="undismiss{{ shift.id }}" class="modal black-text">
                <div class="modal-content">
                    <h5>Confirmation</h5>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Retour</a>
                    <a href="#"
                       class="modal-action modal-close waves-effect waves-green btn teal"
                       onclick="$('#form_shift_id').val({{ shift.id }});$('#undismiss_shift').submit();">Oui, je reprends<span class="hide-on-med-and-down"> mon créneau</span></a>
                </div>
            </div>

            {{ form_start(undismiss_shift_form,{ 'attr' : { 'id' : 'undismiss_shift'}}) }}
            {{ form_widget(undismiss_shift_form) }}
            {{ form_end(undismiss_shift_form) }}

        {% else %}
            <div class="card-action">
                <a href="#dismiss{{ shift.id }}" class="modal-trigger btn-flat red white-text">Annuler</a>
                {% if (shift.getIsUpcoming()) %}
                    <a href="#contact{{ shift.id }}" class="modal-trigger btn-flat" title="Contacter les bénévoles du créneau"><i class="material-icons">email</i></a>
                {% endif %}
            </div>
            <div id="dismiss{{ shift.id }}" class="modal black-text">
                <form action="{{ path('shift_dismiss',{'id':shift.id}) }}" method="post">
                    <div class="modal-content">
                        <h5>Je ne peux pas faire mon créneau</h5>
                        <div class="input-field">
                            <textarea id="reason" name="reason" class="materialize-textarea"></textarea>
                            <label for="reason">Justification éventuelle</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!"
                           class="modal-action modal-close waves-effect waves-green btn-flat grey-text ">Retour à la raison</a>
                        <button class="modal-action modal-close waves-effect waves-green btn red ">Oui, je me désiste !</button>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}

</div>
{% if (shift.getIsUpcoming() or shift.getIsCurrent()) %}
    {{ render(controller("AppBundle:Default:shiftContactForm",{'shift':shift})) }}
{% endif %}