<div class="card center sticky-action {% if (shift.isCurrent) %}deep-purple white-text{% elseif (shift.isPast) %}grey lighten-2{% else %}cyan darken-4 white-text{% endif %}">
    <div class="card-content">
        {% include "user/_partial/shift_card_header.html.twig" with { shift: shift } %}
    </div>
    {% if shift.isPastOrCurrent %}
        {% if shift.isCurrent %}
            <div class="card-action">
                <a href="#contact{{ shift.id }}" id="more{{ shift.id }}" class="modal-trigger" title="Contacter les bénévoles du créneau"><i class="material-icons right">email</i></a>
                <span>créneau en cours</span>
            </div>
            {% endif %}
        {% if use_card_reader_to_validate_shifts %}
            {% include "user/_partial/shift_card_validation_status.html.twig" with { shift: shift } %}
        {% endif %}
    {% else %}
        {% if not shift.fixe or shift.isUpcoming %}
            <div class="card-action">
                {% if not shift.fixe %}
                    <a href="#dismiss{{ shift.id }}" class="modal-trigger btn-flat red white-text" title="Annuler">Annuler</a>
                {% endif %}
                {% if shift.isUpcoming %}
                    <a href="#contact{{ shift.id }}" class="modal-trigger btn-flat" title="Contacter les bénévoles du créneau"><i class="material-icons">email</i></a>
                {% endif %}
            </div>
            <div id="dismiss{{ shift.id }}" class="modal black-text">
                {{ form_start(shift_dismiss_forms[shift.id]) }}
                    <div class="modal-content">
                        <h5>Je ne peux pas faire mon créneau</h5>
                        <div class="input-field">
                            {{ form_label(shift_dismiss_forms[shift.id].reason) }}
                            {{ form_errors(shift_dismiss_forms[shift.id].reason) }}
                            {{ form_widget(shift_dismiss_forms[shift.id].reason) }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey-text">Annuler</a>
                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn red">Oui, je me désiste !</button>
                    </div>
                {{ form_end(shift_dismiss_forms[shift.id]) }}
            </div>
        {% endif %}
    {% endif %}
</div>
{% if (shift.isUpcoming or shift.isCurrent) %}
    {{ render(controller("AppBundle:Default:shiftContactForm", { "shift": shift })) }}
{% endif %}
