{% set nbShifts = bucket.shifts | length %}
{% set bookableShifts = shift_service.bookableShifts(bucket, beneficiary) %}
{% set nbBookableShifts = bookableShifts | length %}
{% set nbBookedShifts = nbShifts - nbBookableShifts %}
{% set firstBookable = shift_service.firstBookable(bucket, beneficiary) %}

<div id="book{{ firstBookable.id }}" class="modal">
    <div class="modal-content">
        <h5>Réserver ce créneau / <span class="{{ firstBookable.job.color }}-text">{{ firstBookable.job.name }}</span></h5>
        <h6>{{ bucket.start | date_fr_long }} de {{ bucket.start | date('G\\hi') }} à {{ bucket.end | date('G\\hi') }}</h6>

        {% if not shift_service.canBookDuration(beneficiary, bucket.getFirst.getDuration, cycle) %}
            <div class="alert card red lighten-4 red-text text-darken-4">
                <div class="card-content">
                    {% if not shift_service.canBookDuration(beneficiary, shift_service.getMinimalShiftDuration, cycle) %}
                        <span class="card-title">Attention, tu as déjà fait ton quota d'heures sur ce cycle.</span>
                        <p>Ce créneau ne sera pas comptabilisé dans ton calcul d'heures car seul un maximum de {{ due_duration_by_cycle | duration_from_minutes }} est comptabilisé par cycle.</p>
                    {% else %}
                        <span class="card-title">Attention, avec ce créneau tu dépasseras les {{ due_duration_by_cycle | duration_from_minutes }} de bénévolat sur ton cycle.</span>
                        <p>Ce créneau ne sera qu'en partie comptabilisé dans ton calcul d'heures, car seul un maximum de {{ due_duration_by_cycle | duration_from_minutes }} est comptabilisé par cycle.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if bookableShifts | length == 1 %}
            {% if not firstBookable.formation and beneficiary.formations | length %}
                <div class="card-panel teal warning">
                    <span class="white-text">
                        <i class="material-icons">warning</i>
                        Ce créneau n'est <b>pas</b> qualifié.
                        <br>
                        {{ beneficiary.firstname }} a {% if beneficiary.formations | length == 1 %}une formation{% else %}des formations{% endif %} ({{ beneficiary.formations | join(', ')}}).
                        <br>
                        Tes compétences sont précieuses, pense si possible à les valoriser sur <b>un créneau qualifié</b>.
                    </span>
                </div>
            {% endif %}
        {% endif %}

        {% if beneficiary.membership.beneficiaries | length < 1 %}
            <p>Vous n'avez pas de bénéficiares</p>
        {% else %}
            {% if display_name_shifters %}
                {% if nbBookableShifts < nbShifts %}
                    <p>Places déjà occupées : </p>
                    {% for shift in bucket.sortedShifts() %}
                        <div>
                            {% if shift.shifter %}
                                <i style="color: #5f5a5a; font-weight: 400;">
                                    {{ shift.shifter.firstname }}&nbsp;{{ shift.shifter.lastname|first|upper }}.
                                    {% if shift.formation %}
                                        ({{ shift.formation.name }})
                                    {% endif %}
                                </i>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <p>Nombre de places restantes : {{ nbBookableShifts }}/{{ nbShifts }}</p>
            {% for bookableShift in bookableShifts %}
                <div>
                    {{ bookableShift.getShifter() }}
                    <label for="{{ bookableShift.id }}" style="color: #5f5a5a; font-weight: 600;">
                        <input type="radio" id="{{ bookableShift.id }}" class="checkedFormation" name="formation" value="{{ bookableShift.id }}" />
                        {% if bookableShift.formation %}
                            <span>{{ bookableShift.formation.name }}</span>
                        {% else %}
                            <span>sans formation particulière</span>
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
            {% if use_fly_and_fixed %}
                <p>Ce créneau sera fait en tant que :</p>
                <div>
                    <label for="volant{{ firstBookable.id }}" style="color: #5f5a5a; font-weight: 600;">
                        <input type="radio" id="volant{{ firstBookable.id }}" class="checkedTypeService" name="typeService" value=0 />
                        <span>volant (une seule fois)</span>
                    </label>
                </div>
            {% else %}
                <input type="hidden" name="typeService" value=0 />
            {% endif %}
            <div style="position: fixed;top:0;width: 100%;left: 0;">
                {% if nbBookableShifts < nbShifts %}
                    {% for shifter in 1..nbBookedShifts %}
                        <div class="green lighten-2 left" style="height:10px; width: {{ 100/(nbShifts) }}%"></div>
                    {% endfor %}
                {% endif %}
            </div>
            <p>
                Attention ! Cette inscription vous engage.
                <br>
                Pour pouvoir annuler, votre créneau devra trouver repreneur.
            </p>
        {% endif %}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text" onclick="cancelAll()">Annuler</a>
        {% if beneficiary.membership.beneficiaries | length >= 1 %}
            <button id="confirmButton" onclick="postSelectedId({{ beneficiary.id }})" class="waves-effect waves-green btn teal">Confirmer</button>
        {% endif %}
    </div>
</div>
