<div
        {% set nbShifts = bucket.shiftsCount(beneficiary) %}
        {% set nbBookableShifts = bucket.bookableShiftsCount(beneficiary) %}
        {% set nbBookedShifts = nbShifts - nbBookableShifts %}
        data-offset="{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60) }}"
        data-length="{{ (100/(end-start+1)) }}"
        style="padding: 0 1px;width:{{ (bucket.duration / 60) * (100/(end-start+1)) }}%;position: absolute;
                left:{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60)*(100/(end-start+1)) }}%;
                top: {{ line*10 }}px;">
    <a href="#book{{ bucket.firstBookable(beneficiary).id }}"
       class="modal-trigger tooltipped" data-position="top" data-delay="100"
       data-tooltip="{{ bucket.firstBookable(beneficiary).job.name }}">
        <div class="z-depth-1 {{ bucket.firstBookable(beneficiary).job.color }} {% if nbBookableShifts > 1 %}lighten-{{ min(4, nbBookedShifts + 1) }} {% endif %}black-text"
             style="height:40px;position: relative">
            <div class="shift-block">
                {{ bucket.start|date('G\\hi') }} - {{ bucket.end|date('G\\hi') }}
                {% if bucket.isBookable(beneficiary) and bucket.firstBookable(beneficiary).isDismissed %}
                    <div style="position: absolute;right: 4px;top: 4px;"><i class="material-icons tiny">star_border</i>
                    </div>
                {% endif %}
            </div>
            <div class="shift-block">
                {% if nbBookedShifts != 0 %}
                    {% for shifter in 1..nbBookedShifts %}
                        <span><i class="material-icons tiny">person</i></span>
                    {% endfor %}
                {% endif %}
                {% if nbBookableShifts != 0 %}
                    {% for shifter in 1..nbBookableShifts %}
                        <span><i class="material-icons tiny">person_outline</i></span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </a>
</div>

{% if bucket.isBookable(beneficiary) %}
    {% include "booking/_partial/modal.html.twig" with { beneficiary: beneficiary, user: app.user, bucket: bucket } %}
{% endif %}
