<div
        data-offset="{{ (((shift.start|date('G')-start)*60 + shift.start|date('i'))/60) }}"
        data-length="{{ (100/(end-start+1)) }}"
        style="padding: 0 1px;width:{{ (shift.duration / 60) * (100/(end-start+1)) }}%;position: absolute;
                left:{{ (((shift.start|date('G')-start)*60 + shift.start|date('i'))/60)*(100/(end-start+1)) }}%;
                top: {{ line*10 }}px;">
    <a {% if remaining != 0
           and (not shift.booker or shift.booker.id == app.user.id)
           and (shift.start > app.user.endOfCycle(1) or shift.duration() <= app.user.remainingToBook(1))
           and (shift.start < app.user.startOfCycle(2) or shift.duration() <= app.user.remainingToBook(2)) %}href="#book{{ shift.id }}"{% endif %}
       class="modal-trigger">
        <div class=" white-text z-depth-2" style="height:40px;">
            <div style="height:100%; width: 100%;position: absolute;">
            {% for shifter in 1..shift.maxShiftersNb  %}
                {% if loop.index <= remaining %}
                    <div class="{% if (remaining == 0)
                        or (not shift.booker or shift.booker.id == app.user.id)
                        or (shift.start <= app.user.endOfCycle(1) and shift.duration() > app.user.remainingToBook(1))
                        or (shift.start > app.user.startOfCycle(2) and shift.duration() > app.user.remainingToBook(2))%}grey {% else %}orange {% if shift.getRemainingShifters() > 1 %}darken-{{ min(4, shift.getRemainingShifters() - 1) }} {% endif %}{% endif %} left"
                         style="height:100%; width: {{ 100/shift.maxShiftersNb }}%"></div>
                {% else %}
                    <div class="grey lighten-3 left" style="height:100%; width: {{ 100/shift.maxShiftersNb }}%"></div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="row" style="font-size: 11px;padding:3px;position: absolute;">
                <div class="col s6">{{ shift.start|date('G\\hi') }}</div>
                <div class="col s6 right">
                    &nbsp;
                    {% if shift.isDismissed | length > 0 %}
                        <i class="material-icons">star</i>
                    {% endif %}
                </div>
                <div class="col s6">{{ shift.end|date('G\\hi') }}</div>
            </div>
        </div>
    </a>
</div>

{% include "booking/_partial/modal.html.twig" with { user: app.user, shift: shift, remaining: remaining  } %}
