<div
{% set nbShifts = bucket.shiftsCount(beneficiary) %}
{% set nbBookableShifts = bucket.bookableShiftsCount(beneficiary) %}
{% set nbBookedShifts = nbShifts - nbBookableShifts %}
        data-offset="{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60) }}"
        data-length="{{ (100/(end-start+1)) }}"
        style="padding: 0 1px;width:{{ (bucket.duration / 60) * (100/(end-start+1)) }}%;position: absolute;
                left:{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60)*(100/(end-start+1)) }}%;
                top: {{ line*10 }}px;">
    <a {% if bucket.isBookable(beneficiary) %}
        href="#book{{ bucket.firstBookable(beneficiary).id }}"
    {% endif %}
       class="modal-trigger tooltipped" data-position="top" data-delay="100" data-tooltip="{{ bucket.firstBookable(beneficiary).job.name }}">
        <div class="z-depth-1 {% if bucket.firstBookable(beneficiary) is null %}grey {% else %}{{ bucket.firstBookable(beneficiary).job.color }} {% if nbBookableShifts > 1 %}lighten-{{ min(4, nbBookedShifts + 1) }} {% endif %}{% if nbBookedShifts > 1 %}black-text {% else %}white-text {% endif %}{% endif %}" style="height:40px;position: relative">
            <div style="height:2px; width: 100%;position: absolute;">
                {% for shifter in 1..nbBookableShifts %}
                    {% if loop.index <= nbBookableShifts %}
                        <div class="green lighten-3 left"
                             style="height:100%; width: {{ 100/(nbShifts) }}%"></div>
                    {% else %}
                        <div class="grey lighten-3 left"
                             style="height:100%; width: {{ 100/(nbShifts) }}%"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div style="font-size: 11px;padding:3px;width: 100%;" >
                {{ bucket.start|date('G\\hi') }}<br>
                {{ bucket.end|date('G\\hi') }}
                {% if bucket.isBookable(beneficiary) and bucket.firstBookable(beneficiary).isDismissed %}
                    <div style="position: absolute;right: 4px;top: 4px;"><i class="material-icons tiny">star_border</i></div>
                {% endif %}
            </div>
        </div>
    </a>
</div>

{% if bucket.isBookable(beneficiary) %}
    {% include "booking/_partial/modal.html.twig" with { beneficiary: beneficiary, user: app.user, bucket: bucket } %}
{% endif %}
