<div
        data-offset="{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60) }}"
        data-length="{{ (100/(end-start+1)) }}"
        style="padding: 0 1px;width:{{ (bucket.duration / 60) * (100/(end-start+1)) }}%;position: absolute;
                left:{{ (((bucket.start|date('G')-start)*60 + bucket.start|date('i'))/60)*(100/(end-start+1)) }}%;
                top: {{ line*10 }}px;">
    <a {% if bucket.isBookable(app.user) %}
        href="#book{{ bucket.firstBookable(app.user).id }}"
    {% endif %}
       class="modal-trigger">
        <div class="z-depth-1 {% if bucket.firstBookable(app.user) is null %}grey {% else %}{{ bucket.firstBookable(app.user).job.color }} {% if bucket.getRemainingBookable(app.user) > 1 %}lighten-{{ min(4, bucket.getRemainingBookable(app.user) - 1) }} {% endif %}{% if bucket.getRemainingBookable(app.user) > 2 %}black-text {% else %}white-text {% endif %}{% endif %}" style="height:40px;position: relative">
            <div style="height:2px; width: 100%;position: absolute;">
                {% for shifter in 1..bucket.getRemainingBookable(app.user) %}
                    {% if loop.index <= bucket.getRemainingBookable(app.user) %}
                        <div class="green lighten-3 left"
                             style="height:100%; width: {{ 100/(bucket.shifts|length) }}%"></div>
                    {% else %}
                        <div class="grey lighten-3 left"
                             style="height:100%; width: {{ 100/(bucket.shifts|length) }}%"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div style="font-size: 11px;padding:3px;width: 100%;" >
                {{ bucket.start|date('G\\hi') }}<br>
                {{ bucket.end|date('G\\hi') }}
                {% if bucket.isBookable(app.user) and bucket.firstBookable(app.user).isDismissed %}
                    <div style="position: absolute;right: 4px;top: 4px;"><i class="material-icons tiny">star_border</i></div>
                {% endif %}
            </div>
        </div>
    </a>
</div>

{% if bucket.isBookable(app.user) %}
    {% include "booking/_partial/modal.html.twig" with { user: app.user, bucket: bucket } %}
{% endif %}
