<div
        data-offset="{{ (((shift.start|date('G')-start)*60 + shift.start|date('i'))/60)}}"
        data-length="{{ (100/(end-start+1)) }}"
        style="padding: 0 1px;width:{{ (shift.duration / 60) * (100/(end-start+1)) }}%;position: absolute;left:{{ (((shift.start|date('G')-start)*60 + shift.start|date('i'))/60)*(100/(end-start+1)) }}% ">
    <a {% if shift.getRemainingShifters() != 0 %}href="#book{{ shift.id }}"{% endif %} class="modal-trigger">
        <div class="{% if shift.getRemainingShifters() == 0 %}grey {% else %}orange {% if shift.getRemainingShifters() > 1 %}darken-{{ min(4, shift.getRemainingShifters() - 1) }} {% endif %}{% endif %} white-text z-depth-2">
            <div class="" style="font-size: 11px;padding:3px">
                <div>{{ shift.start|date('G\\hi') }} - {{ shift.end|date('G\\hi') }}</div>
                <div><i>{{ shift.getRemainingShifters() }} places</i></div>
            </div>
        </div>
    </a>
</div>

<div id="book{{ shift.id }}" class="modal modal-fixed-footer">
    <form action="{{ path('shift_book',{'id':shift.id}) }}" method="post">
        <div class="modal-content">
            <h4>Réserver le créneau</h4>
            <div>

            </div>
            <p>Vous êtes sur le point...</p>
            <p>Attention! Vous ne pourrez annuler....</p>
            <div class="input-field">
                <select name="beneficiaryId">
                    {% for beneficiary in user.beneficiaries %}
                        <option value="{{ beneficiary.id }}">{{ beneficiary.firstname }}</option>
                    {% endfor %}
                </select>
                <label>Choisir le bénéficiaire</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!"
               class="modal-action modal-close waves-effect waves-green btn-flat ">Annuler</a>
            <button class="modal-action modal-close waves-effect waves-green btn-flat ">Réserver
            </button>
        </div>
    </form>
</div>
