{% extends 'layout.html.twig' %}

{% block title %}Ajouter une comission - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_commissions') }}"><i class="material-icons">list</i>&nbsp;Liste des commissions</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Ajouter
{% endblock %}

{% block content %}
    <h4>Nouvelle commission</h4>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br />
    <div>
        <button type="submit" class="btn waves-effect waves-light">Créer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
