{% extends 'layout.html.twig' %}

{% block title %}Nouveau code boîtier - {{ site_name }}{% endblock %}

{% block content %}
    <h4 class="">Changer le code</h4>
    {{ form_start(form) }}

    <div class="row">
        <div class="input-field col s12 m6 l4">
            {{ form_widget(form.code) }}
            {{ form_label(form.code) }}
        </div>
        <div class="col s12">
            <div class="errors">
                {{ form_errors(form.close_old_codes) }}
            </div>
            <div class="">
                {{ form_widget(form.close_old_codes) }}
                {{ form_label(form.close_old_codes) }}
            </div>
        </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">add</i>Valider</button>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}