{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('user_office_tools') }}"><i class="material-icons">build</i><span class="hide-on-small-and-down">Outils adhésion et ré-adhésion</span></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('ambassador_phone_list') }}"><i class="material-icons">list</i><span class="hide-on-small-and-down">Liste des retardataires</span></a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">phone</i><span>Fiche membre</span>
{% endblock %}

{% block content %}
    <img src="{{ gravatar(user.email) }}" alt="{{ user.mainBeneficiary.firstname }} {{ user.mainBeneficiary.lastname }}" class="circle responsive-img">
    <h4 class="">#{{ user.memberNumber }} {{ user.mainBeneficiary.firstname }} {{ user.mainBeneficiary.lastname }}</h4>
    <div class="row">
        {% for beneficiary in user.beneficiaries %}
            {% include "user/_partial/beneficiary_card.html.twig" with { beneficiary: beneficiary, phone_only: true } %}
        {% endfor %}
    </div>
    {% if user.notes | length %}
    <h5>Note{% if user.notes | length > 1 %}s{% endif %} à propos de ce membre</h5>
        {%  for note in user.notes %}
            {% include "ambassador/phone/_note.html.twig" with { note: note } %}
        {% endfor %}
    {% endif %}
    {{ form_start(note_form) }}
    <div class="input-field text col s12">
        <div class="errors">
            {{ form_errors(note_form.text) }}
        </div>
        <div class="input-field">
            {{ form_widget(note_form.text) }}
            {{ form_label(note_form.text) }}
        </div>
    </div>
    <div>
        <button type="submit" class="btn waves-effect waves-light">Ajouter une note</button>
    </div>
    {{ form_end(note_form) }}
    {% if is_granted("ROLE_ADMIN") %}
        <h5>Actions admin</h5>
        <a href="{{ path("user_edit",{"username":user.username}) }}" class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Editer</a>
    {% endif %}

{% endblock %}
