{% extends 'layout.html.twig' %}

{% block title %}
    Contenus dynamiques
{% endblock %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">list</i>contenus dynamiques
{% endblock %}

{% block content %}
    <h4 class="">Contenus dynamiques</h4>
    <div class="row">
        {% for dynamicContent in dynamicContents %}
            <div class="col s12 m4">
                <div class="card blue-grey darken-1 small">
                    <div class="card-content white-text">
                        <span class="card-title"><i class="material-icons left">content_paste</i>{{ dynamicContent.name }}</span>
                        {{ dynamicContent.description }}
                    </div>
                    <div class="card-action">

                        <div class="left">
                            <a href="{{ path("dynamic_content_edit",{'id':dynamicContent.id}) }}"><i class="material-icons left">edit</i>Editer</a>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
