{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('booking_admin') }}"><i class="material-icons">date_range</i>&nbsp;Créneaux admin</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;&nbsp;Editer
{% endblock %}

{% block content %}
    <h4> Editer créneau / <span class="{{ shift.job.color }}-text">{{ shift.job.name }}</span></h4>
    <h5>{{ shift.start|date_fr_long }} de {{ shift.start|date('G\\hi') }} à {{ shift.end|date('G\\hi') }}</h5>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Enregistrer</button
    </div>
    {{ form_end(form) }}
{% endblock %}
