{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">add</i>Ajouter un créneau ponctuel
{% endblock %}

{% block content %}
    <h4 class="">Ajouter un créneau ponctuel</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn-large waves-effect waves-light">Créer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>

        jQuery.extend( jQuery.fn.pickadate.defaults, {
            monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
            monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
            weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
            weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
            today: 'Aujourd\'hui',
            clear: 'Effacer',
            close: 'Fermer',
            firstDay: 1,
            format: 'yyyy-mm-dd',
            formatSubmit: 'yyyy-mm-dd',
            labelMonthNext:"Mois suivant",
            labelMonthPrev:"Mois précédent",
            labelMonthSelect:"Sélectionner un mois",
            labelYearSelect:"Sélectionner une année"
        });



        jQuery(function(){
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 2, // Creates a dropdown of 15 years to control year,
                close: 'Ok',
                closeOnSelect: true // Close upon selecting a date,
            });
        });

        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: false, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Effacer', // text for clear-button
            canceltext: 'Annuler', // Text for cancel-button
            autoclose: true, // automatic close timepicker
            ampmclickable: true, // make AM PM clickable
            aftershow: function(){} //Function for after opening timepicker
        });

    </script>

{% endblock %}