{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">list</i>formations
{% endblock %}

{% block content %}
    <h4 class="">Liste des Formations</h4>

    <table class="responsive-table striped">
        <thead>
        <tr>
            <th>Role</th>
            <th>Nombre de membres</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.name }}</td>
                <td>{{ formation.beneficiaries | length }}</td>
                <td><a href="{{ path("formation_edit",{'id':formation.id}) }}">editer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('formation_new') }}" class="btn"><i class="material-icons left">add</i>Ajouter une formation</a>

{% endblock %}
