{% extends 'layout.html.twig' %}

{% block title %}Editer un événement - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin_event_index') }}"><i class="material-icons">event</i>&nbsp;Événements</a><i class="material-icons">chevron_right</i>
<i class="material-icons">edit</i>&nbsp;Editer
{% endblock %}

{% block content %}
<h4>Editer un événement</h4>

{{ form_start(form) }}
{% include "/admin/event/_partial/form.html.twig" with { form: form, edit: true, event: event } %}
<button type="submit" class="btn waves-effect waves-light" title="Enregistrer">
    <i class="material-icons left">save</i>Enregistrer
</button>
{{ form_end(form) }}

{% if is_granted("ROLE_ADMIN") %}
    {% if event.needProxy %}
        <ul>
            <li>
                <a href="{{ path("admin_event_proxies_list",{'id':event.id}) }}"><i class="material-icons">list</i>Procurations</a>
            </li>
            <li>
                <a href="{{ path("admin_event_signatures",{'id':event.id}) }}"><i class="material-icons">list</i>Emargement</a>
            </li>
        </ul>
    {% endif %}

    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn waves-effect waves-light red" onclick="return confirm('Etes-vous sûr ?!');">
        <i class="material-icons left">delete</i>Supprimer
    </button>
    {{ form_end(delete_form) }}
{% endif %}
{% endblock %}

{% block stylesheets %}
<style>
    .vich-image {
        max-height: 300px;
        overflow: auto;
    }
</style>
{% endblock %}
