{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">list</i>evenements
{% endblock %}

{% block content %}
    <h4 class="">Liste des evenements</h4>
    <div class="row">
        {% for event in events %}
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"><i class="material-icons left">event</i>{{ event.title }}</span>
                        <i>{{ event.date | date('d F Y H:i') }}</i>
                        {{ event.description | markdown | raw }}
                    </div>
                    <div class="card-action">
                        <div class="left">
                            <a href="{{ path("event_edit",{'id':event.id}) }}"><i class="material-icons left">edit</i>Editer</a>
                        </div>
                        <div>
                            <a href="{{ path("event_proxies_list",{'id':event.id}) }}"><i class="material-icons left">list</i>Procurations</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path("proxies_list") }}" class="btn"><i class="material-icons left">list</i>Toutes les procurations</a>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a href="{{ path('event_new') }}" class="btn"><i class="material-icons left">add</i>Ajouter un événement</a>
    {% endif %}

{% endblock %}
