{% extends 'layout.html.twig' %}

{% block title %}Ajouter un événement - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('event_index') }}"><i class="material-icons">event</i>&nbsp;Événements</a><i class="material-icons">chevron_right</i>
<i class="material-icons">add</i>&nbsp;Ajouter
{% endblock %}

{% block content %}
<h4>Nouvel événement</h4>

{{ form_start(form) }}
<div class="errors">
    {{ form_errors(form) }}
</div>
<div class="row">
    <div class="col m6">
        {{ form_row(form.title) }}
    </div>
    <div class="col m6">
        {{ form_row(form.kind) }}
    </div>
</div>
<div class="row">
    <div class="col m6">
        {{ form_row(form.date) }}
    </div>
    <div class="col m6">
        {{ form_row(form.end) }}
    </div>
</div>
<div class="row">
    {{ form_row(form.description) }}
</div>
<div class="row">
    {{ form_row(form.imgFile) }}
</div>
<a href="{{ path('event_index') }}" class="waves-effect waves-light btn red white-text" title="Annuler">Annuler</a>
<button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Créer</button>
{{ form_end(form) }}
{% endblock %}
