{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/markdown-editor/editor.css') }}" />
{% endblock %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('event_list') }}"><i class="material-icons">list</i>événements</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">add</i>événement
{% endblock %}

{% block content %}

    <h4 class="">Nouvel événement</h4>

    {{ form_start(form) }}
    <div class="row">
        <div class="col s6">
            <div class="errors">
                {{ form_errors(form.title) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.title) }}
                {{ form_label(form.title) }}
            </div>
        </div>
        <div class="col s3">
            <div class="errors">
                {{ form_errors(form.date) }}
            </div>
            <div class="input-field">
                {{ form_widget(form.date) }}
                {{ form_label(form.date) }}
            </div>
        </div>
    </div>
    <div class="errors">
        {{ form_errors(form.description) }}
    </div>
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    <div>
        <button type="submit" class="btn-large waves-effect waves-light">Créer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/markdown-editor/editor.js') }}"></script>
    <script src="{{ asset('bundles/app/markdown-editor/marked.js') }}"></script>
    <script>
        jQuery.extend( jQuery.fn.pickadate.defaults, {
            monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
            monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
            weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
            weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
            today: 'Aujourd\'hui',
            clear: 'Effacer',
            close: 'Fermer',
            firstDay: 1,
            format: 'yyyy-mm-dd',
            formatSubmit: 'yyyy-mm-dd',
            labelMonthNext:"Mois suivant",
            labelMonthPrev:"Mois précédent",
            labelMonthSelect:"Sélectionner un mois",
            labelYearSelect:"Sélectionner une année"
        });

        jQuery(function(){
            $('#appbundle_event_date_date').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 2, // Creates a dropdown of 15 years to control year,
                close: 'Ok',
                closeOnSelect: true // Close upon selecting a date,
            });
            $('#appbundle_event_date_time').pickatime({
                twelvehour: false, // Use AM/PM or 24-hour format
                donetext: 'OK', // text for done-button
                cleartext: 'Effacer', // text for clear-button
                canceltext: 'Fermer', // Text for cancel-button
                autoclose: true, // automatic close timepicker
                ampmclickable: false, // make AM PM clickable
            });
        });

        new Editor({
            element: document.getElementById('appbundle_event_description'),
        })
    </script>
{% endblock %}