
<div class="col s12 m12">
    <div class="card white center event">
        {% if event.img %}
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ event|img('imgFile','card') }}" />
            </div>
        {% endif %}
        <div class="card-content black-text">
            <span class="activator card-title"><i class="material-icons left">event</i>{{ event.title }}<i class="material-icons right">more_vert</i></span>
            <h6><i>{{ event.date | date_fr_long }} {{ event.date | date('H:i') }}</i></h6>
        </div>
        <div class="card-action">
            {% if event.needProxy %}
                {% if not app.user.beneficiary or not app.user.beneficiary.membership or not app.user.beneficiary.membership.lastRegistration %}
                    <span>Oups, nous n'avons enregistré aucune adhésion pour ton compte. Tu ne pourras pas voter pour cet événement.</span>
                {% else %}
                    {% set proxy_given = event | givenProxy %}
                    {% set proxy_received = event | receivedProxy %}
                    {% if proxy_given is not null %}
                        {% if proxy_given.owner is null %}
                            <span>Procuration donnée au premier membre volontaire</span>
                        {% else %}
                            <span>Procuration donnée à &nbsp;<b>{{ proxy_given.owner.user.firstname }} {{ proxy_given.owner.user.lastname }}</b></span>
                        {% endif %}
                    {% endif %}
                    {% if proxy_received is not null %}
                        {% if proxy_received.giver %}
                            <span>Procuration portée par <b>{{ proxy_received.owner.user.firstname }}</b> de la part de&nbsp;<b>{{ proxy_received.giver.mainBeneficiary.user.firstname }} {{ proxy_received.giver.mainBeneficiary.user.lastname }}</b></span>
                        {% else %}
                            <span><b>{{ proxy_received.owner.user.firstname }}</b> accepte une procuration. <a href="{{ path("event_proxy_lite_remove",{'event':event.id,'proxy':proxy_received.id}) }}" class="red-text">X</a></span>
                        {% endif %}
                    {% endif %}
                    {% if proxy_received is null and proxy_given is null %}
                        <a class="activator waves-effect waves-light btn orange hide-on-small-only" href="#" onclick="return false;"><i class="material-icons">list</i> Donner / recevoir une procuration</a>
                        <a class="activator waves-effect waves-light btn orange hide-on-med-and-up" href="#" onclick="return false;"><i class="material-icons">list</i>Procurations</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <a href="{{ path("event_edit",{'id':event.id}) }}" class="btn"><i class="material-icons">edit</i> Editer</a>
            {% endif %}
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ event.title }}<i class="material-icons right">close</i></span>
            <h6><i>{{ event.date | date_fr_long }} {{ event.date | date('H:i') }}</i></h6>
            <div>
                {{ event.description | markdown | raw }}
            </div>
            {% if event.needProxy %}
                {% if not app.user.beneficiary or not app.user.beneficiary.membership or not app.user.beneficiary.membership.lastRegistration %}
                    <b>Oups, nous n'avons enregistré aucune adhésion pour ton compte. Tu ne pourras pas voter pour cet événement.</b>
                {% else %}
                    {% set proxy_given = event | givenProxy %}
                    {% set proxy_received = event | receivedProxy %}
                    {% if app.user.beneficiary.membership.lastRegistration.date < event.minDateOfLastRegistration %}
                        <b>Oups</b>, seuls les membres qui ont adhéré ou ré-adhéré <b>après le {{ event.minDateOfLastRegistration | date('d M Y') }}</b> peuvent voter à cet événement.
                        <br>Pense à mettre à jour ton adhésion pour participer ! :)
                    {% else %}
                        <ul>
                            {% if proxy_given is not null %}
                                {% if proxy_given.owner is null %}
                                    <li>Procuration donnée au premier volontaire</li>
                                {% else %}
                                    <li>Procuration donnée à &nbsp;<b>{{ proxy_given.owner.user.firstname }} {{ proxy_given.owner.user.lastname }}</b></li>
                                {% endif %}
                            {% endif %}

                            {% if proxy_received is not null %}
                                {% if proxy_received.giver %}
                                    <li>Procuration portée par <b>{{ proxy_received.owner.user.firstname }}</b> de la part de&nbsp;<b>{{ proxy_received.giver.mainBeneficiary.user.firstname }} {{ proxy_received.giver.mainBeneficiary.user.lastname }}</b></li>
                                {% else %}
                                    <li><b>{{ proxy_received.owner.user.firstname }}</b> accepte une procuration. <a href="{{ path("event_proxy_lite_remove",{'event':event.id,'proxy':proxy_received.id}) }}" class="red-text">X</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        {% if proxy_given is null and proxy_received is null %}
                            <a href="{{ path("event_proxy_give",{'id':event.id}) }}" class="waves-effect waves-light btn purple hide-on-small-only">Je ne peux pas venir, je fais une procuration</a>
                            <a href="{{ path("event_proxy_give",{'id':event.id}) }}" class="waves-effect waves-light purple-text hide-on-med-and-up">Je ne peux pas venir, je fais une procuration</a>
                            <a href="{{ path("event_proxy_take",{'id':event.id}) }}" class="waves-effect waves-light btn green hide-on-small-only">Je viens, j'accepte une procuration</a>
                            <a href="{{ path("event_proxy_take",{'id':event.id}) }}" class="waves-effect waves-light green-text hide-on-med-and-up">Je viens, j'accepte une procuration</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>