{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn waves-effect waves-light">Générer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
