{% extends 'layout.html.twig' %}

{% block content %}
    <div class="section">
        <div class="container">
            <h4>Bonjour {{ app.user.firstname }} !</h4>
            <p>Enchanté de faire ta connaissance. Pour commencer, choisi ton mot de passe.</p>
            {{ form_start(form) }}
            <div class="row">
                <div class="input-field city col s12 m6">
                    <div class="errors">
                        {{ form_errors(form.password) }}
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        {{ form_widget(form.password) }}
                        {{ form_label(form.password) }}
                    </div>
                </div>
                <div class="input-field city col s12 m6">
                    <div class="errors">
                        {{ form_errors(form.password_repeat) }}
                    </div>
                    <div class="input-field">
                        {{ form_widget(form.password_repeat) }}
                        {{ form_label(form.password_repeat) }}
                    </div>
                </div>
                <div class="col s12">
                    <button type="submit" class="btn-large waves-effect waves-light teal"><i class="material-icons left">check</i>Définir mon mot de passe</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
