{% extends 'layoutlight.html.twig' %}

{% block breadcrumps %}
{% endblock %}

{% block content %}
    {% set more_than_one = false %}
    {% if beneficiary.membership.beneficiaries | length > 1 %}
        {% set more_than_one = true %}
    {% endif %}
    {% set pass = true %}
    {% if counter < -3*due_duration_by_cycle or beneficiary.membership.frozen or not beneficiary.user.enabled or beneficiary.membership.withdrawn or not beneficiary.membership | uptodate %}
        {% set pass = false %}
    {% endif %}
    <div class="container">
        <h3 class="header center-align">{{ random(['Bonjour', 'Salut', 'Coucou', 'Hola','Bienvenue','Hello']) }} {{ beneficiary.firstname }} !</h3>

        {% if pass %}
        <p class="center-align">{% if more_than_one %}Votre{% else %}Ton{% endif %} compteur temps est à <strong>{{ counter | duration_from_minutes }}</strong></p>
        {% endif %}

        <div class="row">
            {% if pass %}
            <div class="col s6">
                {% if counter > due_duration_by_cycle %}
                    {#we love you#}
                    <img src="{{ asset('build/images/love.svg') }}" alt="we love you">
                {% elseif counter == due_duration_by_cycle %}
                    {#all good#}
                    <img src="{{ asset('build/images/good.svg') }}" alt="all good">
                {% elseif counter < due_duration_by_cycle and counter >=0 %}
                    {#fair enough#}
                    <img src="{{ asset('build/images/thumbup.svg') }}" alt="fair enough">
                {% else %}{# < 0 = retard #}
                    {#Oups#}
                    <img src="{{ asset('build/images/bad.svg') }}" alt="Oups">
                {% endif %}
            </div>
            {% else %}
                <div class="col s3">

                </div>
            {% endif %}
            <div class="col s6">
                {% if not pass %}
                    <img src="{{ asset('build/images/donotenter.svg') }}" alt="accès interdit">
                {% else %}
                    <img src="{{ asset('build/images/enter.svg') }}" alt="accès autorisé">
                {% endif %}
            </div>
        </div>
        {% if pass %}
            {% if counter > due_duration_by_cycle %}
                <p class="center-align">Wha ! c'est trop d'amour ! merci !! <img src="{{ asset('build/images/emoticons/028-heart-1.svg') }}" alt="<3"></p>
            {% endif %}
            {% if counter < due_duration_by_cycle and counter >=0 %}
                <p class="center-align">Pense à reserver les {{ (due_duration_by_cycle - counter) | duration_from_minutes }} qu'il {% if more_than_one %}vous{% else %}te{% endif %} manque <img src="{{ asset('build/images/emoticons/002-wink.svg') }}" alt=";)"></p>
            {% endif %}
            {% if counter == due_duration_by_cycle %}
                <p class="center-align">Tout roule, passe un bon moment à {{ project_name }} ! <img src="{{ asset('build/images/emoticons/015-smile-1.svg') }}" alt=":)"></p>
            {% endif %}
            {% if counter < 0 %}
                <p class="center-align">Oups, {% if more_than_one %}vous êtes{% else %}tu es{% endif %} en retard ! il {% if more_than_one %}vous{% else %}te{% endif %} reste {{ (due_duration_by_cycle - counter) | duration_from_minutes }} à réserver !! </p>
            {% endif %}
        {% else %}
            {% if counter < -3*due_duration_by_cycle %}
                <p class="center-align"><strong>Oups, {% if more_than_one %}vous êtes{% else %}tu es{% endif %} vraiment trop en retard sur ton devoir !</strong>
                    <br>
                    <img src="{{ asset('build/images/emoticons/019-shocked-1.svg') }}" alt=":o">
                <p class="center-align">{% if more_than_one %}Votre{% else %}Ton{% endif %} compteur temps est à <strong>{{ counter | duration_from_minutes }} !!!</strong></p>
            {%  elseif beneficiary.membership.frozen %}
                <p class="center-align"><strong>{% if more_than_one %}Votre{% else %}Ton{% endif %} compte est gelé !</strong> Tu ne peux pas faire tes courses aujourd'hui !
                    <br>
                    <img src="{{ asset('build/images/emoticons/021-sad.svg') }}" alt=":(">
                {% if beneficiary.membership.frozenChange %}
                    <p class="center-align">Le degel est programmé, il sera effectif le {{ beneficiary.user.endOfCycle(0) | date_fr_long }}</p>
                {% else %}
                    <p class="center-align">Rendez vous sur {% if more_than_one %}votre{% else %}ton{% endif %} espace membre pour programmer le degel !</p>
                {% endif %}
            {%  elseif not beneficiary.user.enabled or beneficiary.membership.withdrawn %}
                <p class="center-align"><strong>{% if more_than_one %}Votre{% else %}Ton{% endif %} compte est fermé !</strong> Mais je suis content de te voir revoir quand même !
                    <br>
                    <img src="{{ asset('build/images/emoticons/066-ghost.svg') }}" alt=":(">
            {%  elseif not beneficiary.membership | uptodate %}
                <p class="center-align"><strong>Oups, {% if more_than_one %}votre{% else %}ton{% endif %} adhésion n'est plus à jour !</strong>
                    <br>
                    <img src="{{ asset('build/images/emoticons/019-shocked-1.svg') }}" alt=":o">
                <p class="center-align">Rendez-vous au bureau de membres régulariser tout ça !</p>
            {% endif %}
            <style>
                body{
                    background: rgba(255, 73, 0, 0.2);
                }
            </style>
        {% endif %}
    </div>
    <a id="close" href="{{ path("cardReader") }}" class="black-text"><i class="material-icons large">close</i></a>

{% endblock %}

{% block javascripts %}
    <script>
        window.setTimeout(function(){
            window.location.href = "{{ path("cardReader") }}";
        }, 10000);//10sec

        //can scan another barcode
        var barcode_submit_url="{{ path('check') }}";
        initSwipeCode(barcode_submit_url);
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        p{
            font-size: 25px;
        }
        .emoticon{
            max-width: 50px;
        }
        #close{
            position: fixed;
            top: 1em;
            right: 1em;
            display: block;
            text-align: center;
        }
    </style>
{% endblock %}
