{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('user_office_tools') }}"><i class="material-icons">build</i><span class="hide-on-small-and-down">Outils adhésion et ré-adhésion</span></a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">add</i><span>Nouvelle adhésion réunion info</span>
{% endblock %}

{% block content %}
    <h3>Adhésion rapide</h3>

    {#<p>Pour une adhésion <span style="text-decoration: underline;">future</span>, choisir <span style="text-decoration: underline;">Helloasso</span> : la personne recevra un lien pour finaliser et payer son adhésion en ligne.</p>#}
    {{ form_start(form) }}
    {% include "user/_partial/user_quick_form.html.twig" with { form: form } %}
    <div>
        <button type="submit" class="btn-large waves-effect waves-light teal"><i class="material-icons left">check</i>Valider</button>
        <br>
        <a href="{{ path("user_office_tools") }}" class="btn-large white blue-grey-text"><i class="material-icons left">arrow_back</i>Retour</a>
    </div>
    <div class="" style="display: none">
        {{ form_widget(form) }}
    </div>
    {{ form_end(form) }}

{% endblock %}
