{% for beneficiary in app.user.beneficiary.membership.beneficiaries %}
    {% if beneficiary.SwipeCards | length and not beneficiary.SwipeCards.first.Enable and not beneficiary.SwipeCards.first.DisabledAt %}
        {% set card = beneficiary.SwipeCards.first %}
        <div class="row">
            <div class="col s12 m12">
                <div class="card-panel white center">
                    <h5>Activer le badge pour {{ beneficiary.firstname }}</h5>
                    <form action="{{ path('active_swipe')}}" method="post">
                        <input type="hidden" name="card_id" value="{{ card.id }}">
                        <div class="swiftcard_exemple">
                            {{ ( "01234567" | barcode | raw) }}
                            <canvas id="badge_{{ card.id }}_canvas" class="focus" width="158" height="40"></canvas>
                        </div>
                        <script>
                            var canvas = document.getElementById('badge_{{ card.id }}_canvas');
                            var context = canvas.getContext('2d');
                            var centerX = 0;
                            var centerY = 0;
                            var radius = 15;
                            // save state
                            context.save();
                            // translate context
                            context.translate(canvas.width / 2, canvas.height / 2);
                            // scale context horizontally
                            context.scale(3, 1);
                            // draw circle which will be stretched into an oval
                            context.beginPath();
                            context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
                            // restore to original state
                            context.restore();
                            // apply styling
                            context.lineWidth = 3;
                            context.strokeStyle = 'red';
                            context.stroke();
                        </script>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" name="code" />
                                <label for="code">Code du badge à 8 chiffres</label>
                            </div>
                            <div class="col s6">
                                <br>
                                <button type="submit" class="waves-effect waves-light btn-flat green white-text">Activer le badge</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}