{% extends 'layout.html.twig' %}

{% block breadcrumps %}
    <a href="{{ path('homepage') }}"><i class="material-icons">home</i></a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('admin') }}"><i class="material-icons">tune</i>admin</a> <i class="material-icons">chevron_right</i>
    <a href="{{ path('dynamic_content_list') }}"><i class="material-icons">list</i>contenus dynamiques</a> <i class="material-icons">chevron_right</i>
    <i class="material-icons">edit</i>
{% endblock %}

{% block content %}

    <h4 class="">Modifier le contenu dynamique</h4>
    <h5 class="">{{ dynamicContent.name }}</h5>
    {{ form_start(form) }}
    <div class="errors">
        {{ form_errors(form.content) }}
    </div>
    {{ form_widget(form.content) }}
    <div>
        <button type="submit" class="btn"><i class="material-icons left">check</i>Enregistrer</button>
        <a href="{{ path("dynamic_content_list") }}" class="btn white blue-grey-text"><i class="material-icons left">arrow_back</i>Retour</a>
    </div>
    {{ form_end(form) }}

{% endblock %}