{% extends 'layout.html.twig' %}

{% block title %}Editer le contenu dynamique - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('dynamic_content_list') }}"><i class="material-icons">list</i>&nbsp;Contenus dynamiques</a><i class="material-icons">chevron_right</i>
<i class="material-icons">edit</i>&nbsp;Editer
{% endblock %}

{% block content %}
    <h4>Editer le contenu dynamique</h4>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn"><i class="material-icons left">check</i>Enregistrer</button>
        <a href="{{ path("dynamic_content_list") }}" class="btn white red-text"><i class="material-icons left">arrow_back</i>Retour</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
