{% extends 'layout.html.twig' %}

{% block title %}Liste des utilisateurs admin - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<i class="material-icons">list</i>&nbsp;Liste des utilisateurs admin
{% endblock %}

{% block content %}
    <h4>Liste des utilisateurs admin ({{ admins | length }})</h4>

    <table class="striped">
        <thead>
        <tr>
            <th data-col="o.member_number">#</th>
            <th data-col="o.username">Username</th>
            <th data-col="u.email">Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>
                    {% if admin.beneficiary %}
                        <a href="{{ path('member_show', { 'member_number': admin.beneficiary.membership.memberNumber }) }}">
                            {{ admin.beneficiary.membership.memberNumber }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                <td>
                    {{ form_start(delete_forms[admin.id]) }}
                    {{ form_widget(delete_forms[admin.id]) }}
                    {% if admin.beneficiary %}
                        <a href="{{ path('user_remove_role', { 'id': admin.id, 'role': 'ROLE_ADMIN' }) }}" class="orange btn-floating small" title="Enlever le rôle">
                            <i class="material-icons left">arrow_downward</i>
                        </a>

                    {% else %}
                        <button type="submit" class="btn-floating waves-effect waves-light red" title="⚠️ Supprimer l'utilisateur ⚠️">
                            <i class="material-icons left">close</i>
                        </button>
                    {% endif %}
                    {{ form_end(delete_forms[admin.id]) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
