{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col s8 offset-s2">
            {{ form_start(form) }}
            {{ form_errors(form) }}
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Fichier csv</span>
                        {{ form_widget(form.submitFile) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                {{ form_widget(form.delimiter) }}
                <div class="switch">
                    <label>
                        Tester
                        {{ form_widget(form.persist) }}
                        <span class="lever"></span>
                        Sauver
                    </label>
                </div>
                {{ form_widget(form.compute, {'attr': {'class': 'btn waves-effect waves-light'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
