{% extends 'layout.html.twig' %}

{% block content %}
    <h3 class="center-align">Liste des membres ({{ nb_of_result }})</h3>

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">tune</i>Filtres</div>
            <div class="collapsible-body">
                {{ form_start(form) }}

                <div class="row">
                    <div class="col s12 m4">
                        <h5>Compte</h5>
                        <div class="row">
                            <div class="col s4">
                                fermé :
                                {{ form_widget(form.withdrawn) }}
                                {{ form_label(form.withdrawn) }}
                            </div>
                            <div class="col s4">
                                activé :
                                {{ form_widget(form.enabled) }}
                                {{ form_label(form.enabled) }}
                            </div>
                            <div class="col s4">
                                gelé :
                                {{ form_widget(form.frozen) }}
                                {{ form_label(form.frozen) }}
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col s3">
                                    <div class="input-field">
                                        {{ form_widget(form.membernumber) }}
                                        {{ form_label(form.membernumber) }}
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="input-field">
                                        {{ form_widget(form.membernumberdiff) }}
                                        {{ form_label(form.membernumberdiff) }}
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="input-field">
                                        {{ form_widget(form.membernumbergt) }}
                                        {{ form_label(form.membernumbergt) }}
                                    </div>
                                </div>
                                <div class="col s3">
                                    <div class="input-field">
                                        {{ form_widget(form.membernumberlt) }}
                                        {{ form_label(form.membernumberlt) }}
                                    </div>
                                </div>
                            </div>
                            <h5>Adhésion(s)</h5>
                            <div class="row">
                                <div class="col s4">
                                    <div class="input-field">
                                        {{ form_widget(form.registrationdate) }}
                                        {{ form_label(form.registrationdate) }}
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div class="input-field">
                                        {{ form_widget(form.registrationdategt) }}
                                        {{ form_label(form.registrationdategt) }}
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div class="input-field">
                                        {{ form_widget(form.registrationdatelt) }}
                                        {{ form_label(form.registrationdatelt) }}
                                    </div>
                                </div>
                            </div>
                            <h5>Dernière Adhésion</h5>
                            <div class="row">
                                <div class="col s4">
                                    <div class="input-field">
                                        {{ form_widget(form.lastregistrationdate) }}
                                        {{ form_label(form.lastregistrationdate) }}
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div class="input-field">
                                        {{ form_widget(form.lastregistrationdategt) }}
                                        {{ form_label(form.lastregistrationdategt) }}
                                    </div>
                                </div>
                                <div class="col s4">
                                    <div class="input-field">
                                        {{ form_widget(form.lastregistrationdatelt) }}
                                        {{ form_label(form.lastregistrationdatelt) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div>
                            <div class="input-field">
                                {{ form_widget(form.username) }}
                                {{ form_label(form.username) }}
                            </div>
                        </div>
                        <h5>Bénéficiaire(s)</h5>
                        <div class="input-field">
                            {{ form_widget(form.firstname) }}
                            {{ form_label(form.firstname) }}
                        </div>
                        <div class="input-field">
                            {{ form_widget(form.lastname) }}
                            {{ form_label(form.lastname) }}
                        </div>
                        <div class="input-field">
                            {{ form_widget(form.email) }}
                            {{ form_label(form.email) }}
                        </div>
                        <div class="">
                            Téléphone :
                            {{ form_widget(form.phone) }}
                            {{ form_label(form.phone) }}
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div>
                            <h5>Formations / Commissions</h5>
                            <div class="row">
                                <div class="input-field col s6">
                                    {{ form_widget(form.formations) }}
                                    {{ form_label(form.formations) }}
                                </div>
                                <div class="col s6 input-field">
                                    {{ form_widget(form.or_and_exp_formations) }}
                                    {{ form_label(form.or_and_exp_formations) }}
                                </div>
                            </div>
                            <div class="input-field">
                                {{ form_widget(form.commissions) }}
                                {{ form_label(form.commissions) }}
                            </div>
                        </div>
                        <div>
                            <h5>!Formations / !Commissions</h5>
                            <div class="input-field">
                                {{ form_widget(form.not_formations) }}
                                {{ form_label(form.not_formations) }}
                            </div>
                            <div class="input-field">
                                {{ form_widget(form.not_commissions) }}
                                {{ form_label(form.not_commissions) }}
                            </div>
                        </div>
                        <div>
                            <h5>Actions</h5>
                            {{ form_widget(form.submit) }}
                            {{ form_widget(form.csv) }}
                            {{ form_widget(form.mail) }}
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </li>
    </ul>
    </div> <!-- end div.section -->
    </div> <!-- end div.container -->
    <table class="highlight">
        <thead>
            <tr>
                <th class="hide-on-med-and-down">Etat</th>
                <th data-col="o.member_number">#</th>
                <th data-col="u.username">username</th>
                <th data-col="b.firstname">prénom</th>
                <th data-col="b.lastname">nom</th>
                <th data-col="b.email">email</th>
                <th class="hide-on-small-and-down" data-col="r.date">Adhésion(s)</th>
                <th class="hide-on-med-and-down">Formation(s)</th>
                <th class="hide-on-med-and-down">Commission(s)</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            {% if member.mainBeneficiary %}
                <tr class="{% if member.withdrawn %}withdrawn{% endif %} {% if member.frozen %}frozen{% endif %}" data-url="{{ path('member_show', { 'member_number': member.memberNumber }) }}" >
                    <td class="hide-on-med-and-down">
                        {% if not member.withdrawn %}
                            {% if not member.mainBeneficiary.user.isEnabled %}
                                <i class="material-icons">phonelink_off</i>
                            {% endif %}
                            {% if member.frozen %}
                                <i class="material-icons">notifications_paused</i>
                            {% endif %}
                        {% else %}
                                <i class="material-icons">do_not_disturb</i>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('member_show', { 'member_number': member.memberNumber }) }}">{{ member.memberNumber }}</a></td>
                    <td>{{ member.mainBeneficiary.user.username }}</td>

                    <td>
                        {% for beneficiary in member.beneficiaries %}
                            {{ beneficiary.firstname }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for beneficiary in member.beneficiaries %}
                            {{ beneficiary.lastname }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for beneficiary in member.beneficiaries %}
                            {{ beneficiary.email }}<br/>
                        {% endfor %}
                    </td>
                    <td class="hide-on-small-and-down">
                        {% for registration in member.registrations %}
                            {% if member.lastregistration %}
                                {% if registration.id == member.lastregistration.id %}<strong>{% else %}<del>{% endif %}
                                {{ registration.date | date('d/m/Y') }}
                                {% if registration.id == member.lastregistration.id %}</strong>{% else %}</del>{% endif %}
                                <br/>
                            {% else %}
                                {{ registration.date | date('d/m/Y') }}
                                /!\ need fix
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="hide-on-med-and-down">
                        {% for beneficiary in member.beneficiaries %}
                            {% for formation in beneficiary.formations %}
                                <div class="chip truncate">
                                    {{ formation.name }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td class="hide-on-med-and-down">
                        {% for beneficiary in member.beneficiaries %}
                            {% for commission in beneficiary.commissions %}
                                <div class="chip truncate">
                                    {{ commission.name }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr class="{% if member.withdrawn %}withdrawn{% endif %} {% if member.frozen %}frozen{% endif %}" data-url="{{ path('member_show', { 'member_number': member.memberNumber }) }}" >
                    <td colspan="9">{{ member.mainBeneficiary.user }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
<div class="container">
    <div class="section">
    {% if nb_of_pages > 1 %}
    <ul class="pagination">
        <li class="{% if(page==1) %}disabled{% else %}waves-effect{% endif %}">
            <a href="{% if(page==1) %}#!{% else %}{{ path("user_index",{'page':page-1}) }}{% endif %}" data-page="{{ page-1 }}">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        {% if nb_of_pages < 10 %}
            {% for i in range(1,nb_of_pages) %}
                <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("user_index",{'page':i}) }}" data-page="{{ i }}">{{ i }}</a></li>
            {% endfor %}
        {% else %}
            {% if page <= 3 %}
                {% for i in range(1,page+1) %}
                    <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("user_index",{'page':i}) }}" data-page="{{ i }}">{{ i }}</a></li>
                {% endfor %}
                <li>...</li>
                {% for i in range(nb_of_pages-1,nb_of_pages) %}
                    <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("user_index",{'page':i}) }}" data-page="{{ i }}">{{ i }}</a></li>
                {% endfor %}
            {% else %}
                {% if nb_of_pages - page <= 3 %}
                    {% for i in range(1,2) %}
                        <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("user_index",{'page':i}) }}" data-page="{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    <li>...</li>
                    {% for i in range(page-1,nb_of_pages) %}
                        <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("user_index",{'page':i}) }}" data-page="{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% else %}
                    {% for i in range(1,2) %}
                    <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("user_index",{'page':i}) }}" data-page="{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    <li>...</li>
                    {% for i in range(page-1,page+1) %}
                        <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("user_index",{'page':i}) }}" data-page="{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    <li>...</li>
                    {% for i in range(nb_of_pages-1,nb_of_pages) %}
                        <li class="{% if(page==i) %}active{% else %}waves-effect{% endif %}"><a href="{{ path("user_index",{'page':i}) }}" data-page="{{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
        <li class="{% if(page==nb_of_pages) %}disabled{% else %}waves-effect{% endif %}">
            <a href="{% if(page==nb_of_pages) %}#!{% else %}{{ path("user_index",{'page':page+1}) }}{% endif %}" data-page="{{ page+1}}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    <style>
        td strong{
            /*font-weight: 600;*/
        }
        th.active{
            color: #51CAE9;
        }
        tr.withdrawn{
            background: rgba(255, 50, 0, 0.2);
        }
        tr.frozen{
            background-color: rgba(0, 138, 255, 0.1);
            background-image: url({% image '@AppBundle/Resources/public/img/snowflakes.svg' %}{{ asset_url }}{% endimage %});
            background-position: top right;
            background-repeat: no-repeat;
            background-size: contain;
        }
        tr.frozen td{
            background-color: rgba(255, 255, 255, 0.5);
        }
        tbody tr{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        jQuery(function(){
            $('tr').click(function () {
               var url = $(this).data('url');
               if (url){
                   window.location = url;
               }
            });
            $('[type=submit]').click(function(e){
                e.preventDefault();
                $('#form_action').val($(this).val());
                $('form[name=form]').submit();
            });
            $('.pagination li:not(.disabled) a').click(function(e){
                e.preventDefault();
                $('#form_page').val($(this).attr('data-page'));
                $('form[name=form]').submit();
            });
            // $('select').on('change', function() {
            //     $('form[name=form]').submit();
            // });
            $('th[data-col]').click(function(e){
                e.preventDefault();
                if ($('#form_sort').val() === $(this).attr('data-col')){
                    $('#form_dir').val(($('#form_dir').val() === 'ASC') ? 'DESC' : 'ASC');
                }else{
                    $('#form_sort').val($(this).attr('data-col'));
                }
                $('th[data-col]').removeClass('active');
                $(this).addClass('active');
                $('form[name=form]').submit();
            });
            $('th[data-col="'+$('#form_sort').val()+'"]').addClass('active');
        });
    </script>
{% endblock %}
